{% extends 'base/root_base.html' %}
{% load breadcrumbs %}

{% block title %}パスワード変更 | Grand Blaze{% endblock %}

{%block head%}
<link href="{{ MEDIA_URL }}/css/root.css?{{publish_date}}" rel="stylesheet" type="text/css">
<link href="{{ MEDIA_URL }}/css/form.css?{{publish_date}}" rel="stylesheet" type="text/css">
{%endblock%}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb "パスワード変更" %}

{% endblock %}


{% block maincontents %}
<h1>パスワード変更</h1>

{% if messages %}
<section>
	<p class="ui-state-highlight ui-corner-all ui-inline-icon ui-wiget-p">
		{% for message in messages %}
		<span class="ui-icon ui-icon-info"></span>
		<strong>パスワード変更完了:</strong>
		{{message}}
		{% endfor %}
	</p>
</section>
{% endif %}

<section>
	<form action="{% url account_pass_reset_changer uidb36 token %}" method="POST">
		{% csrf_token %}
	<div class="form-widget">
	    <div>
    		<div class="key">
    			<label for="id_mod_password">
    				新しいパスワード
    			</label>
    		</div>
    		<div class="value">
    			{{ form.mod_password }}
    			{{ form.mod_password.errors }}
    		</div>
        </div>
        <div>
    		<div class="key">
    			<label for="id_mod_password_conf">
    				新しいパスワード（確認）
    			</label>
    		</div>
    		<div class="value">
    			{{ form.mod_password_conf }}
    			{{ form.mod_password_conf.errors }}
    		</div>
        </div>
        <div>
    		<div class="value value-only">
    			<input type="submit" value="パスワード変更" />
    		</div>
        </div>
	</div>
	</form>
</section>

{% endblock %}
