{% extends 'base/worldguide_base.html' %}
{% load breadcrumbs %}

{% block title %}ダナクス諸侯連合 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "世界背景" worldguide_index %}
{% breadcrumb "ダナクス諸侯連合" %}

{% endblock %}

{% block maincontents %}
<h1>ダナクス諸侯連合</h1>

<section>
    <h2>国家情報</h2>
    <table class="guide-list" summary="国家の基本情報一覧です。">
        <tr>
            <th>政体</th>
            <td>連合制</td>
        </tr>
        <tr>
            <th>元首</th>
            <td>ルクレチア・ツェセ</td>
        </tr>
        <tr>
            <th>政府</th>
            <td>主席博士：リセル・ダナ
            <br />
            議会：諸侯議会</td>
        </tr>
        <tr>
            <th>首都</th>
            <td>魔導都市ツェセシュタ</td>
        </tr>
        <tr>
            <th>民族構成</th>
            <td>ファルート 65%
            <br />
            エルヴ 15%
            <br />
            ドラクォ 10%</td>
        </tr>
        <tr>
            <th>言語</th>
            <td>共通語</td>
        </tr>
        <tr>
            <th>宗教</th>
            <td>カーネギウス教 85%
            <br />
            無宗教 8%
            <br />
            ほか</td>
        </tr>
        <tr>
            <th>主要輸出品</th>
            <td>魔導器、魔法紙、魔学書など</td>
        </tr>
    </table>
</section>

<section>
    <h2>有名人</h2>
    <h3>リセル・ダナ</h3>
    <p>（生年抹消） 天才的な頭脳を持った自称美少女天才博士。魔法に関する技術は誰もが認めるほどの実力だが、性格にはかなり難があり、様々なトラブルを好む。 </p>
    <h3>リカルド・ランス</h3>
    <p>（1725-）
    魔戦師団の団長。魔法学校を首席で卒業し、将来の魔導兵団の星と目されていたが、スカウトを蹴り、世界を回る旅に出る。後に改めて魔法戦士として魔戦師団に入団、団長となる。</p>
    <h3>ルイス・ハーン</h3>
    <p>（1724-） 魔導兵団の団長。魔法学校を次席で卒業したリカルドのライバルであり、親友。魔術の才能はリカルドに劣るが戦術面ではたぐいまれな才能を発揮する。</p>
</section>

<section>
    <h2>主な場所</h2>
    <h3>魔導都市ツェセシュタ</h3>
    <p>ダナクスで最も勢力の強いツェセ侯の治める都市であり、ダナクスの首都。ヘキサグラムの形をしており、都市そのものが魔法の力で守られている。魔法研究が盛ん。</p>
    <h3>喧噪響く街ペンデル</h3>
    <p>派手好きなペンデル候が治める常に喧噪でうるさい都市。非常に個性的な人々が暮らしており、好き勝手に建物が並ぶなどある種芸術的な街。</p>
    <h3>白き街エンセクトミア</h3>
    <p>白い壁や家で統一された景観の美しい街。ミア候が治める都市で、治安はよく、非常に住みやすい場所と好評の場所。観光が主な産業となっている。</p>
    <h3>薬草の村ペタ</h3>
    <p>近くで取れる薬草を利用した産業で生計を立てている人々が暮らす村。近年、工場生産の薬品に対抗しきれず、薬草士の数は減少傾向にある。</p>
    <h3>巡礼地シベレー</h3>
    <p>かつて聖シベレーの丘と言われていた聖なる巡礼地。現在ではモンスターの住処となっているが、今なお、護衛を雇い巡礼に訪れる旅人がいる。</p>
    <h3>ゼスト山岳</h3>
    <p>古くから山岳信仰の対象となっていた山。魔法銀とも言われるミスリル銀が数多く存在し、魔法の力も強い特別な場所。東側はなだらかな山道だが、西側は切り立った崖となっている。</p>
    <h3>聖草の森</h3>
    <p>聖草ロムネなど、数々の特効薬となる薬草が群生している森。かつてはモンスターのいない安全な場所であったが、近年モンスターが出現しだし、ペタの住人を悩ませている。</p>
    <h3>ル・ケプフ旧図書館</h3>
    <p>様々な書物が収められている巨大な図書館。内部にはいにしえの昔に設置されたと見られる警備のための魔法生物が数多く存在する。</p>
    <h3>大地の割れ目</h3>
    <p>かつて世界を襲った「大地の寝返り」によって生じた断層地帯。独特のとげを持った小型の動物マイン・ベアが数多く生息している。</p>
    <h3>静寂の村ロセクタ</h3>
    <p>音の無くなってしまった村。この村にはいると音を失ってしまうと言われる。</p>
</section>

<section>
    <h2>軍制</h2>
    <p>二つの軍隊とそれに付随するパペットや幻獣などの魔兵団で構成されている。直接戦闘と間接戦闘といった具合に役割がわかれている。</p>
    <h3>魔戦師団</h3>
    <p>魔法戦士のみで構成されている部隊。主に直接戦闘において先陣を切るなどの軍人としては花形の部隊。全員が魔法戦士であるため、あらゆる状況に対応できる。</p>
    <h3>魔導兵団</h3>
    <p>後方支援や情報収集など、戦闘における裏方の仕事を行う部隊。総合的な戦術を組み立てるのも主に彼らであり、陰の功労者たちである。</p>
</section>

{% endblock %}
