{% extends 'base/worldguide_base.html' %}
{% load breadcrumbs %}

{% block title %}精霊と守護者 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "世界背景" worldguide_index %}
{% breadcrumb "精霊と守護者" %}

{% endblock %}

{% block maincontents %}
<h1>精霊と守護者</h1>

<section>
    <h2>守護者</h2>
    <p>１２の神々から彼らにかわり世界を見守るように指示された幻獣が、いわゆる守護者である。守護者には次の８体がいると考えられている。</p>
    <h3>修羅の炎帝イグニート</h3>
    <p>火を守護しているガーディアン。筋肉がよくつき、赤茶けた日焼けをした逞しい男性としてよく描かれる。</p>
    <h3>氷花の乙女セルシウス</h3>
    <p>氷を守護しているガーディアン。氷を纏い、青白い透き通った肌をした女性としてよく描かれる。</p>
    <h3>風来の鬼神チャフリカ</h3>
    <p>風を守護しているガーディアン。陽気な風を纏った子供としてよく描かれる。</p>
    <h3>地獄の咆哮クツェルカン</h3>
    <p>地を守護しているガーディアン。背中に多くの突起物をつけた大型の恐竜としてよく描かれる。</p>
    <h3>湧泉の真人カアシャック</h3>
    <p>水を守護しているガーディアン。ガーディアンの中では最も知識を持った仙人のような姿でよく描かれる。</p>
    <h3>轟縛の雷帝イーヴァン</h3>
    <p>雷を守護しているガーディアン。ユニコーンによく似た角を持った四足歩行の獣としてよく描かれる。</p>
    <h3>閃光の翼士イシュタス</h3>
    <p>聖を守護しているガーディアン。魅力を象徴し、剣をくわえた四枚翼を持つ巨大な鳥としてよく描かれる。軍神とも称される。</p>
    <h3>漆黒の魔手アン・プトゥ</h3>
    <p>闇を守護しているガーディアン。集中力を象徴し、漆黒の闇の中を泳ぐ蛇型の龍としてよく描かれる。</p>
</section>

<section>
    <h2>精霊</h2>
    <p>世界のマナを象徴する存在。精霊使いが主に使役する存在である。<br />
    守護者も精霊として扱われることがあるため、その境界は曖昧。<br />
    しかし、滅多に人前に姿を現さないため、精霊使いでも守護者以外の精霊と契約するのは難しい。<br />
    存在が確認されている精霊は以下の通り。</p>
    <h3>光の精霊ハウル</h3>
    <p>光を司る精霊。<br />
    見るものによってその姿はまったく異なり、清らかな心の持ち主の目には小さなリスとして見え、邪な心の持ち主には大きな動く城に見える。</p>
    <h3>闇の精霊アガシオン</h3>
    <p>闇を司る精霊。<br />
    見るものによってその姿はまったく異なり、清らかな心の持ち主の目には恐怖そのものとして見え、邪な心の持ち主にはサソリに見える。</p>
    <h3>火の精霊サラマンダー</h3>
    <p>火を司る精霊。<br />
    小さな火トカゲの姿をした精霊。好戦的な性格をしている。</p>
    <h3>水の精霊ウンディーネ</h3>
    <p>水を司る精霊。<br />
    魚のヒレのような耳を持った人魚の姿をした精霊。穏やかな性格をしている。</p>
    <h3>土の精霊セト</h3>
    <p>土を司る精霊。<br />
    上半身が狼、下半身がヒュームの姿をしている精霊。思慮深い性格をしている。</p>
    <h3>風の精霊シルフ</h3>
    <p>風を司る精霊。<br />
    羽の生えた妖精の姿をした双子の精霊。束縛を嫌い、自由を尊ぶ性格。</p>
    <h3>雷の精霊ヴェダ</h3>
    <p>雷を司る精霊。<br />
    二本の角を持った怪物のような姿をしている精霊。正義感が非常に強い性格をしている。</p>
    <h3>氷の精霊ロプサラス</h3>
    <p>氷を司る精霊。<br />
    空を飛ぶ大きな鯨の姿をしている精霊。理性的で様々な知識を持っている。</p>
</section>

{% endblock %}
