{% extends 'base/worldguide_base.html' %}
{% load breadcrumbs %}

{% block title %}ファーネルド連邦 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "世界背景" worldguide_index %}
{% breadcrumb "ファーネルド連邦" %}

{% endblock %}

{% block maincontents %}
<h1>ファーネルド連邦</h1>

<section>
    <h2>国家情報</h2>
    <table class="guide-list" summary="国家の基本情報一覧です。">
        <tr>
            <th>政体</th>
            <td>連邦制</td>
        </tr>
        <tr>
            <th>元首</th>
            <td>ジェラルド・カーマイン</td>
        </tr>
        <tr>
            <th>政府</th>
            <td>総務省大臣：ロレンス・ヘックスフォード
            <br />
            議会：上院・下院</td>
        </tr>
        <tr>
            <th>首都</th>
            <td>首都ファーネル</td>
        </tr>
        <tr>
            <th>民族構成</th>
            <td>ヒューム 50%
            <br />
            ライカンス 15%
            <br />
            エルヴ 12%
            <br />
            ファルート 11%
            <br />
            バルタン 8%
            <br />
            ドラクォ 4%</td>
        </tr>
        <tr>
            <th>言語</th>
            <td>共通語</td>
        </tr>
        <tr>
            <th>宗教</th>
            <td>フォルセナ教 プロイス派 52%
            <br />
            フォルセナ教 カルツ派 24.5%
            <br />
            無宗教 13.2%
            <br />
            デルム教 1.3%
            <br />
            ほか</td>
        </tr>
        <tr>
            <th class="head">主要輸出品</th>
            <td>小麦・ライ麦・精密機器・コンピュータなど</td>
        </tr>
    </table>
</section>

<section>
    <h2>有名人</h2>
    <h3>ジョージ・ケーンリッジ</h3>
    <p>（1702-） ファーネルド連邦の軍人において数々の勲章をもらい、名誉勲章も頂く優秀な軍人。ゆえに国民には現代の英雄として讃えられる存在。国を思う愛国者であり、軍は国民のためにあるべきと考える理想的な軍人。2人の息子と妻がいる。</p>
    <h3>ジム</h3>
    <p>（不明）
    冒険者ギルドにおけるグランドギルドマスター（最も偉い人物）。出生、経歴、すべてが謎に包まれている人物。独力で冒険者ギルドを立ち上げるほどの実力がありながら、ふっと沸いて出たかのように現れたため、数々の憶測をうんでいる。なお、今だその実態を掴んだ者はいない。</p>
    <h3>エマ・マックスウェル</h3>
    <p>（1719-） 大型の機動兵器パンツァーギア開発の第一人者。多くの企業から誘いの手がきているが、すべて断っているらしい。小さな工場を経営しており、自分で機械をいじるのが好きな女性。</p>
</section>

<section>
    <h2>主な場所</h2>
    <h3>首都ファーネル</h3>
    <p>高層ビルが建ち並ぶファーネルド連邦の象徴とも言える大都市。世界で最も栄えた都市で、冒険者ギルドなど各種公共機関の本部もここ場所にある。</p>
    <h3>水の神殿</h3>
    <p>世界八大神殿の一つ。水のヌシがいると伝えられている神殿。入ろうとすると、入口に設置された石像が動き出し、侵入者を撃退する。そのため、内部の構造を知っている者はいないが、中にはカアシャックの神像が安置されていると言われる。</p>
    <h3>マルンベイム平原</h3>
    <p>ファーネルド連邦の大部分を占める肥沃な穀倉地帯として有名な平原。馬の放牧なども行われ、ファーネルドに昔から住む人にとって最も密接に関係していた場所。</p>
    <h3>太陽の高地ペントハイ</h3>
    <p>夕日が最も綺麗な場所として有名な観光高地。中央には岩山がそびえ立ち、高地に存在するが故に気候の変化が激しく、雷雨になることもある。</p>
    <h3>ディゼート街道</h3>
    <p>ファーネルド連邦の首都ファーネルとネルヴァリア王国の月夜の街ツェンブルグとを繋ぐ街道。マルンベイム平原の穀倉地帯を通り、ネルヴァリア王国の深い森へと入っていくが、両国の警備隊により治安はいい。</p>
    <h3>鈍色に輝く鉄の道</h3>
    <p>かつてベルネルン共和国と共同で計画された鉄道計画において建設された路線の名残。頻発するモンスターの襲撃に耐えきれず、廃線された経歴を持つ。</p>
    <h3>エリアＥ－７７０７</h3>
    <p>ファーネルド連邦軍の立ち入り禁止の立て札が置かれた軍事機密エリア。内部でどんな軍事的行為が行われているかは一切不明。</p>
</section>

<section>
    <h2>軍制</h2>
    <p>陸軍、海軍、空軍、海兵隊、国境警備隊の５つにわかれており、国境警備隊を除く四軍は国防総省の指揮下におかれている。</p>
    <h3>四軍</h3>
    <p>陸軍、海軍、空軍、海兵隊の総称。この四軍は独立して動くのではなく、１人の総合司令官によって一丸となって動くことが出来るように編成されている。そのため、他の国にはない迅速且つ強靱な作戦行動を取ることが出来る。</p>
    <h3>国境警備隊</h3>
    <p>国家安全省管轄の国境警備専門の軍隊。海や山など、あらゆる場所からの外敵に備え展開している部隊。だが、場所によってその練度は異なるのが弱点といえる。</p>
</section>

{% endblock %}
