{% extends 'base/worldguide_base.html' %}
{% load breadcrumbs %}

{% block title %}神々 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "世界背景" worldguide_index %}
{% breadcrumb "神々" %}

{% endblock %}

{% block maincontents %}
<h1>神々</h1>

<section>
    <h2>神々の父</h2>
    <p>１２の神々を創造した神々の中の父。<br />
    その存在は伝承で少しだけ出てくるだけであり、その存在は非常に懐疑的に扱われている。<br />
    だが、各国の玉座は神々の父が座っていたとされる台座が元であるため、本当に存在したという学説もある。</p>
</section>

<section>
    <h2>１２の神</h2>
    <p>１２の神々は実際には姿を見たものはなく伝承に残るのみである。教会などに伝わる話によれば、人類のあまりの愚かさに神々は失望し、世界から消えてしまったと言われる。</p>
    <h3>至高神ダリウス</h3>
    <p>星々（恒星）の神。最高神。大秦民皇国の皇はダリウスの子孫であると言われているが、教会には否定されている。</p>
    <h3>愛情神ヴェラ</h3>
    <p>愛と情熱、婚姻の神。だが、伝承には浮気性であるとも描かれているため、結婚式において引き合いに出されるのは稀。</p>
    <h3>時軸神ラ・クロノ</h3>
    <p>時空と魔法の神。魔法を勉強する上で一度は必ず出てくる名前。ダナクス諸侯連合の魔法学校には、この神をかたどった神像が安置されている。</p>
    <h3>豊穣神アウラ</h3>
    <p>大地と豊穣の神。魔神戦争当時に結成された部隊「アウラ隊」が有名。大地を守るという意味でつけられた。</p>
    <h3>武勇神ティム</h3>
    <p>勇気と戦争の神。主にバルタンたちに信仰されている武勇の神。カナン・クティムにはこの神の像が安置されている。</p>
    <h3>天空神トール</h3>
    <p>希望と天候の神。かつては雨乞いなどの祭りにおいて祈られた神。ダリウスの次に力があるといわれる。</p>
    <h3>海洋神ポセイドン</h3>
    <p>海と清浄の神。船乗りにとっては重要な神で、今なお出航前には神に祈る船乗りが大変多い。</p>
    <h3>光明神アウセウス</h3>
    <p>光と束縛の神。法の番人として扱われることも多く、警察機構の紋章などにこの神がかたどられることも多い。</p>
    <h3>冥界神ハウロン</h3>
    <p>冥界と次元の神。死んだ人間はハウロンに冥界へと連れて行かれると言われており、葬儀などではハウロンの名前が出されることがある。</p>
    <h3>放浪神ケテネ</h3>
    <p>放浪（旅）と商業の神。冒険者や冒険家の他、商人たちにも信仰されている最も一般的な神。</p>
    <h3>火山神バーントス</h3>
    <p>火山と狩猟の神。鍛冶の神とも言われ、鍛冶職人たちに信仰されている。また、活火山の噴火は彼の怒りとも言われる。</p>
    <h3>知識神ヴォイジャー</h3>
    <p>知識と芸術、医療の神。主に学者や芸術家に信仰されている神。昔は医術と芸術を一緒にやっていた人物も多かったという話もある。</p>
</section>

{% endblock %}
