{% extends 'base/worldguide_base.html' %}
{% load breadcrumbs %}

{% block title %}世界年表 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "世界背景" worldguide_index %}
{% breadcrumb "世界年表" %}

{% endblock %}

{% block maincontents %}
<h1>世界年表</h1>

<section>
    <h2>神話の時代</h2>
    <table class="guide-list history" summary="神話の時代の年表です。">
        <tr>
            <th>前暦5億年</th>
            <td>
            「神々の父」から幾多の神々が生まれる。このころには、光も闇もなく、すべてが平等の存在であったとされる。<br />
            「神々の父」が世界から立ち去る。同時期、神々は光と闇に分かれ、争いを始める。<br />
            その所業に怒った「神々の父」はすべての神々から「神の座」を剥奪。ここに、世界すべてが誕生する。<br />
            至高神ダリウスが自らの分身として人間を創造する。
            </td>
        </tr>
        <tr>
            <th>前暦2億5千年</th>
            <td>「文明の氷河期」と呼ばれる時代。当時高度な文明を築いていた人間以外の種族（詳細不明）が氷河期の影響、及び当時発達していた「魔法」の暴走により壊滅。以後、人間がその文明を引き継ぐ（第一の文明）。</td>
        </tr>
        <tr>
            <th>前暦5000年</th>
            <td>
            魔法文明の発展。祈祷師を主とした古代文明が築かれる。<br />
            時軸神ラ・クロノが世界樹「ランブバルド」を作る。
            </td>
        </tr>
        <tr>
            <th>新聖暦0年</th>
            <td>「大地の寝返り」と呼ばれる天変地異が発生。当時築かれていた文明が崩壊する（現文明のスタート、第二の文明）。
            <br />
            この影響で、世界から神々が身を引いていく（神話の時代の終わり）。
            <br />
            同時に、魔法の消失。 </td>
        </tr>
    </table>
</section>

<section>
    <h2>統一の時代</h2>
    <table class="guide-list history" summary="統一の時代の年表です。">
        <tr>
            <th>新聖暦200年代</th>
            <td> 統一国家の誕生。世界初の国家として君臨し、文明を急速に発展させる。このときを境に、世界の人口が増加。</td>
        </tr>
        <tr>
            <th>新聖暦485年</th>
            <td>統一国家の特権階級たちの行いに反抗した住民たちが革命を行う。これにより、統一国家は滅亡。小国があちこちに分散することとなる。</td>
        </tr>
        <tr>
            <th>新聖暦600年代</th>
            <td>高山地帯に空飛ぶ人「バルタン族」が王国を築く。空を飛べない他の種族を圧倒する。</td>
        </tr>
        <tr>
            <th>新聖暦700年代</th>
            <td>いち早く狩猟武器を戦闘用へと改良を行い、その精度を高めた「エルヴ族」が「バルタン族」を征し、君臨する。</td>
        </tr>
        <tr>
            <th>新聖暦900年代</th>
            <td>「ファルート族」の一人の少女が魔法の力を開眼する。この力は瞬く間に「ファルート族」に広まり、魔法の使えない種族を圧倒していく。</td>
        </tr>
        <tr>
            <th>新聖暦1000年代</th>
            <td>動物を奉じる「ライカンス族」の国家が鎖国状態に入る。このとき、同時に「魔法」と似た力が「ライカンス族」に広まったと言われる。</td>
        </tr>
        <tr>
            <th>新聖暦1200年代</th>
            <td>技術、特に火器を使った文明を築いた「ヒューム族」が他の種族と同等の地位に上り詰める。同時期、「魔法」が他の人間種族へと伝わり、「ファルート族」は工芸技術にも力を入れるようになる。</td>
        </tr>
    </table>
</section>

<section>
    <h2>暗黒の時代</h2>
     <table class="guide-list history" summary="暗黒の時代の年表です。">
        <tr>
            <th>新聖暦1400年代</th>
            <td>
            人々の心がすさみ、世界各地で戦乱が勃発する。<br />
            第６次カスカラナン戦役が勃発（1439年）。
            </td>
        </tr>
        <tr>
            <th>新聖暦1600年代</th>
            <td>戦国時代の始まり。領地の奪い合いがはじまり、血で血を洗う戦争が多発。</td>
        </tr>
        <tr>
            <th>新聖暦1717年</th>
            <td>小競り合いが続く中、突如「魔神アスガラナン」が現れる。長年の戦争で疲弊していた各国は敗退を繰り返し、一時滅亡かと思われる（魔神戦争）。</td>
        </tr>
        <tr>
            <th>新聖暦1721年</th>
            <td>各国が同盟を結び、相互協力を図る。種族の違いを越えた戦線が作られる（第一次グランブレイズ聖戦）。</td>
        </tr>
        <tr>
            <th>新聖暦1723年</th>
            <td>女神アウラの名を冠した部隊が編成される。アウラ隊の活躍により、世界の志気を高めると共に、魔族に対する威圧の効果もあった（第二次グランブレイズ聖戦）。</td>
        </tr>
        <tr>
            <th>新聖暦1728年</th>
            <td>膠着状態が続く中、「神々の障壁」が現れる。後に「ゼファントの伝説」と呼ばれる最終戦役が行われる（第三次グランブレイズ聖戦）。</td>
        </tr>
    </table>
</section>

<section>
    <h2>冒険の時代</h2>
     <table class="guide-list history" summary="冒険の時代の年表です。">
        <tr>
            <th>新聖暦1732年</th>
            <td>哲学者ジョン＝Ｈ＝ハーディンにより、「世界同盟理論」が発表される。この理論を元に「世界同盟」が発動するも、賛同者は少なく、失敗に終わる。</td>
        </tr>
        <tr>
            <th>新聖暦1737年</th>
            <td>戦争からの復興を目指した国家（現在の７カ国）がそれぞれ誕生する（実際には「最後の王国ネルヴァリア」誕生）。</td>
        </tr>
        <tr>
            <th>新聖暦1746年</th>
            <td>各地でモンスターが暴れ始める。特にそれまで、戦後姿を見せていなかった魔族の発見報告が数件確認される。</td>
        </tr>
        <tr>
            <th>新聖暦1753年</th>
            <td>各国は「同盟」に頼るのではなく、自国の軍隊だけで解決しようと動き出すが、処理しきれずに、いくつかの領域をモンスターに占拠される。自由騎士（後の冒険者）たちが世界各国の軍隊に協力し、各国はそれぞれでモンスターに対抗する。</td>
        </tr>
        <tr>
            <th>新聖暦1758年</th>
            <td>
            自由騎士たちは「冒険者」と名を変え、民間の冒険者支援団体や国家の支援により、徐々に数を増していく。
            </td>
        </tr>
        <tr>
            <th>新聖暦1760年</th>
            <td>
            そして、現在。<br />
            <a href="{% url worldguide_lastest %}">時代は変わり……近代背景へ</a>
            </td>
        </tr>
    </table>
</section>

{% endblock %}
