{% extends 'base/worldguide_base.html' %}
{% load breadcrumbs %}

{% block title %}近代背景 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "世界背景" worldguide_index %}
{% breadcrumb "近代背景" %}

{% endblock %}

{% block maincontents %}
<h1>近代背景</h1>

<section>
  <h2>注意</h2>
  <p>このページには、過去行われたβテスト中のシナリオのネタバレがあります。現在行われているゲーム内容には直接関係しませんが、知っておくとより背景を理解できるかも…しれません。もちろん、知らなくても大丈夫な情報です。</p>
</section>
<section>
  <h2>イドの出現～ロストメモリー（β１まで）</h2>
  <p>語られぬ物語がある。<br />
    彼らがその後、どうなったのかを知るものはいない。<br />
    ただ、後世に残っているのは、禁書に指定されたある冒険者の日記だけ。<br />
    だが、歴史の影を知る鍵はきっとそこにある。<br />
    ロストメモリー。語られぬ戦いの詩。<br />
  旋律が世界を覆うとき、新たな時代が幕を開ける。<br />
  世界の内面の敵。<br />
  イド。<br />
  その存在は、世界のすべてを包み込み……。  </p>
</section>

<section>
  <h2>ホワイトスフィアの覚醒～死の証人（β２）</h2>
  <p>世界をまたにかける冒険者たちの冒険が続いたとある日。<br />
    冒険者たち宛てに不思議な「死の証人」と呼ばれる依頼が舞い込んだ。<br />
    ファーネルド連邦軍からの依頼は、人々に様々な憶測を生ませる。<br />
    曰く、「新兵器開発のための生け贄」<br />
    曰く、「秘密作戦参加のための捨て駒」<br />
    曰く、「明るい社会のために軍人になろうキャンペーン」<br />
    だが、実際に依頼された内容は、その後の世界の運命を決めるものだった。<br />
    突如出現した迷宮。その調査という名目の元、冒険者たちが迷宮に挑む。<br />
    ……だが、その迷宮は異世界、はては生と死の狭間の世界へと繋がっていた。<br />
    世界に溢れ出す黒き塊（ブラックソリッド）……悪意、憎悪。そして、混沌と混乱。<br />
    迷宮を一度出た冒険者にもすぐさま防衛任務が下される。<br />
    人が、いや、世界が生き残るために。<br />
    駆けつけた連邦軍基地で出会った「“奇跡の少女”マリア」という名の少女を連れ、世界を破滅の危機から救うため、「ロスト・マウンテン」へと急ぐ。<br />
  たどり着いたロスト・マウンテンでは、マリアが「竜の巫女」と呼ばれる一族の生き残りであると知らされる。<br />
  竜の巫女は、ロスト・マウンテンに生息するドラゴンと交信し、冒険者とともに、人の可能性を見せる。<br />
  ドラゴンの長、ヴェンツランドに可能性の力を見せ、彼から「ホワイトスフィア」と呼ばれる白い珠を授かる。<br />
  それは、世界を救うためのカギ……。<br />
  冒険者らは、時空を裂き、出現しはじめた「異形の存在」を複数の方面から攻撃することにした。<br />
  幾人かが周囲の敵を倒し、決死隊への道を開く。<br />
  敵の背後に回り、敵の防御能力を崩す部隊が背後から襲いかかる。<br />
  そして、中心部へと向かい、敵の中枢を叩く。<br />
  冒険者たちの攻撃に、異形の存在は収縮しはじめる。<br />
  だが、巨大すぎる存在の収縮は、世界をも飲み込み消失させようとしていた。</p>
  <p>そして…。</p>
  <p>    収縮は、世界を飲み込もうとするかのように、巨大になりつつあった。<br />
    コアへ向かった冒険者たちは、誰1人として帰ってきていない。<br />
    「ブラックソリッド。真の狙いは、この世界を飲み込むことか」<br />
    いつの間にか、マリアの隣に、白いローブ姿の男性が立っていた。<br />
    ドラゴン族のヴェンツランドだ。<br />
    「竜の巫女よ。かつて、この世界に、イドと呼ばれる存在が現れたのを知っているな？」<br />
    マリアは黙って頷いた。<br />
    「あの存在を覚えているものは、人間にはいないだろう。<br />
    だが、あのイドの出現により、世界はあの瞬間、運命を分けたのだ。<br />
    こちらの運命は、ブラックソリッドによって滅びるだろう。<br />
    だが、もう一つの運命……大いなる炎は、再生する。<br />
    この世界と、平行世界を救うためには、時間の逆転を行うしかない。<br />
    そして、我らドラゴンは、人間たちに一つの契約の履行を行おう。<br />
    再び、世界は闇に覆われるかもしれない。<br />
    だが、人間たちや我ら眷属の力があれば、それを退けることも可能だろう。<br />
    ……竜の巫女よ。<br />
    この世界において、我らドラゴン族の魂を使い、逆転を為せ。<br />
    そして、滅びの運命の記憶と、この世界の記憶を転移させよ。<br />
    この世界の記憶を、向こうの世界で覚えているものはほぼ皆無だろう。<br />
    だが、心の奥底に、この事象が刻まれ、次こそは、再生のための礎となるだろう」<br />
    マリアは頷き、祈る。<br />
    色とりどりの光がマリアを包みこんでいく。<br />
  優しい光にさせられる中、純白の、ホワイトスフィアの光が、世界を満たしていくのだった……。</p>
  <p>    関連: <a href="http://blog.grand-blaze.com/2006/12/blog-post.html">β２エピローグ</a></p>
</section>

<section>
  <h2>もう一つの世界～光る世界（β３）</h2>
    <p>新聖暦1758年。<br />
    冒険者たちが世界をまたにかける冒険の日々が再び始まった。<br />
    だが、その安定した冒険も、もう一つの世界と同じ運命を辿ろうとしていた。<br />
    <br />
    不思議と出会ったことのないはずの記憶を覚えている者。<br />
    そして、この世界に生を受け、立ちはだかる敵をたおさんと勇気を奮い立たせる者。<br />
    現れた異形を目にした冒険者たちは、一致団結して敵を攻撃する。<br />
    <br />
    残された可能性。<br />
    託された未来。<br />
    そして、「イレギュラー」とも言われる「冒険者」たちの存在。<br />
    もう一つの世界にはなかった「力」。<br />
    もう一つの世界にはなかった「竜の加護」。<br />
    もう一つの世界にはなかった「過去の記憶」。<br />
    <br />
    異形を打ち破り、冒険者たちは歓声を上げる。<br />
    収縮すらする暇も無く、ホワイトスフィアの力によってその力を阻止された存在は消え去った。<br />
    もう一つの世界の記憶を受け継いだ世界は、新たな歴史を描く。<br />
    <br />
    関連: <a href="http://blog.grand-blaze.com/2009/12/blog-post_07.html">β３エピローグ</a></p>
</section>

<section>
  <h2>そして、世界は新たな時代へ（β４）</h2>
    <p>新聖暦1760年。<br />
    異形の討伐から２年あまりがたつ。<br />
    かつての戦いの余波を受けてか、世界に大きな変革は起こらなかったものの、「帰還者」と呼ばれる、戦いの後行方不明になっていた人々が帰ってくる事件が発生した。<br />
    それと同時に、世界に新たな光が立ち上る。<br />
    「大魔晶石」の出現。<br />
    そして、「繰り返されていた」時代から、新たな時代へ。<br />
    まだ、この世界は驚きに満ちている……。</p>
</section>

{% endblock %}
