{% extends 'base/worldguide_base.html' %}
{% load breadcrumbs %}

{% block title %}ネルヴァリア王国 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "世界背景" worldguide_index %}
{% breadcrumb "ネルヴァリア王国" %}

{% endblock %}

{% block maincontents %}
<h1>ネルヴァリア王国</h1>

<section>
    <h2>国家情報</h2>
    <table class="guide-list" summary="国家の基本情報一覧です。">
        <tr>
            <th>政体</th>
            <td>封建制</td>
        </tr>
        <tr>
            <th>元首</th>
            <td>ケルガー・ヴァルハデイオン</td>
        </tr>
        <tr>
            <th>政府</th>
            <td>宰相：ギゼル・ハルヴァーティアン
            <br />
            議会：竜土議会・虎空議会</td>
        </tr>
        <tr>
            <th>首都</th>
            <td>王都ケーベルグ</td>
        </tr>
        <tr>
            <th>民族構成</th>
            <td>ライカンス 75%
            <br />
            ヒューム 15%</td>
        </tr>
        <tr>
            <th>言語</th>
            <td>共通語</td>
        </tr>
        <tr>
            <th>宗教</th>
            <td>自然信仰 90%
            <br />
            ほか</td>
        </tr>
        <tr>
            <th>主要輸出品</th>
            <td>木材・木工品・皮革製品など</td>
        </tr>
    </table>
</section>

<section>
    <h2>有名人</h2>
    <h3>ケルガー・ヴァルハデイオン</h3>
    <p>（1706-） 獣人王の二つ名を持つほどの戦士。格闘のスペシャリストでもある。王でありながら自国を中心として周辺諸国を回り、様々な問題に現地で対処する賢王とも言われる。 </p>
    <h3>アイマン・ベールズハイト</h3>
    <p>（1713-）
    元木こりの人物で片手斧の使い手。竜土議員の一人であり、退役軍人でもある。かつてケルガーの元で働いていた時期もあり、間違った方向へ進む前に是正してくれる良識を持った人物として信頼されている。</p>
    <h3>フィリック・ジェンターマインド</h3>
    <p>（1726-） 魔術を扱う戦略部門のスペシャリスト。戦略統括部門をおさめる軍人。根っからの軍人一家に生まれた軍人気質で家族の中ではもっとも柔らかな頭だが、周りを見るとまだまだ堅い考えの持ち主。</p>
</section>

<section>
    <h2>主な場所</h2>
    <h3>王都ケーベルグ</h3>
    <p>獣人王の居城ルデンシュタット城や王国議会が存在する王国の中心的都市。文化、軍事すべての中心である都市。</p>
    <h3>月夜の街ツェンブルグ</h3>
    <p>常に夜であり、空には月が見えている都市。周囲にはアン・プトゥの力が色濃く出ており、昼になることはない。その分、様々な疑似昼を生み出す部屋など珍しいものも多い。</p>
    <h3>王国の玄関ルクセンハイム</h3>
    <p>王国最大の港であり、世界第二位の水揚量を誇る都市。レンガを使った独特の建築様式を持ち、他の都市とは異なる景観を持つ。</p>
    <h3>セントフォーレの森</h3>
    <p>ネルヴァリア王国に広がる広大な森。様々な生物が幾多も存在している命の森とも言われる森。</p>
    <h3>エルダリア鉱山</h3>
    <p>エルダリア山脈にある様々な鉱石が今なお産出されている鉱山。しかし、モンスターの出現頻度が高いため、開発は進んでいない。</p>
    <h3>シェト草原</h3>
    <p>ステップ地帯。国家に依存しない遊牧民が暮らしており、代々の王たちはあの手この手で彼ら遊牧民を勢力下に入れようとしたもののすべて失敗している。現在では独立自治を以て生活しており、非常時には協力するという協定がかわされている。</p>
    <h3>キエフ渓谷</h3>
    <p>切り立った崖で形成された谷。大地の割れ目の忘れ形見とも言われ、大地の割れ目と同じように切り立った崖となっている。所々から毒性の強いガスが吹き出ており大変危険。</p>
    <h3>ルケイシア海域</h3>
    <p>ダナクス諸侯連合とを繋ぐ海域。比較的穏やかな海域だが、近年、海賊たちの横行があり、治安が悪化している。その背景には、かつての豪華客船ティターン号が沈んでいるためという話もある。</p>
</section>

<section>
    <h2>軍制</h2>
    <p>二つの騎士団とその下に位置する歩兵師団で構成される。歩兵師団は主に志願兵や民兵、退役騎士など、緊急時に編成される。</p>
    <h3>暁騎士団</h3>
    <p>二つの騎士団のうちの一つ。対外勢力に対する抑止として編成されている部隊。二つの騎士団の守備範囲は比較的曖昧であり、ルケイシア海域は暁騎士団の管轄となっている。</p>
    <h3>碧騎士団</h3>
    <p>二つの騎士団の内の一つ。国内の治安維持活動を中心として編成されている部隊。</p>
</section>

{% endblock %}
