{% extends 'base/worldguide_base.html' %}
{% load breadcrumbs %}

{% block title %}公共機関 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "世界背景" worldguide_index %}
{% breadcrumb "公共機関" %}

{% endblock %}

{% block maincontents %}
<h1>公共機関</h1>

<section>
    <h2>冒険者ギルド</h2>
    <p>冒険者を支援する目的で開設されたギルド。主に世界中で助けを求めている人々を助けていた自由騎士、冒険者支援で開設され、現在では、新たに冒険者を志す者たちに対し試験を課してギルド公認の冒険者と登録するなどライセンス制となっている。素養のない者は認可冒険者となれないため、信用面で非常に不利である。</p>
    <h3>冒険者見習い</h3>
    <p>冒険者になろうとする者はまず見習いとして冒険者ギルドに登録される。見習い期間中はギルド指定の依頼を無事にこなさなくてはならない。この依頼を無事に完了した場合にのみ、認可冒険者としてライセンスが発行される。</p>
    <h3>監査者</h3>
    <p>ギルドの規定に違反した冒険者（違反した時点で最悪ライセンス剥奪となる）に対し処罰を行う冒険者。凶悪な違反者には死を持っての制裁が行われることもある。監査者のかわりとして賞金首討伐と同様にギルドから依頼が出される場合もある。</p>
</section>

<section>
    <h2>国際警察機構</h2>
    <p>国際的な犯罪や複数の国家をまたぐ犯罪者相手に様々な警察任務を行う。元冒険者なども所属することがある。各国の警察機構からの推薦以外（主に志願）では、現地任務の後にライセンスが発行される。被ライセンス発行者は自由警察官という扱いになり、冒険者同様世界を回って治安維持活動を行うことが推奨されている。</p>
</section>

{% endblock %}
