{% extends 'base/worldguide_base.html' %}
{% load breadcrumbs %}

{% block title %}ワルド帝国 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "世界背景" worldguide_index %}
{% breadcrumb "ワルド帝国" %}

{% endblock %}

{% block maincontents %}
<h1>ワルド帝国</h1>

<section>
    <h2>国家情報</h2>
    <table class="guide-list" summary="国家の基本情報一覧です。">
        <tr>
            <th>政体</th>
            <td>帝国制</td>
        </tr>
        <tr>
            <th>元首</th>
            <td>ローダン・ベルク・ワルド</td>
        </tr>
        <tr>
            <th>政府</th>
            <td>軍務総督：ラインハルト・シュターゼン
            <br />
            宮廷魔術師：フォッグ・エイラム
            <br />
            議会：国民議会</td>
        </tr>
        <tr>
            <th>首都</th>
            <td>帝都ワルド</td>
        </tr>
        <tr>
            <th>民族構成</th>
            <td>ヒューム 94%
            <br />
            ライカンス 4%</td>
        </tr>
        <tr>
            <th>言語</th>
            <td>共通語（ワルド訛り）</td>
        </tr>
        <tr>
            <th>宗教</th>
            <td>ダナート教 71%
            <br />
            無宗教 15.1%
            <br />
            フォルセナ教 カルツ派 12.4%
            <br />
            ほか</td>
        </tr>
        <tr>
            <th>主要輸出品</th>
            <td>陶器、熱帯果物、奴隷、傭兵など</td>
        </tr>
    </table>
</section>

<section>
    <h2>有名人</h2>
    <h3>ミッドウェル・フォラ・ワルド</h3>
    <p>（1730-） 皇帝ローダンの一人息子であり、次期皇帝。黒獅子の異名を持つほどの両手剣の達人で、常に黒い甲冑に身を包みいついかなる時でもその冷酷な目で決断を下す男。父の代わりに、諸外国の奴隷制度に対する苦情に対応している。</p>
    <h3>ハーディン・モールスライト</h3>
    <p>（1712-）
    かつて奴隷傭兵として最底辺からその実力だけで昇り上がり、一躍有名な傭兵として名を轟かせた両手鎌の達人。重装は好まず、黒いローブを羽織った姿から死神とさえいわれるほどの相手。現在はミッドウェルに雇われていると言われる。</p>
    <h3>ルード・ベランティエ</h3>
    <p>（1721-） 奴隷解放戦線の若きリーダー。ワルド帝国の奴隷制度に反対し、叛旗を翻している。各国からの支援はあるものの、それだけでなく、その優れた戦術眼で帝国側の攻撃に対し最小の犠牲者数で反撃に転じるほどの戦術の天才でもある。常にサングラスをかけている。</p>
    <h3>ガント・デルフ</h3>
    <p>（不明） 経歴不明。世界で最高峰の位置にある魔道士。灰色のローブを好んで着る老人だが、現在では人前にほとんど姿を現さない。帝国側も何度も協力を要請したが、すべて断られている。だが、魔神戦争などの失われた伝説の真実を知る数少ない人物。</p>
</section>

<section>
    <h2>主な場所</h2>
    <h3>帝都ワルド</h3>
    <p>ワールン砂漠の巨大なオアシスに建造された都市。帝王宮を中心に栄えているが、かつて水源が豊富にあった北部旧市街地区はすっかり寂れ、水源の豊富な南部に建設された新市街には裕福な民が暮らしている。</p>
    <h3>ゲンブロア小空港都市</h3>
    <p>ファーネルド連邦の協力により、海外への行動に対して著しく不便であったワルド帝国の事情を鑑み、建設された空港と隣接する都市。旅行客相手のホテルなどが立ち並ぶ砂漠の中にある未来都市。</p>
    <h3>砂色の遺跡</h3>
    <p>ワールン砂漠の東に存在する、流砂と竜巻に囲まれた遺跡。内部には古代魔法王国の遺産が眠ると言われ、挑んだ冒険家の数は多いが、誰１人として帰ってきていない。</p>
    <h3>灰魔導士の塔</h3>
    <p>灰魔導士ガント・デルフが住んでいる塔。立ち入ろうとする者には警告が待っている。彼の力を借りられた者はいない。</p>
    <h3>ワールン砂漠</h3>
    <p>ワルド帝国の国土の大部分を占める広大な砂漠。帝国の奴隷制度に反対するルードら解放戦線のメンバーがキャラバンで移動していることもある。</p>
    <h3>レモリス高原</h3>
    <p>南西部に巨大な石の城が聳え立つ高原。野生に羊や羊飼い達に飼われている羊が数多く生息している。</p>
    <h3>悲しき兵どもの墓標</h3>
    <p>かつての魔神戦争や数々の戦乱などで無くなった戦死者を合葬している巨大な墓場。今なお成仏できていないアンデッド達が徘徊している。</p>
    <h3>イペルクス監獄島</h3>
    <p>様々な犯罪者を流刑し収容している監獄島。断崖絶壁に囲まれ、正面以外の出入り口は存在せず、一度入ったら出るのは死ぬときだけと言われている。</p>
</section>

<section>
    <h2>軍制</h2>
    <p>皇帝直属の帝王軍、３つの黒騎士団とそれに付随する傭兵たちが存在する。</p>
    <h3>帝王軍</h3>
    <p>皇帝、及び帝都を防衛することを主とする軍隊。皇帝、及び軍務総督の命で動く。</p>
    <h3>黒騎士団</h3>
    <p>ミッドウェルが指揮する騎士団。数々の戦歴を持つ歴戦の部隊で、国境の警備も担当する。騎士たちの下には傭兵達が数多く所属する。</p>
</section>

{% endblock %}
