{% extends 'base/worldguide_base.html' %}
{% load breadcrumbs %}

{% block title %}魔神戦争 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "世界背景" worldguide_index %}
{% breadcrumb "魔神戦争" %}

{% endblock %}

{% block maincontents %}
<h1>魔神戦争</h1>

<section>
    <h2>発端</h2>
    <p>戦争の発端となったのは、ある冒険者（当時は自由騎士）の一団がある洞窟内にあった扉を開放したことに起因すると言われる。もちろん、彼らはただ闇雲に扉を開放したわけではなく、当時、頻発していた戦闘を停止させるために、扉の先にあるという「神々の冷笑」と呼ばれる魔導器を求めたためである。<br />
    実際には、その扉を開けたことで魔族が出現し、その自由騎士の一団は、魔族を世に溢れさせまいと決死の覚悟で防衛戦を行ったものの、多勢に無勢、全滅してしまったという（後に無惨な死体が発見され、連合軍により丁重に埋葬されている）。</p>
</section>

<section>
    <h2>魔族の猛攻</h2>
    <p>当時各国の軍隊の間に協力体制はなく、怒濤のように押し寄せた魔族軍に対し、個別に対抗していた。また、魔族の猛攻は突然のものであったため、対魔族戦の経験がなかった各国軍は相次いで敗退。瞬く間に魔族によって領地を占領され、占領された領地では地獄のような日々がおくられることとなる。</p>
</section>

<section>
    <h2>自由騎士の抵抗</h2>
    <p>自由騎士たちは各国の軍に傭兵として参加し、魔族に対抗をはじめた。その頃には魔族に対抗するための戦術が自由騎士達の間に広がりつつあり、遊撃兵としての彼らは魔族に対して戦術を持って対抗。彼らの活躍に対して正規軍は彼らから戦術を吸収し、対魔族戦のノウハウが蓄積されていくことになる。</p>
</section>

<section>
    <h2>ライネル奪還</h2>
    <p>他国との協力体制を拒み続けてきたバルタン族がついに自由騎士をはじめとした各勢力の協力をこぎ着け、現在のライネル地方を奪還することに成功する。この奪還作戦では自由騎士達の活躍がかなり大きかったと言われている。</p>
</section>

<section>
    <h2>連合軍結成</h2>
    <p>ファーネルド連邦軍の呼びかけにより、各国は協力体制を敷くことに合意。こうして連合軍が結成され、戦況の不利な場所へ連合軍を派遣することにより、対抗力を強めていった。</p>
</section>

<section>
    <h2>魔族の反撃</h2>
    <p>連合軍結成に対して、魔族軍は魔神の降臨により士気が向上。このとき、ワールン砂漠南の戦場において連合軍を挟み撃ちによる策で撃退するなど、反撃が熾烈になる。</p>
</section>

<section>
    <h2>アウラ隊</h2>
    <p>魔族軍の動きに対し、連合軍は精鋭のみを集めた部隊アウラ隊を結成。アウラ隊の活躍はめざましく、魔族軍を次々と撃退していく。</p>
</section>

<section>
    <h2>泥沼の戦いへ</h2>
    <p>連合軍が盛り返せば、魔族軍の反撃が襲ってくる。この繰り返しに連合軍はかなりの痛手を被り、西部戦線を引くことを余儀なくされる。</p>
</section>

<section>
    <h2>レジェンド・オブ・ゼファント</h2>
    <p>泥沼化した戦争に終止符を打つかの如く、世界を光が覆った。魔族に混乱が広がり、連合軍は魔族を掃討することに成功する。</p>
</section>

{% endblock %}
