{% extends 'base/regist_base.html' %}
{% load breadcrumbs register_extras %}

{% block title %}セリフ設定 確認 | Grand Blaze{% endblock %}

{%block head%}
<link href="{{ MEDIA_URL }}/css/regist.css?{{publish_date}}" rel="stylesheet" type="text/css">
<link href="{{ MEDIA_URL }}/css/form.css?{{publish_date}}" rel="stylesheet" type="text/css">
<link href="{{ MEDIA_URL }}/css/result.css?{{publish_date}}" rel="stylesheet" type="text/css">
{%endblock%}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "各種登録" regist_index %}
{% breadcrumb "セリフ設定 確認" %}

{% endblock %}


{% block maincontents %}
<h1>セリフ設定 確認</h1>

<section>
    <form action="{% url continue_serif_execute %}" method="POST" id="action_index">
        {% csrf_token %}
        <h2>セリフ設定</h2>
        {% for data in datas %}
        <div class="form-widget">
        	<h3>
        		No.{{ forloop.counter }}
        	</h3>
            <div>
            	<div class="key">
	                <label for="id_form-{{ forloop.counter0 }}-situation_id">
	                    シチュエーション<span class="required-guide">*</span>
	                </label>
            	</div>
            	<div class="value integer">
            		{% partymember data.situation.name request data.situation.id|add:-66 as situation_name %}
            		{{situation_name}}
            	</div>
            </div>
            <div>
            	<div class="key">
	                <label for="id_form-{{ forloop.counter0 }}-perks_id">
	                    スキル
	                </label>
            	</div>
            	<div class="value integer">
            		{{data.perks_id|default:''}} {{data.skill.name}}
            	</div>
            </div>
            <div>
                <div class="key">
                    <label for="id_form-{{ forloop.counter0 }}-serif_text">
                        セリフ内容<span class="required-guide">*</span>
                    </label>
                </div>
                <div class="value">
                    {{data.serif_text|linebreaksbr}}
                </div>
            </div>
            <div>
            	<div class="key">
	                   セリフプレビュー
            	</div>
            	<div class="value" style="width: 560px; position: relative;overflow: hidden;">
            		{{ data.serif_text|preview:user|safe }}
            	</div>
            </div>
        </div>
        {% endfor %}
        
        <div class="form-widget">
	        <div>
	            <div class="value value-only">
	            	<a data-role="button" href="{% url continue_serif_index %}">修正する</a>
	                <input type="submit" value="登録する" />
	            </div>
	        </div>
	    </div>
    </form>
</section>

{% endblock %}

