{% extends 'base/regist_base.html' %}
{% load breadcrumbs register_extras %}

{% block title %}セリフ設定 | Grand Blaze{% endblock %}

{%block head%}
<link href="{{ MEDIA_URL }}/css/regist.css?{{publish_date}}" rel="stylesheet" type="text/css">
<link href="{{ MEDIA_URL }}/css/form.css?{{publish_date}}" rel="stylesheet" type="text/css">
{%endblock%}

{% block foot2 %}
<script type="text/javascript">
    function loadSaving(){
        $('#mode_hidden').val('load');
        $('#action_index')[0].submit();
    }
    function writeSaving(){
        $('#mode_hidden').val('write');
        $('#action_index')[0].submit();
    }
    function deleteSaving(){
        $('#mode_hidden').val('delete');
        $('#action_index')[0].submit();
    }
</script>
{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "各種登録" regist_index %}
{% breadcrumb "セリフ設定" %}

{% endblock %}


{% block maincontents %}
<h1>セリフ設定</h1>

<section>
    <h2>登録上の注意</h2>
    <p>入力内容にHTMLタグは使用できません。<br />
        登録前にプレイガイドを良くお読みください。<br />
        半角カナや機種依存文字（例：①など）は使用しないでください。<br />
        対象エントリーナンバーの間違いには十分ご注意ください。<br />
        登録できるセリフに制限はありません。<br />
        現在のセリフ内容(セリフセット)を保存することができます。<br />
        保存しているセリフセットをロードした後、名前を変更して保存すると別名保存となります。同名で保存すると上書き保存です。<br />
        保存できるセリフセットは最大10個です。<br />
        <span class="required-guide">*</span>印は必須項目です。<br />
        <a href="{% url playguide_textcommand %}">テキストコマンドはこちら</a>ご確認下さい！
    </p>
</section>

{% if messages %}
<section>
	<p class="ui-state-highlight ui-corner-all ui-inline-icon ui-wiget-p">
		{% for message in messages %}
		<span class="ui-icon ui-icon-info"></span>
		<strong>セリフ設定:</strong>
		{{message}}
		{% endfor %}
	</p>
</section>
{% endif %}

<section>
    <form action="{% url continue_serif_index %}" method="POST" id="action_index">
        {% csrf_token %}
        <h2>セリフセット読込・保存</h2>
        <input type="hidden" name="mode" value="none" id="mode_hidden" />
        <div class="form-widget">
            <div>
                <div class="key">
                    <label for="id_saving_id">
                        読込・保存先
                    </label>
                </div>
                <div class="value">
                    {{ saving_form.saving_id }}
                    {{ saving_form.saving_id.errors }}
                </div>
            </div>
            <div>
                <div class="value value-only">
                    <input type="button" value="読み込み" onclick="loadSaving()" />
                    <input type="button" value="削除する" onclick="deleteSaving()" />
                </div>
            </div>
        </div>
    
        <div class="form-widget">
            <div>
                <div class="key">
                    <label for="id_saving_id">
                        セリフセット名
                    </label>
                </div>
                <div class="value">
                    {{ saving_form.title }}
                    {{ saving_form.title.errors }}
                </div>
            </div>
            <div>
                <div class="value value-only">
                    <input type="button" value="保存する" onclick="writeSaving()" />
                </div>
            </div>
        </div>
       
        <h2>セリフ設定</h2>
        {{ formset.management_form }}
        <div id="seriflist">
    	<div id="sflist">
        {% for form in formset.forms %}
        <div class="form-widget">
        	{{ form.id }}
        	{{ form.DELETE }}
        	<h3>
        		No.<span class="word_no">{{ forloop.counter }}</span>
        	</h3>
            <div>
            	<div class="key">
	                <label for="id_form-{{ forloop.counter0 }}-situation_id">
	                    シチュエーション<span class="required-guide">*</span>
	                </label>
	                <a tabindex="-1" href="javascript:void(0);" class="ui-inline-icon help" data-help="form-{{ forloop.counter0 }}-situation_id">
	                	<span class="ui-icon ui-icon-help"></span>
	                </a>
            	</div>
            	<div class="value integer">
            		{{ form.situation_id }}
                    <input type="button" class="dialog-open" data-dialog="situation_list" data-return_id="id_form-{{ forloop.counter0 }}-situation_id" data-return_value="id_form-{{ forloop.counter0 }}-situation_id-name" value="選択" />
                    <span id="id_form-{{ forloop.counter0 }}-situation_id-name">{% if character_serifs %}{{ character_serifs|get_situaltion_name:forloop.counter0 }}{% endif %}{% if form.instance.situation %}{{ form.instance.situation.name }}{% endif %}</span>
                    {{ form.situation_id.errors }}
            	</div>
            	<div class="ui-state-highlight ui-corner-all ui-inline-icon help" id="help-form-{{ forloop.counter0 }}-situation_id">
            		<span class="ui-icon ui-icon-info"></span><strong>シチュエーション</strong>
            		セリフを表示するシチュエーション（条件）を指定して下さい。
            	</div>
            </div>
            <div>
            	<div class="key">
	                <label for="id_form-{{ forloop.counter0 }}-perks_id">
	                    スキル
	                </label>
	                <a tabindex="-1" href="javascript:void(0);" class="ui-inline-icon help" data-help="form-{{ forloop.counter0 }}-perks_id">
	                	<span class="ui-icon ui-icon-help"></span>
	                </a>
            	</div>
            	<div class="value integer">
            		{{ form.perks_id }}
                    <input type="button" class="dialog-open" data-dialog="perks_id" data-return_id="id_form-{{ forloop.counter0 }}-perks_id" data-return_value="id_form-{{ forloop.counter0 }}-perks_id-name" value="選択" />
                    <span id="id_form-{{ forloop.counter0 }}-perks_id-name">{% if character_serifs %}{{ character_serifs|get_arts_name:forloop.counter0 }}{% endif %}{% if form.instance.skill %}{{ form.instance.skill.name }}{% endif %}</span>
                    {{ form.perks_id.errors }}
            	</div>
            	<div class="ui-state-highlight ui-corner-all ui-inline-icon help" id="help-form-{{ forloop.counter0 }}-perks_id">
            		<span class="ui-icon ui-icon-info"></span><strong>シチュエーション</strong>
            		セリフを表示するシチュエーションで、スキルを指定するときに指定して下さい。<br />
            		スキルが関係しないシチュエーションでは、この項目の内容は無視されます。
            	</div>
            </div>
            <div>
                <div class="key">
                    <label for="id_form-{{ forloop.counter0 }}-serif_text">
                        セリフ内容<span class="required-guide">*</span>
                    </label>
                    <a tabindex="-1" href="javascript:void(0);" class="ui-inline-icon help" data-help="form-{{ forloop.counter0 }}-serif_text">
                        <span class="ui-icon ui-icon-help"></span>
                    </a>
                </div>
                <div class="value">
                    {{ form.serif_text }}
                    {{ form.serif_text.errors }}
                </div>
                <div class="ui-state-highlight ui-corner-all ui-inline-icon help" id="help-form-{{ forloop.counter0 }}-serif_text">
                    <span class="ui-icon ui-icon-info"></span><strong>セリフ内容</strong>
            		キャラクターに喋らせるセリフを入力してください。
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        </div>
        
        <div class="form-widget">
	        <div>
	            <div class="value value-only">
	                <input type="submit" value="登録する" />
	            </div>
	        </div>
	    </div>
    </form>
</section>

<section class="dialog-base" id="dialog-situation_list" title="シチュエーションリスト" style="display: none;">
	<form>
		<input type="hidden" name="ret_id" class="ret_id" value="" />
		<input type="hidden" name="ret_value" class="ret_value" value="" />
	</form>
    <table class="regist-list">
    	<thead>
            <tr>
                <th>ID</th>
                <th>シチュエーション</th>
                <th>解説</th>
            </tr>
        </thead>
        <tbody>
        {% for situation_data in situation_list %}
        <tr>
            <td>{{ situation_data.id }}</td>
            <td>
            	{% partymember situation_data.name request situation_data.id|add:-66 as situation_name %}
                <a href="javascript:void(0);" class="apply-link" data-dialog="situation_list" data-id_value="{{ situation_data.id }}" data-name_value="{{ situation_name }}">{{ situation_name }}</a>
            </td>
            <td>{{ situation_data.it_comment|safe }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

<section class="dialog-base" id="dialog-perks_id" title="条件に利用するスキル" style="display: none;">
	<form>
		<input type="hidden" name="ret_id" class="ret_id" value="" />
		<input type="hidden" name="ret_value" class="ret_value" value="" />
	</form>
    <table class="regist-list">
            <tr>
                <th>ID</th>
                <th>スキル名</th>
                <th>MP</th>
                <th>TP</th>
                <th>種別</th>
            </tr>
        {% for skill_data in skill_list %}
        <tr>
            <td rowspan="2">{{ skill_data.id }}</td>
            <td>
                <a href="javascript:void(0);" class="apply-link" data-dialog="perks_id" data-id_value="{{ skill_data.id }}" data-name_value="{{ skill_data.name }}">{{ skill_data.name }}</a>
            </td>
            <td>{{ skill_data.sk_mp }}</td>
            <td>{{ skill_data.sk_tp }}</td>
            <td>{{ skill_data.get_sk_type_display }}</td>
        </tr>
        <tr>
            <td colspan="4">{{ skill_data.sk_comment|safe }}</td>
        </tr>
        {% endfor %}
    </table>
</section>

{% endblock %}

