{% extends 'base/root_base.html' %}
{% load breadcrumbs %}

{% block title %}このサイトについて | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb "このサイトについて" %}

{% endblock %}


{% block maincontents %}
<h1>このサイトについて</h1>

<section>
	<h2>免責事項</h2>
     <p> 本ゲーム内にて発生したあらゆるトラブルについて、管理者は一切、その責任を負わないものとします。<br />
	また、それにより発生した参加者に対するいかなる損害についても同様に責任を負わないものとします。<br />
	本ゲームは、開発中です。予告無く削除、閉鎖をする場合があります。その点、ご了承ください。</p>
</section>

<section>
	<h2>登録情報の取り扱い</h2>
     <p>各種登録で送信された情報は、外部に対して提供する事はありません。また、ご自身の登録情報（メールアドレス、登録エントリーナンバー、パスワード）などは、ご自身の責任に置いて管理してください。こちらの不注意でない限り、一切関知しません。 <br />
	パスワードに関するお問い合わせには基本的にお答えしておりません。詳しくは、「<a href="{% url root_faq %}">FAQ</a>」を参考にしてください。</p>
</section>

<section>
	<h2>当サイトの扱いについて</h2>
     <p> このサイト内の内容（冒険結果ファイルの一部や掲示板投稿などは除く）はすべてＧＭに著作権があります。個人使用以外の無断転載（個人ホームページへの転載もこれにあたります）は法律で禁じられています。<br />
転載したい場合には、ご一報下さい。<br />
ただし、冒険結果よりリンクされた各種キャラクター画像は、<em>キャラクター画像制作者に著作権が帰属</em>します。これらは無断使用、無断転載を絶対にしないようにしてください。また、画像制作者の許可を得ずにキャラクター画像として使用した場合は、著作権侵害となります。 <br />
誹謗中傷などの目的以外での冒険結果の転載、リンクは、連絡する必要はありません。ご自由にご利用下さい。<br />
重要なお知らせや質問掲示板での回答例も転載の許可申請の必要は特にありません。</p>
</section>

<section>
	<h2>関連サイトについて</h2>
     <p>各種結果やプレイガイドなどに記載されている項目などの公開制限は設けません。ただし、転載された場合には、「無断転載の禁止、及び再利用を禁止する」旨を表記した上で、引用元の提示（著作権表記）が必要です。<br />
ただし、関連サイトに記載されている内容によってはその掲載を中止していただくよう通達する場合があります。</p>
</section>

<section>
	<h2>リンクについて</h2>
     <p> このサイトは基本的にリンクフリーです。<br />
しかし、リンクをした場合は任意ですが、ご一報下さるとこちらとしてもうれしい限りです。<br />
ただし、アダルトサイト、各種団体などからのリンクはご遠慮下さい。</p>
</section>

<section>
     <h2>推奨ブラウザ</h2>
     <p>Internet Explorer 9以上<br />
         Firefox 4.0以上<br />
         Opera 11.10以上<br />
         Safari 5.0.5以上<br />
         Google Chrome 11以上</p>
</section>

{% endblock %}
