{% extends 'base/root_base.html' %}
{% load breadcrumbs %}

{% block title %}FAQ | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb "FAQ" %}

{% endblock %}


{% block maincontents %}
<h1>FAQ</h1>

<section>
	<h2>よくある質問</h2>
 	<p>よくある質問とその答えを掲載しています。</p>
     <ul>
      <li><a href="#about_regist">各種登録について</a>
	  <ul>
	  <li><a href="#r_q1">Grand Blazeをはじめるには何が必要ですか？</a></li>
	  <li><a href="#r_q2">兄弟や家族でプレイすることはできますか？</a></li>
	  <li><a href="#r_q3">冒険結果に表示されている内容が前回のままです。</a></li>
	  <li><a href="#r_q4">継続登録をしたはずなのにキャラクターが行動していません。</a></li>
	  <li><a href="#r_q5">登録内容を間違えて送ってしまいました。</a></li>
	  <li><a href="#r_q6">新規登録で登録されたはずのキャラクターが見つかりません。</a></li>
	  <li><a href="#r_q7">パスワードを忘れてしまいました。</a></li>
	  </ul>
	  </li>
      <li><a href="#about_character">キャラクターについて</a>
	  <ul>
	  <li><a href="#c_q2">新しいクラスをインストールしましたが、強くなったように感じません。</a></li>
	  <li><a href="#c_q3">欲しいスキルをキャラクターが習得してくれません。</a></li>
	  <li><a href="#c_q4">キャラクターを削除したいです。</a></li>
	  <li><a href="#c_q5">キャラクターを重複登録してしまいました。</a></li>
	  </ul>
	  </li>
      <li><a href="#about_battle">バトルについて</a>
	  <ul>
	  <li><a href="#b_q1">ヘイトとはなんですか？</a></li>
	  <li><a href="#b_q2">このゲームはソロ（１人）でプレイすることはできますか？</a></li>
	  </ul>
	  </li>
     </ul>
</section>

<section class="faq-list">
   <h2 id="about_regist">各種登録について</h2>
     <h3 id="r_q1" class="q">質問</h3>
	 <p>Grand Blazeをはじめるには何が必要ですか？<br />
         また、利用料金はどのくらいかかりますか？	 </p>
     <h3 class="a">回答</h3>
	 <p>一般的なブラウザの他、インターネットに接続できる環境、そして個人で利用できるメールアドレスがあればすぐにでもはじめられます。<br />
         なお、Grand Blazeへの参加は無料です。	 </p>
     <h3 id="r_q2" class="q">質問</h3>
	 <p>兄弟や家族でプレイすることはできますか？	 </p>
     <h3 class="a">回答</h3>
	 <p>兄弟や家族でプレイすることはできますが、すでに登録されているメールアドレスでプレイすることはできません。<br />
      兄弟や家族でプレイする場合は、それぞれ、別々のメールアドレスを使用してください。</p>
     <h3 id="r_q3" class="q">質問</h3>
	 <p>冒険結果に表示されている内容が前回のままです。	 </p>
     <h3 class="a">回答</h3>
	 <p>結果発表のお知らせがありながら、まだ前回の結果が表示されてしまう場合、キャッシュが残っている場合があります。<br />
      その場合には、キャッシュを削除してから、再度、結果ページを参照してください。</p>
	 <p>	   なお、一部のブラウザでは、次のショートカットキーを使用することでも、キャッシュを破棄して再読込することが可能です。</p>
	 <p>	   Windowsの場合
	   : Ctrl + F5<br />
	   Macintoshの場合 :
	   Cmd + Shift + R </p>
     <h3 id="r_q4" class="q">質問</h3>
     <p>継続登録をしたはずなのにキャラクターが行動していません。</p>
     <h3 class="a">回答</h3>
     <p>登録したつもりが、登録を行っていない、登録確認画面で確定しなかった、などの可能性があります。<br />
     登録前には内容をよくご確認になり、内容が正しい場合は登録確認画面にて確定してください。<br />
     確認したにもかかわらずキャラクターが行動していない場合は、ご利用アカウントのエントリーナンバー、メールアドレス、登録後に自動的に送られる確認メールを添えて、「<a href="{% url root_support_index %}">お問い合わせ</a>」よりご連絡下さい。</p>
     <p>※ログインした状態でのお問い合わせでは、エントリーナンバーやメールアドレスは自動的に入力された状態になります。</p>
     <h3 id="r_q5" class="q">質問</h3>
     <p>登録内容を間違えて送ってしまいました。</p>
     <h3 class="a">回答</h3>
     <p>ログインした状態で「<a href="{% url regist_index %}">各種登録</a>」から修正したい登録を選択してください。たとえば、継続登録を修正したい場合は、継続登録を選択することで、登録済みの内容が表示され、登録し直すことできます。</p>
     <h3 id="r_q6" class="q">質問</h3>
     <p>新規登録で登録されたはずのキャラクターが見つかりません。</p>
     <h3 class="a">回答</h3>
     <p>「<a href="{% url result_index %}">冒険の結果</a>」から、新規登録後に送信されたエントリーナンバーのキャラクターを探してみてください（キャラクターはエントリーナンバー順にソートされて表示されています）。または、サイト内の検索を行い探してみるのもいいかもしれません。検索する場合は各ページ右上にある検索機能を活用してください。なお、登録申請直後は仮登録扱いであるため、ログインやキャラクターの確認を行えません。結果発表による本登録までしばらくお待ちください。</p>
   <a name="r_q7" id="r_q7"></a>
     <h3 class="q">質問</h3>
     <p>ログインパスワードを忘れてしまいました。</p>
     <h3 class="a">回答</h3>
     <p>ログイン画面下部にある「パスワードを忘れた場合はこちら」から、パスワードの再設定を行ってください。<br />
	 送信されたメールに記載された内容に従い、パスワードを再度、設定しなおすことができます。</p>
</section>

<section class="faq-list">
   <h2 id="about_character">キャラクターについて</h2>
     <h3 id="c_q2" class="q">質問</h3>
     <p>新しいクラスをインストールしましたが、強くなったように感じません。</p>
     <h3 class="a">回答</h3>
     <p>新たにインストールしたクラスは、そのままではほとんど力を引き出せていない状態です。クラスは、あくまでそのキャラクターの未来の可能性を広げるだけです。<br />
     インストールしているクラスのレベルがアップすると、少しずつ能力が引き出されていきます。<br />
      キャラクターのクラスレベルによって、能力は変わってきます。</p>
     <h3 id="c_q3" class="q">質問</h3>
     <p>欲しいスキルをキャラクターが習得してくれません。</p>
     <h3 class="a">回答</h3>
     <p>スキルを習得するためには、次のいずれかの条件を満たす必要があります。</p>
	 <ol>
	 <li>クラスのレベルが一定値に達する。</li>
	 <li>キャラクターのＳＰが一定値に達した後、プライベートスキルを選択する。</li>
	 <li>スキルを習得できるアイテム「スクロール」を使用する。</li>
	 </ol>
	 <p>上記のいずれかを満たさない場合、スキルを習得できませんのでご注意下さい。</p>
     <h3 id="c_q4" class="q">質問</h3>
     <p>キャラクターを削除したいです。</p>
     <h3 class="a">回答</h3>
     <p>キャラクターの削除を行いたい場合、「<a href="{% url regist_index %}">各種登録</a>」のアカウント設定より、アカウント状態で「削除」を選択し、登録してください。<br />
     次回の結果発表時に、自動的にキャラクターが削除されます。</p>
     <h3 id="c_q5" class="q">質問</h3>
     <p>キャラクターを重複登録してしまいました。</p>
     <h3 class="a">回答</h3>
     <p>重複し、不要となったキャラクターは、GM側では削除処理を行っていません。これらのキャラクターの削除を行いたい場合、「<a href="{% url regist_index %}">各種登録</a>」のアカウント設定より、アカウント状態から「削除」を選択し、登録してください。<br />
      次回の結果発表時に、自動的にキャラクターが削除されます。</p>
</section>

<section class="faq-list">
   <h2 id="about_battle">バトルについて</h2>
     <h3 id="b_q1" class="q">質問</h3>
     <p>ヘイトとはなんですか？</p>
     <h3 class="a">回答</h3>
     <p>モンスターにはプレイヤーキャラクターや<abbr title="ノンプレイヤーキャラクター" lang="ja">NPC</abbr>に対する憎しみがあります。<br />
	 彼らにとって、攻撃をしてきたり、回復魔法を唱えたりする行為は憎むべき行いであり、それをした相手を執拗に狙うことがあります。<br />
	 この憎しみの度合いを表したものが「ヘイト」と呼ばれるものです。<br />
	 パーティを組んで冒険する場合は、特にこのヘイトをコントロールして戦うことが安全に戦うための第一歩となります。</p>
     <h3 id="b_q2" class="q">質問</h3>
     <p>このゲームはソロ（１人）でプレイすることはできますか？</p>
     <h3 class="a">回答</h3>
     <p>通常のモンスターであれば１人で倒すことも可能です。<br />
	 しかし、一部のレアモンスターやボスモンスターなどでは、ひとりでは太刀打ちできない場合もあります。<br />
	 その場合には、他のキャラクターと一時的にパーティを組んだり、<abbr title="ノンプレイヤーキャラクター" lang="ja">NPC</abbr>が参加してくれるマークを見つけ出すなどの工夫が必要となります。</p>
</section>

{% endblock %}
