{% extends 'base/root_base.html' %}
{% load breadcrumbs %}

{% block title %}アイデア投稿 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "お問い合わせ" root_support_index %}
{% breadcrumb "アイデア投稿" %}

{% endblock %}


{% block maincontents %}
<h1>アイデア投稿</h1>

<section>
	<h2>投稿に関する注意事項</h2>
     <p>新たなエリアの新設（ゲームデータに記載されていないエリアなど）が伴う場合、設定が変更され、既存エリアへの実装に変更されることがあります。<br />
	 投稿された内容は、ゲームマスターが自由に改変できるものとします。同意されない場合、投稿はお控えください。<br />
	 投稿する内容は、オリジナルのものに限ります。第三者が考えたアイデアやシナリオをあたかも自分が考えたかのように投稿するのはお控えください（たとえば、第三者がブログなどで考えたシナリオを自分のものとして投稿するなどは控えてください）。</p>
</section>

<section>
	<h2>シナリオ（クエスト、ミッション）の投稿について</h2>
     <p>新たなシナリオを投稿する場合、以下の内容があると、活用しやすくなります。ある程度項目が明記されていれば、特に形式にはこだわりません。なお、すべての内容がそのまま採用されるとは限りません。不採用になったり、一部採用されたりするなど、手が加えられます。<br />
	 ※すべての項目が満たされている必要はありません。<br />
	 ※はやめに実装されたか確認したい場合は、現在実装済みのエリアか実装済みエリアの近隣エリアを舞台にすると実装されやすい、かもしれません？</p>
	 <h3>シナリオの名称</h3>
	 <p>クエストやミッションのタイトルを明記してください。特殊記号は使用できません。</p>
	 <h3>シナリオの依頼者</h3>
	 <p>クエストやミッションの依頼者を明記してください。特殊記号は使用できません。</p>
	 <h3>シナリオの発生場所</h3>
	 <p>クエストやミッションの発生場所を明記してください。特殊記号は使用できません。発生場所は、システム上、エリア名/マーク名で記述されています。</p>
	 <h3>シナリオの依頼文</h3>
	 <p>クエストやミッションのオファーリスト上に明記される依頼文を明記してください。特殊記号は使用できません。</p>
	 <h3>シナリオに登場するNPC</h3>
	 <p>オリジナルのNPC、または公式サイト上で存在が確認できるNPCなどを明記してください。また、そのNPCが戦闘に参加する場合は、どのような能力をもっているか、などを記載してください（既存のNPCの場合は特に明記する必要はありませんが、戦闘参加の有無は明記していただくと助かります）。</p>
	 <h3>シナリオのストーリー</h3>
	 <p>クエストやミッションのストーリーを明記してください。特殊記号は使用できません。形式は自由でかまいません。小説形式、会話だけのもの、箇条書き、あらすじ、など自由にお書きください（とはいえ、ある程度流れがわかる形が望ましいです）。また、シナリオが発生する場所（場面）がわかるような記述があると助かります（場所はエリア名/マーク名で記述されていると助かります）。</p>
	 <h3>シナリオの報酬</h3>
	 <p>シナリオをクリアしたことによる変化を記入してください。アイテムやお金、スキルなどの習得や、新たなフラグの獲得、名声の上昇などをお書きください。</p>
	 <h3>シナリオの背景設定</h3>
	 <p>シナリオの背景設定（バックグラウンド）がありましたら、お書きください。オリジナルの設定やNPCがある場合、できるだけ詳しく明記していただくと助かります。</p>
	 <h3>そのほか</h3>
	 <p>そのほか、何かありましたらお書きください。</p>
</section>

<section>
	<h2>システム投稿に関する注意事項</h2>
    <p>新たなシステムを投稿する場合、以下の内容があると、活用しやすくなります。ある程度項目が明記されていれば、特に形式にはこだわりません。なお、すべての内容がそのまま採用されるとは限りません。不採用になったり、一部採用されたりするなど、手が加えられます。<br />
	 ※すべての項目が満たされている必要はありません。</p>
	 <h3>モンスターの種族</h3>
	 <p>様々なエリアに登場するモンスターの種族や名前、能力、設定を募集しています。参考になりそうな資料の提示などでもかまいません。</p>
	 <h3>新たなアイテム</h3>
	 <p>武器や防具に限らず、様々なアイテムの名前や能力、設定を募集しています。参考になりそうな資料の提示などでもかまいません。</p>
	 <h3>新たなスキル</h3>
	 <p>様々なスキルの名前や能力、設定を募集しています。参考になりそうな資料の提示などでもかまいません。</p>
	 <h3>公式のイラストなど</h3>
	 <p>公式サイト上に掲載してもかまわないイラストなどがありましたら、ご連絡ください（それぞれの種族のイラストなど。設定に従って書いてもOKです、といった立候補でもかまいません。その際には、得意なもの、不得意なものなどの明記があると助かります）。</p>
	 <h3>そのほか</h3>
	 <p>その他、様々なアイデアを募集しています。特に枠にこだわらずに、自由なアイデアを投稿してみてください。</p>
</section>

{% endblock %}
