{% extends 'base/root_base.html' %}
{% load breadcrumbs %}

{% block title %}Grand Blazeの世界へ | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb "Grand Blazeの世界へ" %}

{% endblock %}


{% block maincontents %}
<h1>Grand Blazeの世界へ</h1>

<section>
	<h2>Grand Blazeの世界へようこそ！</h2>
 	<p>「Grand Blaze」とは自分オリジナルのキャラクターを作り、グランブレイズと呼ばれる架空世界を冒険するオンラインロールプレイングゲームです。</p>
	<p>プレイヤーは冒険者として世界を旅し、様々な出会いや冒険を経験していき、秘められた謎を解き明かしていきます。<br />
		複雑な操作を必要とせず、簡単な入力だけで冒険が進んでいきます。<br />
		そんな中、ときには他のプレイヤーと協力して冒険をしていくこともあるでしょう。<br />
		この世界の物語の主役は、プレイヤー一人一人です。</p>
</section>

<section>
	<h2>ゲームの流れ</h2>
	<p class="flowchart"><img src="{{MEDIA_URL}}/images/root/flowchart.png" />
		プレイヤーはまず、「新規登録」でグランブレイズの世界で生きていくこととなる「キャラクター」を作ることになります。<br />
		「新規登録」からアカウントの情報、キャラクターの情報を入力します。<br />
		無事に登録が完了すると、次回の「結果発表日」に全キャラクターが行おうとした行動の結果が発表されます。<br />
		このタイミングで出された行動の結果を元に、次回以降の自分のキャラクターの行動を「継続登録」から選択し、指示を与えます。<br />
		再び、次回の「結果発表日」まで待ち、行動の結果が発表されるまで待ちましょう。<br />
		すると今度は、先ほど決定した行動をキャラクターが実行しているはずです。<br />
		それでは、もう一度、「継続登録」を行う……。<br />
		以後、この繰り返しでゲームは進行していきます。</p>
		<p class="ui-inline-icon ui-state-highlight ui-corner-all ui-wiget-p">
		<strong><span class="ui-icon ui-icon-info"></span>Tips! 登録にかかる時間</strong><br />
		人によっては、キャラクターの行動を決めるのに何時間もかかる場合があります。<br />
		結果が出される前に登録受け付けが締め切られてしまうと、せっかく入力した登録の内容が無駄になってしまいますので、時間の空いたとき、早め早めに登録を行っておきましょう。<br />
		仲間との相談で何をするか変わってくる場合は、余裕を持って相談してみてください。</p>
</section>

<section>
	<h2>広がり続ける世界</h2>
	<p>このゲームは、日々進化していきます。<br />
	「プレイガイドに記載されていない機能が追加されているかもしれません。<br />
	こういった新機能に関するお知らせや発生している不具合に関しては、トップページのバージョンアップ情報や、フォーラムの「サポート」などを確認するような習慣を身に付けておくと便利です。</p>
	<p class="ui-inline-icon ui-state-highlight ui-corner-all ui-wiget-p">
		<strong><span class="ui-icon ui-icon-info"></span>Tips! バージョンアップとは？</strong><br />
		実装されていなかった機能が追加されたり、ゲームバランスの調整、及びプログラム上の問題が修正されるときに行われる更新作業のことです。<br />
		バージョンアップは管理者側にて自動的に適用されますが、この際、キャラクターデータへの変更や冒険結果に様々な変更が加えられる場合があります。<br />
		トップページのバージョンアップ情報や重要なお知らせには十分、ご注意ください。</p>
</section>

{% endblock %}
