
<nav>
    <h4>
        プレイガイドについて
    </h4>
    <dl id="side-menu" class="ui-right-icon">
        <dt>
            <a href="{% url playguide_about %}">
                プレイガイドの見かた<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
    </dl>
	<h4>
		ご利用の前に
	</h4>
    <dl id="side-menu" class="ui-right-icon">
        <dt>
            <a href="{% url playguide_caution %}">
                プレイ上のお願い<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_testplayer_rules %}">
                Grand Blaze会員規約<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
    </dl>
    <h4>
        新しくはじめる
    </h4>
    <dl id="side-menu" class="ui-right-icon">
        <dt>
            <a href="{% url playguide_start_chart %}">
                新規登録の流れ<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_newgame %}">
                新規登録について<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
    </dl>
    <h4>
        冒険を行う
    </h4>
    <dl id="side-menu" class="ui-right-icon">
        <dt>
            <a href="{% url playguide_flowchart %}">
                冒険(処理)の流れ<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_continue %}">
                継続登録の提出<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_moving %}">
                移動先の決定<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_party %}">
                パーティの編成<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_using_item %}">
                アイテムの使用<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_private_skill %}">
                プライベートスキル<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
    </dl>
    <h4>
        取引
    </h4>
    <dl id="side-menu" class="ui-right-icon">
        <dt>
            <a href="{% url playguide_buying %}">
                アイテムの売買<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_trade_item %}">
                トレード<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_bazzer %}">
                バザー<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
    </dl>
    <h4>
        他のプレイヤーとの交流
    </h4>
    <dl id="side-menu" class="ui-right-icon">
        <dt>
            <a href="{% url playguide_bbs %}">
                フォーラムを利用する<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_site_message %}">
                サイト内メッセージ<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_message %}">
                リザルトメッセージ<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_serif %}">
                バトルセリフ<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_textcommand %}">
                テキストコマンド<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
    </dl>
    <h4>
        キャラクター設定
    </h4>
    <dl id="side-menu" class="ui-right-icon">
        <dt>
            <a href="{% url playguide_chara_background %}">
                キャラクターの設定<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_chara_icon %}">
                アイコンの設定<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_account %}">
                アカウントの管理<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
    </dl>
    <h4>
        バトルの準備
    </h4>
    <dl id="side-menu" class="ui-right-icon">
        <dt>
            <a href="{% url playguide_installclass %}">
                クラス<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_item_equipment %}">
                装備<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_formation %}">
                隊列<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_customize %}">
                戦術<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
    </dl>
    <h4>
        バトル
    </h4>
    <dl id="side-menu" class="ui-right-icon">
        <dt>
            <a href="{% url playguide_battle %}">
                バトルについて<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_status %}">
                ステータス変化<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
    </dl>
    <h4>
        クエスト
    </h4>
    <dl id="side-menu" class="ui-right-icon">
        <dt>
            <a href="{% url playguide_event %}">
                クエストについて<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
    </dl>
    <h4>
        その他
    </h4>
    <dl id="side-menu" class="ui-right-icon">
        <dt>
            <a href="{% url playguide_ability %}">
                能力値（アビリティ）<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_item %}">
                アイテムについて<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_skill %}">
                スキルについて<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url sell_data %}">
                販売アイテム一覧<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_tips %}">
                冒険に役立つヒント<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url playguide_update %}">
                改訂履歴<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
    </dl>
</nav>