
<nav>
	<h4>
		はじめての方へ
	</h4>
	<dl id="side-menu" class="ui-right-icon">
        <dt>
        	<a href="{% url root_startup %}">
        		Grand Blazeの世界へ<span class="ui-icon ui-icon-carat-1-e"></span>
        	</a>
        </dt>
	</dl>
	<h4>
		サポート
	</h4>
	<dl id="side-menu" class="ui-right-icon">
        <dt>
        	<a href="{% url root_information %}">
        		インフォメーション<span class="ui-icon ui-icon-carat-1-e"></span>
        	</a>
        </dt>
        <dt>
        	<a href="{% url root_faq %}">
        		FAQ<span class="ui-icon ui-icon-carat-1-e"></span>
        	</a>
        </dt>
        <dt>
            <a href="{% url root_idea %}">
                アイデア投稿<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url root_support_index %}">
                お問い合わせ<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="http://blog.grand-blaze.com/">
                Development Note<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="https://twitter.com/GB_GM">
                Official Twitter!<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
	</dl>
	<h4>
		コミュニティ
	</h4>
	<dl id="side-menu" class="ui-right-icon">
        <dt>
        	<a href="{% url forum_index %}">
        		フォーラム<span class="ui-icon ui-icon-carat-1-e"></span>
        	</a>
        </dt>
        <dt>
        	<a href="{% url link_index %}">
        		関連サイトリンク<span class="ui-icon ui-icon-carat-1-e"></span>
        	</a>
        </dt>
	</dl>
</nav>