
<nav>
	<h4>
		国家・組織
	</h4>
	<dl id="side-menu" class="ui-right-icon">
        <dt>
        	<a href="{% url worldguide_farneld %}">
        		ファーネルド連邦<span class="ui-icon ui-icon-carat-1-e"></span>
        	</a>
        </dt>
        <dt>
        	<a href="{% url worldguide_wald %}">
        		ワルド帝国<span class="ui-icon ui-icon-carat-1-e"></span>
        	</a>
        </dt>
        <dt>
            <a href="{% url worldguide_nellvearia %}">
                ネルヴァリア王国<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url worldguide_danaks %}">
                ダナクス諸侯連合<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url worldguide_office %}">
                公共機関<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
	</dl>
	<h4>
		世界の輪郭
	</h4>
	<dl id="side-menu" class="ui-right-icon">
        <dt>
        	<a href="{% url worldguide_outside %}">
        		輪郭<span class="ui-icon ui-icon-carat-1-e"></span>
        	</a>
        </dt>
        <dt>
        	<a href="{% url worldguide_elemental %}">
        		精霊と守護者<span class="ui-icon ui-icon-carat-1-e"></span>
        	</a>
        </dt>
        <dt>
            <a href="{% url worldguide_gods %}">
                神々<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
	</dl>
	<h4>
		歴史・文化
	</h4>
	<dl id="side-menu" class="ui-right-icon">
        <dt>
        	<a href="{% url worldguide_history %}">
        		世界年表<span class="ui-icon ui-icon-carat-1-e"></span>
        	</a>
        </dt>
        <dt>
        	<a href="{% url worldguide_lastest %}">
        		近代背景<span class="ui-icon ui-icon-carat-1-e"></span>
        	</a>
        </dt>
        <dt>
            <a href="{% url worldguide_war %}">
                魔神戦争<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url worldguide_install %}">
                クラス<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
        <dt>
            <a href="{% url worldguide_race %}">
                種族と相互関係<span class="ui-icon ui-icon-carat-1-e"></span>
            </a>
        </dt>
	</dl>
</nav>