{% extends 'base/regist_base.html' %}
{% load breadcrumbs register_extras file_extras %}

{% block title %}取引登録 確認 | Grand Blaze{% endblock %}

{%block head%}
<link href="{{ MEDIA_URL }}/css/regist.css?{{publish_date}}" rel="stylesheet" type="text/css">
<link href="{{ MEDIA_URL }}/css/form.css?{{publish_date}}" rel="stylesheet" type="text/css">
<link href="{{ MEDIA_URL }}/css/result.css?{{publish_date}}" rel="stylesheet" type="text/css">
{%endblock%}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "各種登録 確認" regist_index %}
{% breadcrumb "取引登録 確認" %}

{% endblock %}


{% block maincontents %}
<h1>取引登録 確認</h1>

<section>
    <form action="{% url continue_trade_execute %}" method="POST" id="action_index">
        {% csrf_token %}
        <h2>アイテムの売却</h2>
        {% for data in sell_datas %}
        <div class="form-widget">
            <div>
            	<div class="key">
	                <label for="id_sell-{{ forloop.counter0 }}-item_no">
	                    No{{forloop.counter}}
	                </label>
            	</div>
            	<div class="value integer">
            		{{data.item_no}} {{data.having_item.item.name}} を {{data.item_count}} 個 売却する。
            	</div>
            </div>
        </div>
        {% endfor %}
        
        <h2>アイテムのトレード</h2>
        {% for data in item_datas %}
        <div class="form-widget">
            <div>
                <div class="key">
                    <label for="id_item-{{ forloop.counter0 }}-trade_entry">
                        No{{forloop.counter}}
                    </label>
                </div>
                <div class="value integer" style="width: 560px; position: relative;overflow: hidden;">
                	E-No.{{data.trade_entry}} {{data.target.nick_name}} に {{data.trade_item_no}} {{data.having_item.item.name}} を {{data.trade_number}} 個送る。
                    <div class="ui-state-highlight ui-corner-all sub-content string">
                    	<strong>オプション:メッセージ</strong>
                    	{{ data.trade_message }}
                    </div>
                    {% if data.trade_message %}
                    オプションメッセージプレビュー:<br />
                    {{ data.trade_message|preview:user|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        
        <h2>お金のトレード</h2>
        {% for data in money_datas %}
        <div class="form-widget">
            <div>
                <div class="key">
                    <label for="id_money-{{ forloop.counter0 }}-trade_entry">
                        No{{forloop.counter}}
                    </label>
                </div>
                <div class="value integer" style="width: 560px; position: relative;overflow: hidden;">
                	E-No.{{data.trade_entry}} {{data.target.nick_name}} に {{data.trade_number}} ギムル送る。
                    <div class="ui-state-highlight ui-corner-all sub-content string">
                    	<strong>オプション:メッセージ</strong>
                    	{{ data.trade_message }}
                    </div>
                    {% if data.trade_message %}
                    オプションメッセージプレビュー:<br />
                    {{ data.trade_message|preview:user|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        
        <h2>アイテムの購入</h2>
        {% for data in buy_datas %}
        <div class="form-widget">
            <div>
            	<div class="key">
	                <label for="id_buy-{{ forloop.counter0 }}-item_no">
	                    No{{forloop.counter}}
	                </label>
            	</div>
            	<div class="value integer">
            		{{data.item_no}} {{data.item.name}} を {{data.item_count}} 個 購入する。
            	</div>
            </div>
        </div>
        {% endfor %}
        
        <div class="form-widget">
	        <div>
	            <div class="value value-only">
	            	<a data-role="button" href="{% url continue_trade_index %}">修正する</a>
	                <input type="submit" value="登録する" />
	            </div>
	        </div>
	    </div>
    </form>
</section>

{% endblock %}