{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}能力値（アビリティ） | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "能力値（アビリティ）" %}

{% endblock %}

{% block maincontents %}
<h1>能力値（アビリティ）</h1>

<section>
    <h2>概要</h2>
    <p>キャラクターにはバトルに関係する能力値が設定されており、この能力値によって、バトルにおける様々な判定の結果が左右されます。<br />
    下記のベーシックアビリティの他にも様々な能力がバトルに影響してきます。</p>
</section>

<section>
    <h2>ベーシックアビリティ</h2>
    <p>バトルに影響する基本的な能力値を特に「ベーシックアビリティ」と呼びます。それぞれのベーシックアビリティは次のような要素に影響を与えます。<br />
    	ベーシックアビリティのうち、「HP」、「MP」、「力」、「敏捷」、「魔力」、「ユニーク」の6つの能力はメインクラスのレベル(Lv)とクラス毎に設定されている能力補正によって最終的な数値が決定します。<br />
    	※サブクラスの能力補正はこれらの数値に影響しません。
    </p>
    <table class="guide-list" summary="ベーシックアビリティの影響一覧です。" style="width:95%;">
        <tr>
            <th scope="row">Lv</th>
            <td>レベル。現在インストールしているクラスの強さの基準となる値です。この値が高いほど、より能力値が高くなり、多くのスキルを扱うことができます。
            <br />
            サブクラスをインストールしている場合は、メインLv/サブLvといった形で表示されます。</td>
        </tr>
        <tr>
            <th scope="row">SP</th>
            <td>スキルポイント。このポイントの分、プライベートスキルを習得できます。</td>
        </tr>
        <tr>
            <th scope="row">EXP(Main)</th>
            <td>メインクラス経験値。この値が一定値たまると、メインにインストール中のクラスのレベルが 1 アップします。</td>
        </tr>
        <tr>
            <th scope="row">EXP(Sub)</th>
            <td>サブクラス経験値。この値が一定値たまると、サブにインストール中のクラスのレベルが 1 アップします。</td>
        </tr>
        <tr>
            <th scope="row">EXP(SP)</th>
            <td>スキルポイント経験値。この値が一定値たまると、スキルポイントを 1 ポイント獲得します。</td>
        </tr>
        <tr>
            <th scope="row">HP</th>
            <td>ヒットポイント、生命力。この値が 0 になると戦闘不能となり、そのバトル中は一部のアーツによる回復を受けない限り、再度バトルに参加できません。戦闘不能は、バトル終了でも自動的に回復します。</td>
        </tr>
        <tr>
            <th scope="row">MP</th>
            <td>マナライズポイント、マナ貯蓄量。魔法系アーツを使用する場合、消費することがあります。</td>
        </tr>
        <tr>
            <th scope="row">TP</th>
            <td>テクニカルポイント、技術許容量。必殺技系アーツを使用する場合、消費することがあります。戦闘中、ターンが進むことで徐々に蓄積されます。バトル終了で 0 に戻ります。種族やクラス、レベルに関係なく、最大値は 200 が基本となります（装備やスキルによって最大値が変化することがあります）。</td>
        </tr>
        <tr>
            <th scope="row">力</th>
            <td>筋力。主に武器攻撃によるダメージに影響します。</td>
        </tr>
        <tr>
            <th scope="row">敏捷</th>
            <td>敏捷さ。主に行動速度や回避率に影響します。</td>
        </tr>
        <tr>
            <th scope="row">魔力</th>
            <td>魔力。主に魔法攻撃によるダメージや回復魔法による効果量に影響します。</td>
        </tr>
        <tr>
            <th scope="row">ユニーク（大切なものの名前）</th>
            <td>主にステータス異常の発生（発生させる場合も、発生される場合も）やカウンター発生率に影響します。</td>
        </tr>
    </table>
</section>

<section>
    <h2>バトルアビリティ</h2>
    <p>バトルに影響する直接的な能力値を特に「バトルアビリティ」と呼びます。それぞれのバトルアビリティは次のような要素に影響を与えます。</p>
    <table class="guide-list" summary="バトルアビリティの影響一覧です。">
        <tr>
            <th scope="row">攻撃</th>
            <td>物理攻撃力。武器による物理ダメージに影響します。</td>
        </tr>
        <tr>
            <th scope="row">防御</th>
            <td>物理防御力。物理攻撃に対する防御能力です。被ダメージに影響します。</td>
        </tr>
        <tr>
            <th scope="row">魔法防御</th>
            <td>魔法防御力。魔法攻撃に対する防御能力です。被ダメージに影響します。</td>
        </tr>
    </table>
</section>

{% endblock %}
