{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}プレイガイドの見かた | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "プレイガイドの見かた" %}

{% endblock %}

{% block maincontents %}
<h1>プレイガイドの見かた</h1>

<section>
    <h2>プレイガイドの見かた</h2>
    <p>このプレイガイドは以下の項目ごとに解説されています。</p>
    <h3>プレイガイドについて</h3>
    <p>プレイガイドの構成と記載されている記号について説明しています。</p>
    <h3>ご利用の前に</h3>
    <p>Grand Blazeで遊ぶ前に必要な環境や規約について説明しています。</p>
    <h3>新規登録</h3>
    <p>Grand Blazeを始めるための情報を説明しています。</p>
    <h3>冒険を行う</h3>
    <p>キャラクターが登録された後、冒険を行っていく上で必要となる基礎知識を説明しています。<br />
    各種登録では「継続登録」の説明に当たります。</p>
    <h3>取引</h3>
    <p>アイテムやお金による取引について説明しています。<br />
    各種登録では「取引登録」の説明に当たります。</p>
    <h3>他のプレイヤーとの交流</h3>
    <p>他のプレイヤーと交流をとることができる様々な機能について説明しています。<br />
    各種登録では「メッセージ登録」、「セリフ登録」の説明に当たります。<br />
    その他、<a href="{% url forum_index %}">フォーラム</a>の掲示板についての簡単な説明も行っています。</p>
    <h3>キャラクター設定</h3>
    <p>キャラクターの設定やアイコン、アカウントの管理について説明しています。<br />
    各種登録では「キャラクター設定登録」、「アイコン設定登録」の説明に当たります。</p>
    <h3>バトルの準備</h3>
    <p>バトル前に設定しておくべきアイテムやスキルの装備、隊列、インストールの設定などについて説明しています。<br />
    各種登録では「戦闘準備登録」、「戦術登録」の説明に当たります。</p>
    <h3>バトル</h3>
    <p>Grand Blazeの中でも割合の大きいバトルについて説明しています。</p>
    <h3>クエスト</h3>
    <p>Grand Blazeに豊富に用意されたクエストについて説明しています。</p>
    <h3>合成</h3>
    <p>アイテムやスキルを合成し新たなモノを作る合成について説明しています。</p>
    <h3>プライベート</h3>
    <p>冒険の結果が発表された時、キャラクターの行動や能力が表示されるプライベート結果画面について説明しています。</p>
    <h3>その他</h3>
    <p>ともかく、始めるために必要な情報を集めたクイックスタートや、このプレイガイドの改訂履歴を記載しています。</p>
</section>

<section>
    <h2>プレイガイド中の記号について</h2>
    <p>このプレイガイドには、冒険を行う上での豆知識（tips）やよくある質問などをベースにしたちょっとした疑問と回答（faq）が明記されている場合があります。<br />
    tipsは以下のように表示されます。</p>
    <p class="ui-state-highlight ui-corner-all ui-inline-icon">
    	<span class="ui-icon ui-icon-notice"></span>
    	<strong>Tips! 豆知識紹介</strong><br />
    	tipsでは、冒険に役立つちょっとした知識や文章だけではわかりにくい内容について、実例を交えて解説しています。
    </p>
    <p class="ui-state-highlight ui-corner-all ui-inline-icon">
        <span class="ui-icon ui-icon-help"></span>
        <strong>FAQ? FAQってなに？</strong><br />
        よくある質問や、ちょっとした疑問などについてFAQ形式で解説しています。
    </p>
</section>

{% endblock %}
