{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}バトルについて | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "バトルについて" %}

{% endblock %}

{% block maincontents %}
<h1>バトルについて</h1>

<section>
    <h2>概要</h2>
    <p>Grand Blazeでは、バトルは自動で処理され、敵と味方がそれぞれ最低１回ずつ行動する、ターン制で進行していきます。<br />
    武器やアーツごとに設定されたCT（チャージタイム）によって、１ターンに行動できる速度が決まっていきます。</p>
    <p>キャラクターたちは、敵と遭遇すると、あらかじめ設定された行動内容に応じて、バトルでの行動を行います。</p>
</section>

<section>
    <h2>戦闘状況</h2>
    <p>まれに「不意打ち」や「先制攻撃」、「バックアタック」、「ラウンドアタック」といった通常とは異なる、特殊な状況でバトルが始まることがあります。<br />
    これらの状況の特徴は以下の通りです。</p>
    <dl class="subtext">
        <dt>先制攻撃</dt>
        <dd>敵に発見されていない状態で攻撃を仕掛けられる状態。１ターン目のみ、敵の行動がない。</dd>
        <dt>不意打ち</dt>
        <dd>敵に先に発見され、不意をうたれた状態。１ターン目のみ、味方が行動できない。</dd>
        <dt>バックアタック</dt>
        <dd>背後から襲われた状態。味方の隊列が前後逆になってしまう。</dd>
        <dt>ラウンドアタック</dt>
        <dd>乱戦状態になった状態。味方の隊列がばらばらになってしまう。</dd>
    </dl>
</section>

<section>
    <h2>フェイズステータス</h2>
    <p>バトル中の状態は<strong>フェイズステータス</strong>として１ターンごとに表示されます。プレイヤーキャラクターのHP（ヒットポイント）などの数値と共に現在の状態変化が表示されています。モンスターの<abbr title="ヒットポイント" lang="ja" xml:lang="ja">HP</abbr>などは数値確認できず、視覚的にしか確認できません。<br />
    <br />
    フェイズステータスには、キャラクター（またはモンスターやNPC）の名前、HP、MP、TP、隊列、現在の状態変化が表示されます。</p>
</section>

<section>
    <h2>戦闘の決着</h2>
    <p>敵、または味方（NPCを除く）のどちらかが全滅するか、事前にイベントなどで指定された勝利条件、敗北条件のどちらかを満たす、あるいは、制限ターン（999ターン）以内に決着がつかなかった場合、バトルは終了します。<br />
    勝利、敗北、そして引き分けごとの違いは次の通りです。</p>
    <dl class="subtext">
        <dt>勝利</dt>
        <dd>バトルに勝利すると、キャラクターは経験値のほか、ブレイズチップ(BC)と戦利品を獲得することができます。戦利品は、通常のアイテムのほか、モンスターが隠し持っていたお金を拾得できることもあります。<br />
        しかし、パーティメンバーに戦闘不能者がいる場合、パーティ全員の取得経験値が減少してしまいます。<br />
        マークによっては一定量のHPやMPが自動回復します。</dd>
        <dt>敗北</dt>
        <dd>バトルに敗北すると、経験値やBC、戦利品は獲得できません。<br />
        どのマークでもHPやMPが完全回復します。</dd>
        <dt>引き分け</dt>
        <dd>バトルの結果が引き分けの場合、経験値を得ることは出来ますが、BCや戦利品は獲得できません。<br />
        勝利した場合と同じように、パーティメンバーに戦闘不能者がいる場合、パーティ全員の取得経験値が減少してしまいます。<br />
        マークによっては一定量のHPやMPが自動回復します。</dd>
    </dl>
</section>

<section>
    <h2>勝利</h2>
    <p>バトルに勝利すると、以下のようなキャラクターへの恩恵が発生します。</p>
    <dl class="subtext">
        <dt>レベルアップ</dt>
        <dd>経験値が必要経験値までたまると、自動的にキャラクターやクラスがレベルアップします。<br />
		    キャラクターのレベルがアップすると、新たなプライベートスキルを習得することが可能になったりします。<br />
		    クラスのレベルがアップすると、基礎能力（HPや力など）の上昇の他、スキルの習得が行われます。</dd>
        <dt>戦利品</dt>
        <dd>モンスターは最大5種類のアイテムを持っています。それぞれのアイテムには入手できる確率が設定されています。場合によっては、一度に複数種類のアイテムを手に入れることもできます。「トレジャーハント」のスキルを装備していると、入手できる確率が上昇したり、一度に複数個落とすようになったりします。<br />
        	通常の戦利品はパーティメンバー全員に行き渡ります。しかし、[Rare]属性が付与されたアイテムに限っては、パーティメンバーのうち、誰か一人に配布されます（このとき、継続登録を行っているキャラクター優先で配布されます）。
        </dd>
        <dt>ブレイズチップ(BC)</dt>
        <dd>モンスターがもっている謎の欠片。一定数消費することで、バウンティクエストに挑戦することが出来ます。<br />
        	<a href="{% url playguide_event %}">→クエストについての「バウンティ」を参照してください。</a>
        </dd>
        <dt>HPやMP</dt>
        <dd>マーク毎に設定されている自動回復値に応じた割合のHPやMPが自動的に回復します。
        </dd>
    </dl>
</section>

<section>
    <h2>敗北</h2>
    <p>パーティが全滅するか、敗北条件を満たした場合、そのバトルは敗北となり、クエストの達成にはなりません。<br />
    	また次回への英気を養うために医療施設へ強制的に運ばれるため、HPやMPが完全回復します。<br />
    ※次の更新時に、再挑戦できます。</p>
</section>

<section>
    <h2>対空攻撃</h2>
    <p>モンスターの中には、高い空を飛んでいる敵も存在します。<br />
    そのような敵に対しては、対空効果のある武器やアーツでなければ、攻撃が届きません。<br />
    標準で対空効果のある武器は「投擲」、「弓」、「弩」、「銃」といった遠隔武器のみです。<br />
    アーツの場合は、「対空効果」と書かれているアーツのみ、これらの特別な敵に攻撃が届くようになります。</p>
</section>

<section>
    <h2>「連撃」や「クリティカル」による攻撃のパワーアップ</h2>
    <p>キャラクターやモンスターが行う攻撃では、武器やスキルごとに決まっている確率により、「連撃」または「クリティカル」のどちらかが発生し、通常よりもダメージが強力になる可能性があります。<br />
    連撃は主に近接武器（片手剣や両手槍など）による攻撃で、クリティカルは主に遠隔武器（投擲や銃など）による攻撃で発生しますが、効果中のステータス変化やスキル効果により、発生する効果が異なったりします。<br />
    具体的な効果は以下の通りです。</p>
    <dl class="subtext">
        <dt>連撃</dt>
        <dd>複数回の連続攻撃を行う。</dd>
        <dt>クリティカル</dt>
        <dd>与えるダメージが2倍になる。</dd>
    </dl>
</section>

<section>
    <h2>攻撃された時に発生する要素</h2>
    <p>攻撃された時、ただ相手の攻撃を食らうか、ミスになるかといっただけでなく、自分から相手の攻撃を受け流したり、盾でガードすることができます。攻撃された時に発生する要素は次の通りです。</p>
    <dl class="subtext">
        <dt>パリィ</dt>
        <dd>物理攻撃を受け流します。武器に設定された「武器回避」が影響します。物理攻撃以外では発動しません。</dd>
        <dt>ガード</dt>
        <dd>盾によって攻撃を無力化させます。盾の「回避」や「魔法回避」が影響します。物理攻撃の場合は、「回避」、魔法攻撃ならば、「魔法回避」で、回避できることがあります。</dd>
    </dl>
</section>

<section>
    <h2>属性</h2>
    <p>バトルにおいて重要な要素に「属性」があります。攻撃側の属性（攻撃属性）と防御側の属性耐性（防御属性）によって、ダメージなどに影響を与えます。属性が存在しない場合、「無」属性として扱われ、属性に関するルールの影響を受けません。</p>
</section>

<section>
    <h2>耐性や弱点など</h2>
    <p>属性防御には、次の種類があります。</p>
    <dl class="subtext">
        <dt>弱点</dt>
        <dd>ダメージが増加します。</dd>
        <dt>半減</dt>
        <dd>ダメージが半分になります。</dd>
        <dt>無効</dt>
        <dd>ダメージを与えられなくなります。</dd>
        <dt>吸収</dt>
        <dd>与えたダメージで逆に回復されてしまいます。</dd>
    </dl>
</section>

<section>
    <h2>属性一覧</h2>
    <table class="guide-list" summary="属性の一覧です。">
        <tr>
            <th scope="row">火</th>
            <td>火炎や熱による攻撃が持つ属性です。</td>
        </tr>
        <tr>
            <th scope="row">水</th>
            <td>水圧や雨など水による攻撃が持つ属性です。</td>
        </tr>
        <tr>
            <th scope="row">土</th>
            <td>岩石や大地の振動による攻撃が持つ属性です。</td>
        </tr>
        <tr>
            <th scope="row">風</th>
            <td>強風や疾風による攻撃が持つ属性です。</td>
        </tr>
        <tr>
            <th scope="row">氷</th>
            <td>氷や冷気などによる攻撃が持つ属性です。</td>
        </tr>
        <tr>
            <th scope="row">雷</th>
            <td>雷や電流による攻撃が持つ属性です。</td>
        </tr>
        <tr>
            <th scope="row">聖</th>
            <td>神々の加護を得た神聖な力による攻撃が持つ属性です。</td>
        </tr>
        <tr>
            <th scope="row">闇</th>
            <td>冥界や魔族の力を得た邪悪な力による攻撃が持つ属性です。</td>
        </tr>
        <tr>
            <th scope="row">斬</th>
            <td>相手を斬りつける属性です。</td>
        </tr>
        <tr>
            <th scope="row">突</th>
            <td>相手を貫いてしまう属性です。</td>
        </tr>
        <tr>
            <th scope="row">打</th>
            <td>相手に衝撃を与える属性です。</td>
        </tr>
        <tr>
            <th scope="row">壊</th>
            <td>相手を内側から破壊する属性です。</td>
        </tr>
    </table>
</section>

{% endblock %}
