{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}フォーラムを利用する | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "フォーラムを利用する" %}

{% endblock %}

{% block maincontents %}
<h1>フォーラムを利用する</h1>

<section>
    <h2>概要</h2>
    <p>他のプレイヤーとのコミュニケーションにおいて、このゲームではゲーム内だけではなく、「<a href="{% url forum_index %}">フォーラム</a>」に設置された各種フォーラムの利用も大切なものです。<br />
    フォーラムには、主にプレイヤー同士でのコミュニケーションをとるための「仲間募集」、「取引」、「質問」、「ディスカッション」、そして、Game Masterに報告・質問・提案など（フィードバック）を行うための「フィードバック」があります。 <br />
    この項では特に、「仲間募集」、「取引」について解説しています。</p>
    <p class="ui-state-highlight ui-corner-all ui-inline-icon">
        <span class="ui-icon ui-icon-notice"></span>
        <strong>Tips! フォーラムの利用ガイドライン</strong><br />
        フォーラムの具体的な利用方法、ガイドラインについては、<a href="{% url forum_index %}">フォーラム</a>内の利用ガイドラインを参照してください。
    </p>
</section>

<section>
    <h2>仲間を集う ～ 仲間募集の利用</h2>
    <p>多くのパーティメンバー募集は、<a href="{% url forum_list 2 %}">仲間募集</a>で行われています。様々な条件で募集されていますので、自分にあった募集記事に勇気を持って返信してみましょう。募集しているプレイヤーから返事が来たら、あとは交渉してみましょう。募集しているパーティの募集内容とあなたが求める条件が合致すればきっと、パーティを結成できるでしょう。<br />
    自分にあった募集記事がない場合、自分が記事を立ててみるのもいいでしょう。その際には、パーティの目的などの条件を書いておくと、ぴったりな仲間が見つかるかもしれません。</p>
    <p>なお、仲間を見つける方法は、これだけではありません。</p>
</section>

<section>
    <h2>アイテムや情報、絵の取引 ～ 取引の利用</h2>
    <p>プレイヤー間で取引を行う場合には、バザーの他、<a href="{% url forum_list 1 %}">取引</a>も利用するといいでしょう。<br />
	このフォーラムには、売りたい人や買いたい人の書き込みが多数されています。アイテムだけでなくプロフィール用のキャラクター画像などが取り引きされている場合もあります。<br />
	安くアイテムを手に入れるためにも、このフォーラムを積極的に利用するのも手でしょう。<br />
	もちろん、このフォーラムを利用しなくてもバザーなどで取引は可能ですし、取引自体を行わなくても進行自体に支障はありません。しかし、せっかくですから、自分のパーティメンバーだけでなく、他の人とも交流してみてください。</p>
</section>

<section>
    <h2>疑問点の解決 ～ 質問の利用</h2>
    <p>プレイをしていく上でプレイガイドに載っていないことで疑問に思ったことがあった場合、<a href="{% url forum_list 3 %}">質問</a>を利用するといいでしょう。<br />
	このフォーラムには、今までの質問内容も掲載されていますので、すでに誰かが質問していないか調べてみるのもいいかもしれません。<br />
	質問には多くの場合ゲームマスターが答えてくれますが、場合によっては、他のプレイヤーが答えてくれるかもしれません。</p>
</section>

<section>
    <h2>いろいろな話を ～ ディスカッションの利用</h2>
    <p>プレイヤーで雑談や何かのイベントの告知などを行う場合には、<a href="{% url forum_list 4 %}">ディスカッション</a>を利用するといいでしょう。<br />
	ゲームには直接関係ない話やキャラクターとしての交流、情報交換、その他、イベントの告知など、様々な利用方法があります。<br />
	他のフォーラムではカバーできない様々な利用を行ってみてください。</p>
</section>

<section>
    <h2>バグの報告・ＧＭへの連絡、提案 ～ フィードバックの利用</h2>
    <p>ゲームをプレイしていく上でバグと思われる内容を発見した場合、速やかに<a href="{% url forum_list 5 %}">フィードバック</a>にご報告ください。<br />
	ゲームの発展のため、ご協力ください。<br />
	あやしいな？と感じたらお知らせいただくのでも問題ありません。<br />
    その他、ゲームマスターへ連絡や報告、お願いなどがある場合も、フィードバックをご利用ください。</p>
</section>

{% endblock %}
