{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}プレイ上のお願い | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "プレイ上のお願い" %}

{% endblock %}

{% block maincontents %}
<h1>プレイ上のお願い</h1>

<section>
    <h2>他のプレイヤーとのコミュニケーションについて</h2>
    <p>ゲーム上でのコミュニケーションでは、相手の姿が見えないため、自身の意図していないニュアンスで言葉が伝わってしまったり、誤解を受けてしまう場合があります。そのため、楽しくコミュニケーションを行うために以下の点をご留意ください。</p>
    <ul>
	    <li>プレイヤーとしての発言では、言葉遣いは丁寧に行いましょう。</li>
	    <li>他のプレイヤーへのアドバイスは優しくするとよいでしょう。</li>
	    <li>他のプレイヤーが参加しやすい雰囲気作りを心へのアドバイスは優しくするとよいでしょう。</li>
	    <li>日常生活で好ましくない言動は行わないようにしましょう。</li>
	    <li>自身や他のプレイヤーの個人情報を不用意に明かさないようにしましょう。</li>
    </ul>
    <p class="ui-state-highlight ui-corner-all ui-inline-icon">
        <span class="ui-icon ui-icon-notice"></span>
        <strong>Tips! キャラクターロール</strong><br />
        ゲーム内では、自身の設定した「キャラクター」になりきる、「キャラクターロール」を行うプレイヤーもいます。<br />
	    キャラクターロールでは、そのキャラクターの性格により、相手を困惑させたり、怒らせてしまうこともありますが、その際、特に初体面の相手に対してはプレイヤーの発言などでフォローするなど、相手との関係を円滑に行うようにプレイしていきましょう。<br />
	    キャラクターロールでならば言葉遣いなどはどんなものでも許されるというわけではなく、きちんとフォローができなければ、ただの迷惑行為となります。ご注意ください。
    </p>
</section>

<section>
    <h2>ゲームプレイ時のご注意</h2>
    <p>Grand Blazeでは、迷惑行為や不正行為は禁止されています。これらの行為はルール違反となるだけでなく、規約違反ともなります。これらの違反行為が認められた場合、アカウントの剥奪やキャラクターの強制削除、再登録禁止処置など、その内容によっては重い処罰が下されます。以下に禁止事項の一例を挙げます。</p>
    <h3>ハラスメント行為</h3>
    <ul>
	    <li>公序良俗上好ましくないと思われる言葉の使用。</li>
	    <li>人種差別、民族差別、宗教差別、性差別に該当する表現、他者を誹謗中傷する表現、わいせつな表現、現実世界での宣伝・政治活動などをゲーム内へ持ち込み、それを第三者へ表現すること。</li>
    </ul>
    <h3>迷惑行為</h3>
    <ul>
	    <li>メッセージや掲示板などを活用し会話を故意に妨害する行為やメッセージエリアや掲示板のスレッドを占有的、排他的に使用する行為。</li>
	    <li>トレード機能を使用し、相手の望まないアイテムを送り続ける行為。</li>
	    <li>その他、プレイヤー側に自衛手段が無く他のプレイヤーのゲームプレイを妨害させるとGame Masterが判断した行為。</li>
    </ul>
    <h3>詐欺行為</h3>
    <ul>
        <li>故意に約束を破ったり騙したりすることで、相手からアイテムやギムルをだまし取る行為。</li>
    </ul>
    <h3>ゲームバランスを崩壊させる行為</h3>
    <ul>
	    <li>サイトの内容を改ざんする行為。</li>
	    <li>不正なフォームを作成し、これを利用する行為。</li>
	    <li>得られる結果に関係なくプログラム上の不具合を意図的に利用する行為。</li>
	    <li>現実世界の金品を用いてアイテムやギムルなどを売買するRMT行為。</li>
    </ul>
    <p class="ui-state-highlight ui-corner-all ui-inline-icon">
        <span class="ui-icon ui-icon-notice"></span>
        <strong>Tips! 不具合の発見</strong><br />
        ゲーム上やサイト上に不具合と思われる問題を発見した場合、お早めにご連絡ください。万が一、それが仕様でも問題ありません。
    </p>
    <p class="ui-state-highlight ui-corner-all ui-inline-icon">
        <span class="ui-icon ui-icon-notice"></span>
        <strong>Tips! キャラクターの画像やアイコンの取引はRMT行為？</strong><br />
        キャラクター固有の画像やアイコンはGrand Blazeのゲーム内のデータではないため、これらの使用は著作権者と利用者との間の取り決めの内容に依存します。著作権者が禁じている利用方法を行わないよう十分にご注意ください。
    </p>
    <h3>その他の行為</h3>
    <ul>
	    <li>他人へのなりすまし。</li>
	    <li>Game Masterから指示された内容に従わないこと。</li>
	    <li>ゲームの運営に支障を与える、または恐れのある行為。</li>
    </ul>
    <p>このほか、深刻な障害の被害を被る可能性があるプレイヤーに対して、障害の回復、または回避に必要な指示が与えられる場合があります。これらの指示に従わなかったことによって生じる一切の問題について、当方では責任を負いかねます。</p>
</section>

{% endblock %}
