{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}継続登録の提出 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "継続登録の提出" %}

{% endblock %}

{% block maincontents %}
<h1>継続登録の提出</h1>

<section>
    <h2>継続登録</h2>
    <p>冒険者は冒険者ギルドに「継続登録書」を毎週提出しなければなりません。これは、冒険者ギルドがギルドに属している冒険者の生存を確認するために提出を義務づけているものです。<br />
    万が一、これらが提出されないと、冒険者ギルドは提出のなかった冒険者をM.I.A.（Missing In Action）、つまり、行方不明として扱います（戦死として扱うこともあります）。</p>
    <p>継続登録を連続で１４回、未提出にすると、そのキャラクターは自動で削除されてしまいます。対して、連続で４回提出すると、クラスそれぞれに専用に用意されている強力なスペシャルスキルを使うことができます。</p>
</section>

<section>
    <h2>継続登録とその他の登録種類</h2>
    <p>継続登録以外にも用意された各種登録の内容について簡単に解説します。<br />
    新規登録、パスワードリマインダー以外の登録の前には、ログインを行う必要があります。<br />
    ※ログイン前に項目をリンクするとログインしてくださいと表示されます。</p>
    <dl class="subtext">
        <dt>新規登録</dt>
        <dd>新規に登録する時のみ使用する登録です。自分の分身たるキャラクターを作成し、Grand Blazeをはじめます。</dd>
        <dt>継続登録</dt>
        <dd>毎週、行う必要がある基本的な登録です。<br />
           パーティの編成や移動先の決定、アイテムの使用、プライベートスキル習得など、キャラクターが行動を行うのに必要な基本的な事柄が揃っています。</dd>
        <dt>取引登録</dt>
        <dd>アイテムの売買やトレードなどが出来ます。</dd>
        <dt>戦闘準備登録</dt>
        <dd>アイテムの装備やスキルのセットアップ、隊列、クラスの設定などを登録できます。</dd>
        <dt>戦術登録</dt>
        <dd>バトルにおけるキャラクターの行動を設定できます。<br />
           条件とそれに対応する行動を選択することで、バトルにおけるキャラクターの行動を自由に変更、組み合わせることができます。</dd>
        <dt>個人設定</dt>
        <dd>キャラクターの画像や愛称、称号などを変更できます。<br />
        その他、アカウント状態も変更できます。
           初期状態からさらに変更したい場合や一時的にアカウントを凍結する場合などに活用してください。</dd>
        <dt>アイコン設定</dt>
        <dd>キャラクター専用のアイコンを設定できます。<br />
           アイコンのURL、著作者名を記入します（両方とも必須です）。最大50個まで設定できます。</dd>
        <dt>メッセージ登録</dt>
        <dd>次の更新時にやりとりするメッセージを変更、登録することができます。</dd>
        <dt>セリフ設定</dt>
        <dd>バトル時にキャラクターに喋らせたいセリフを設定できます。<br />
           バトル時以外のセリフなどは、メッセージなどを活用してください。<br />
           一度に全て記入する必要はありません。</dd>
    </dl>
</section>

{% endblock %}
