{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}クエストについて | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "クエストについて" %}

{% endblock %}

{% block maincontents %}
<h1>クエストについて</h1>

<section>
    <h2>概要</h2>
    <p>Grand Blazeでは、主に街の人々や冒険者ギルドで引き受ける「<strong>クエスト</strong>」の他、メインストーリーに関わる「<strong>ミッション</strong>」、BCを消費すれば何度でも挑戦できる「<strong>バウンティ</strong>」の3つが存在します。<br />
クエストやミッション、バウンティをクリアすると、名声の他、報酬としてお金や貴重なアイテムなどがもらえる場合があります。SPが高くなったり、特定のクエストをクリアすることで、さらに多くのイベントを経験することが出来るようになります。</p>
</section>

<section>
    <h2>クエスト</h2>
    <p>クエストは、主に冒険者ギルドで引き受けたり、直接、街の人々から依頼されたり、現地で依頼されたりと様々な種類があります。単発のクエストであったり、続編があるクエストもあったりします。特定のアイテムを手に入れるためのクエストもあるかもしれません。</p>
</section>

<section>
    <h2>ミッション</h2>
    <p>ミッションは、Grand Blazeのメインストーリーが展開されます。ミッションは、続き物（キャンペーン型）となっており、特定の条件を達すると、次のミッションが発生するようになります。</p>
</section>

<section>
    <h2>バウンティ</h2>
    <p>バウンティは、バトル終了で手に入る「BC（ブレイズチップ）」を消費して、バウンティヘッド（賞金首）と戦い、貴重なアイテムなどが手に入るイベントです。クエストやミッションと異なり、必要なBCさえあれば何度でも挑戦することができ、報酬もその分、獲得できます。</p>
</section>

<section>
    <h2>クエストの受領と達成</h2>
    <p>クエストやミッションの達成方法や受領方法は様々な種類が存在します。以下では、共通項目としてあげられる点について解説します。</p>
</section>

<section>
    <h2>クエストの受領</h2>
    <p>ほとんどのクエストはレベルや前提クエストの達成などの条件を満たすことで自動的に発生します。<br />
    発生しているクエストは、継続登録の移動先として自動的に表示されます。</p>
</section>

<section>
    <h2>依頼の進行状況と達成</h2>
    <p>クエストの進行状況が異なるメンバーが同じパーティ内にいる場合、もっとも進行状況が進んでいないキャラクターのものが、パーティとしてのクエスト進行状況となります。そのため、メンバーの加入状況によっては、同じバトルが連続して発生することがあります。<br />
    もっとも進行状況が進んでいないメンバーがコンプリート条件を達成した時点で、クエストの達成とみなされます。</p>
    <p class="ui-state-highlight ui-corner-all ui-inline-icon">
        <span class="ui-icon ui-icon-notice"></span>
        <strong>Tips! パーティを組んでいる状態の達成</strong><br />
        パーティを組んでいる場合、パーティメンバーの中に、すでにその依頼を達成しているキャラクターがいたとしても、未クリアのメンバーがいる限り、イベントが発生します。<br />
        ただし、すでにその依頼をクリアしているメンバーは、依頼達成による報酬を受け取ることが出来ません。
    </p>
</section>

{% endblock %}
