{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}キャラクターの成長 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "キャラクターの成長" %}

{% endblock %}

{% block maincontents %}
<h1>キャラクターの成長</h1>

<section>
    <h2>概要</h2>
    <p>バトルを終えると、経験値の獲得、ブレイズチップの獲得、そして戦利品の獲得が行われます。経験値はキャラクターやクラスのレベルを強化し、戦利品は、お金に換金したりそのまま利用することで、キャラクターの強化へとつながります。</p>
</section>

<section>
    <h2>レベルアップ</h2>
    <p>経験値が必要経験値までたまると、自動的にキャラクターやクラスがレベルアップします。<br />
    キャラクターのレベルがアップすると、新たなプライベートスキルを習得することが可能になったりします。<br />
    クラスのレベルがアップすると、基礎能力（HPや力など）の上昇の他、スキルの習得が行われます。</p>
</section>

<section>
    <h2>戦利品</h2>
    <p>モンスターは最大5種類のアイテムを持っています。それぞれのアイテムには入手できる確率が設定されています。場合によっては、一度に複数種類のアイテムを手に入れることもできます。「トレジャーハント」のスキルを装備していると、入手できる確率が上昇したり、一度に複数個落とすようになったりします。</p>
</section>

{% endblock %}
