{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}クラス | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "クラス" %}

{% endblock %}

{% block maincontents %}
<h1>クラス</h1>

<section>
    <h2>概要</h2>
    <p>冒険を進めていく上でバトルや冒険を有利に進めるために、クラスをインストールしていくことが必要不可欠となります。<br />
    クラスのインストールとは、いわゆる「クラスチェンジ」のことであり、クラスを変更していくことで、キャラクターは過去の戦士、職人達の能力を受け継ぎ、新たな能力を手に入れることができます。</p>
    <p class="ui-state-highlight ui-corner-all ui-inline-icon">
        <span class="ui-icon ui-icon-notice"></span>
        <strong>Tips! 登録はどこで行う？</strong><br />
        クラスの変更は、<strong>戦闘準備登録</strong>で行います。
    </p>
</section>

<section>
    <h2>クラスの成長</h2>
    <p>モンスターを倒した時に入手できる経験値により、キャラクター自身のスキルポイントと同様に、クラスも成長していき、レベルアップします。一定のレベルに達することで、自動的にスキルを習得します。</p>
</section>

<section>
    <h2>クラスのインストール</h2>
    <p>クラスをインストールすると、そのクラス専用の様々なスキルを使うことができます。</p>
    <div class="ui-state-highlight ui-corner-all ui-inline-icon">
        <span class="ui-icon ui-icon-notice"></span>
        <strong>Tips! クラスをインストールする場合の例</strong><br />
        クラスに「スカウト」をインストールする場合、次のように記入します。<br />
        <form>
            <select class="standard_box" name="install">
                <option value="6">スカウト</option>
			</select>
			をインストール。
        </form>
    </div>
</section>

<section>
    <h2>サブクラス</h2>
    <p>冒険が進むと、あるクエストをクリアすることで、２つ目のクラスをインストールできるようになります。<br />
    これを、「サブクラス」と呼びます。<br />
    サブクラスには、次のような特徴があります。</p>
    <dl class="subtext">
        <dt>サブクラスには、メインクラスと同じクラスをインストールできない</dt>
        <dd>すでに戦士をインストールしているキャラクターが、サブにさらに戦士をインストール、といったことはできません。他の、パラディンなどを追加でインストールする、と言ったことは可能です。</dd>
        <dt>取得経験値は半分</dt>
        <dd>サブにインストールしているクラスも経験値を獲得できますが、本来入手できる量の半分までしか経験値を獲得できません。</dd>
        <dt>サブのクラスで使えるスキルのレベルは最大、メインクラスの半分まで</dt>
        <dd>戦士Lv12、パラディンLv27のキャラクターがメインにパラディン、サブに戦士とした場合、レベルは戦士はLv12、パラディンはLv27として計算され、戦士Lv12までのスキルとパラディンLv27までのスキルの多くがそのまま使用できますが、逆にメインを戦士にした場合、戦士Lv12、パラディンはLv6という扱いになり、使用できるスキルが制限されます（この場合、パラディンLv6相当までのスキルしか使用できません）。</dd>
        <dt>能力値（アビリティ）には影響しない</dt>
        <dd>メインにマージ、サブに戦士とした場合でも、能力はマージのままです。ただし、サブクラスの一部のスキルを扱えるため、挑発のできるマージができあがります。</dd>
    </dl>
</section>

<section>
    <h2>キャラクターがインストールできるクラス</h2>
    <p>キャラクターがインストール可能なクラスとその特徴は以下の通りです。</p>
    <dl class="subtext">
        <dt><a href="{% url install_data 1 %}">戦士</a></dt>
        <dd>主に近接攻撃の得意なクラス。時には防御力をアップさせることで一時的に補助的な盾役を担うことも可能。</dd>
        <dt><a href="{% url install_data 5 %}">狩人</a></dt>
        <dd>主に遠隔攻撃の得意なクラス。「ポーション」による仲間の強化と特殊弾薬による自己の強化を行うこともできる。</dd>
        <dt><a href="{% url install_data 3 %}">パラディン</a></dt>
        <dd>主に攻撃を受ける盾役の得意なクラス。多くの敵の注意を引きつけることで味方を護り、鉄壁の防御で攻撃を防ぐことで戦いに貢献する。</dd>
        <dt><a href="{% url install_data 4 %}">モンク</a></dt>
        <dd>主に攻撃を避ける盾役の得意なクラス。敵の注意を引きつけつつ、カウンターや攻撃を受け流すことで戦いに貢献する。</dd>
        <dt><a href="{% url install_data 7 %}">プリースト</a></dt>
        <dd>主に魔法による回復の得意なクラス。豊富な回復用のスキル「神聖魔法」で味方の傷を癒していく。</dd>
        <dt><a href="{% url install_data 8 %}">機工士</a></dt>
        <dd>主にアイテムによる回復の得意なクラス。少しトリッキーながら強力な効果を持つアイテムを駆使し、回復の他攻撃にも転じることができる。</dd>
        <dt><a href="{% url install_data 9 %}">マージ</a></dt>
        <dd>主に魔法による属性攻撃の得意なクラス。豊富な攻撃用のスキル「精霊魔法」で様々な魔法攻撃を行える。</dd>
        <dt><a href="{% url install_data 2 %}">サムライ</a></dt>
        <dd>主に物理による属性攻撃の得意なクラス。前線で攻撃を行いながら様々な属性攻撃を放つ「刀術」を扱う。</dd>
        <dt><a href="{% url install_data 6 %}">スカウト</a></dt>
        <dd>主に戦場をコントロールすることが得意なクラス。味方に注意を引きつけさせたり、特定の敵を無力化したりとトリッキーな戦いを行う。</dd>
        <dt><a href="{% url install_data 10 %}">学者</a></dt>
        <dd>主に敵をコントロールすることが得意なクラス。様々な状態変化を発生させる「学術」を使い、敵を無力化したり弱体化させることができる。</dd>
        <dt><a href="{% url install_data 11 %}">吟遊詩人</a></dt>
        <dd>主に味方の能力を変化させることが得意なクラス。様々な呪歌を操り、味方を鼓舞し、味方の能力を通常の何倍も発揮させることができる。</dd>
        <dt><a href="{% url install_data 12 %}">バッカニア</a></dt>
        <dd>主に味方の能力を変化させることができるかもしれないクラス。何が起こるかはまったくの未知。の技は味方を護るか、それとも敵を助けるか。すべては出目次第…？</dd>
    </dl>
</section>

{% endblock %}
