{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}アイテムについて | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "アイテムについて" %}

{% endblock %}

{% block maincontents %}
<h1>アイテムについて</h1>

<section>
    <h2>概要</h2>
    <p>ここでは、アイテムについて、継続登録や取引登録、戦闘準備登録の説明には書かれていない部分について解説します。</p>
</section>

<section>
    <h2>アイテムの所持数</h2>
    <p>一人のキャラクターは、初期状態でカバンに最大50種類（個数ではなく、種類です）までアイテムを持つことが出来ます。同じアイテムはスタック可能（同じ項目にいくつももてるもの）なアイテムであれば、最大99個まで持つことができ、自動的に一纏めにされます（最大数を超えてしまう場合はトレードに失敗したり、そのアイテムを入手できません）。<br />
    もてる種類やスタック数（同じアイテムを持てる個数）を増やすためには、クエストをこなしたり、新たなプライベートスキルを習得しなくてはなりません。</p>
</section>

<section>
    <h2>貴重品</h2>
    <p>アイテムの中には、アイテム一覧には表示されず、「貴重品」のリストに表示されるアイテムも存在します。これらの貴重品は捨てることも売ることもできません。貴重品の有無でイベントの内容に変化が生じたりします。<br />
    貴重品はいくつでも持ち歩くことが出来ます。</p>
</section>

<section>
    <h2>アイテムの解説文</h2>
    <p>アイテムの解説文には、そのアイテムの形状や説明のほか、装備した際の性能や装備・使用可能レベルなどの情報も記載されています。<br />
	これらの解説文は正式名称ではなく略称で表記されているため、注意が必要です。<br />
	それぞれの略称と正式名称、内容は次の通りです。</p>
    <p class="ui-state-highlight ui-corner-all ui-inline-icon">
        <span class="ui-icon ui-icon-notice"></span>
        <strong>Tips! 追加効果の効果発揮</strong><br />
        追加効果の中には、必ず発動しているものと、確率で発動するものの二通りが存在します。確率で発揮されるものは、効果名称の先頭に[R]と表記されます。
    </p>
    <table class="guide-list" summary="アイテムの解説文中に登場する略称表記説明の一覧です。" style="width:95%;">
        <tr>
            <th>略称</th>
            <th>正式名称、説明</th>
        </tr>
        <tr>
            <th>全種</th>
            <td>装備できる種族を表します。性別記号+種族名称の頭文字で構成されています。
            <br />
            すべての種族が装備できる場合は「全種」、性別限定の場合は性別記号のみ、種族限定の場合は種族のイニシャルのみとなります（種族限定かつ、性別限定の場合は、種族のイニシャル+性別記号で制限が表示されます）。</td>
        </tr>
        <tr>
            <th>Lv○～</th>
            <td>インストールしているクラスのレベルがレベル○以上から装備可能であることを示します。使用するアイテムの場合は、そのレベル以上でないと使用しても効果を発揮できません。</td>
        </tr>
        <tr>
            <th>威力:○</th>
            <td>武器の威力です。物理攻撃によるダメージ量に影響します。</td>
        </tr>
        <tr>
            <th>ＣＴ:○</th>
            <td>チャージタイム（Charge Time）です。
            <br />
            数値が低いほど攻撃速度が速くなります。</td>
        </tr>
        <tr>
            <th>武器回避:○</th>
            <td>武器回避率です。武器によるパリィ発生率に影響します。</td>
        </tr>
        <tr>
            <th>必殺:〇</th>
            <td>必殺発生率です。武器によって、クリティカル（ダメージがアップ）や連撃（連続で攻撃できる）が発生します。</td>
        </tr>
        <tr>
            <th>射程:○</th>
            <td>武器の有効射程です。同じ武器でも射程の違うものが存在しますので、隊列には注意しましょう。</td>
        </tr>
        <tr>
            <th>回避:○</th>
            <td>物理回避率です。物理攻撃を盾で回避できるガード発生率に影響します。</td>
        </tr>
        <tr>
            <th>魔法回避:○</th>
            <td>魔法回避率です。魔法攻撃を盾で回避できるガード発生率に影響します。</td>
        </tr>
        <tr>
            <th>防御:○</th>
            <td>物理防御力です。被物理系ダメージに影響します。</td>
        </tr>
        <tr>
            <th>魔法防御:○</th>
            <td>魔法防御力です。被魔法系ダメージに影響します。</td>
        </tr>
        <tr>
            <th>属性:○</th>
            <td>武器の攻撃属性です。ダメージなどに影響します。</td>
        </tr>
        <tr>
            <th>弱点:〇</th>
            <td>防具の弱点属性です。この属性の攻撃を受けると、ダメージが増えてしまいます。</td>
        </tr>
        <tr>
            <th>半減:〇</th>
            <td>防具の半減属性です。この属性の攻撃を受けた場合、ダメージが半減します。</td>
        </tr>
        <tr>
            <th>無効:〇</th>
            <td>防具の無効属性です。この属性の攻撃を無力化します。</td>
        </tr>
        <tr>
            <th>吸収:〇</th>
            <td>防具の吸収属性です。この属性の攻撃を吸収し、回復できます。</td>
        </tr>
        <tr>
            <th>All Installs</th>
            <td>装備可能なクラスです。All Installsならば、全てのクラスです。または、装備可能なクラスのリストです。</td>
        </tr>
        <tr>
            <th>[Rare]</th>
            <td>レア属性。キャラクターが一つしか持つことのできないアイテムです。</td>
        </tr>
        <tr>
            <th>[Quest]</th>
            <td>クエスト属性。他のプレイヤーキャラクターに譲渡することができないアイテムです。特にクエストで要求されるアイテムです。</td>
        </tr>
        <tr>
            <th>[Bind]</th>
            <td>バインド属性。他のプレイヤーキャラクターに譲渡することができないアイテムです。</td>
        </tr>
    </table>
</section>

{% endblock %}
