{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}新規登録について | Grand Blaze{% endblock %}

{%block head%}
<link href="{{ MEDIA_URL }}/css/playguide.css?{{publish_date}}" rel="stylesheet" type="text/css">
<link href="{{ MEDIA_URL }}/css/result.css?{{publish_date}}" rel="stylesheet" type="text/css">
{%endblock%}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "新規登録について" %}

{% endblock %}

{% block maincontents %}
<h1>新規登録について</h1>

<section>
    <h2>概要</h2>
    <p>新規登録フォームにおいて、種族やクラスなど、このゲームを進める上で必要となる様々な要素について解説します。</p>
</section>

<section>
    <h2>所属国</h2>
    <p>所属国は、冒険者が所属している国の名前です。それぞれの冒険者はいずれかの国に属しています。我々現実世界における住所の替わりとなるようなもので、主にその所属国で住民票（現実の住民票とは様々な違いがありますが、ここでは詳細は省きます）などの管理を行っています。<br />
    多くの冒険者は出身地を所属国として設定しています。冒険を進めることで、この所属国を変えることが出来るようになります。<br />
    すべてのキャラクターの初期位置は首都ファーネルで固定ですので、自分の好きな所属国を選択しましょう。<br />
    <a href="{% url worldguide_index %}">より詳しい国家の詳細情報は世界設定をご確認下さい！</a></p>
</section>

<section>
    <h2>クラス</h2>
    <p>最初からインストールしているクラスを選択します。能力は現在インストールしているクラスによって異なり、いつでもクラスは変更可能です。<br />
    それぞれのクラスの特徴は以下の通りです。</p>
    <dl class="subtext">
        <dt>戦士</dt>
        <dd>主に近接攻撃の得意なクラス。時には防御力をアップさせることで一時的に補助的な盾役を担うことも可能。</dd>
        <dt>狩人</dt>
        <dd>主に遠隔攻撃の得意なクラス。「ポーション」による仲間の強化と特殊弾薬による自己の強化を行うこともできる。</dd>
        <dt>パラディン</dt>
        <dd>主に攻撃を受ける盾役の得意なクラス。多くの敵の注意を引きつけることで味方を護り、鉄盾の防御で攻撃を防ぐことで戦いに貢献する。</dd>
        <dt>モンク</dt>
        <dd>主に攻撃を避ける盾役の得意なクラス。敵の注意を引きつけつつ、カウンターや攻撃を受け流すことで戦いに貢献する。</dd>
        <dt>プリースト</dt>
        <dd>主に魔法による回復の得意なクラス。豊富な回復用のスキル「神聖魔法」で味方の傷を癒していく。</dd>
        <dt>機工士</dt>
        <dd>主にアイテムによる回復の得意なクラス。少しトリッキーながら強力な効果を持つアイテムを駆使し、回復の他攻撃にも転じることができる。</dd>
        <dt>マージ</dt>
        <dd>主に魔法による属性攻撃の得意なクラス。豊富な攻撃用のスキル「精霊魔法」で様々な魔法攻撃を行える。</dd>
        <dt>サムライ</dt>
        <dd>主に物理による属性攻撃の得意なクラス。前線で攻撃を行いながら様々な属性攻撃を放つ「刀術」を扱う。</dd>
        <dt>スカウト</dt>
        <dd>主に戦場をコントロールすることが得意なクラス。味方に注意を引きつけさせたり、特定の敵を無力化したりとトリッキーな戦いを行う。</dd>
        <dt>学者</dt>
        <dd>主に敵をコントロールすることが得意なクラス。様々な状態変化を発生させる「学術」を使い、敵を無力化したり弱体化させることができる。</dd>
        <dt>吟遊詩人</dt>
        <dd>主に味方の能力を変化させることが得意なクラス。様々な呪歌を操り、味方を鼓舞し、味方の能力を通常の何倍も発揮させることができる。</dd>
        <dt>バッカニア</dt>
        <dd>主に味方の能力を変化させることができるかもしれないクラス。何が起こるかはまったくの未知。その技は味方を護るか、それとも敵を助けるか。すべては出目次第…？</dd>
    </dl>
</section>

<section>
    <h2>種族</h2>
    <p>Grand Blazeの世界には、６つの異なる特徴を持った種族が存在しています。<br />
    それぞれの種族の特徴は以下の通りです。<br />
    <a href="{% url worldguide_race %}">より詳しい種族の情報は世界設定をご確認下さい！</a></p>
    <dl class="subtext">
        <dt>ヒューム</dt>
        <dd>現実世界における人間とほぼ一緒です。唯一の違いは、魔法を扱うことができる点です。世界各地に暮らしており、もっとも人口の多い種族です。</dd>
        <dt>エルヴ</dt>
        <dd>狩猟技術に長け、長身痩躯、とがった耳を持った種族です。自然を愛し、精霊の声を聞くことができるとも言われています。ヒトの中でももっとも精霊に近い存在です。</dd>
        <dt>ファルート</dt>
        <dd>成人してもヒュームの子供程度にしか身長が伸びない種族です。丸い耳をもっています。その身体の小ささをハンデとしないよう、古来より多くの魔道士たちを生み出してきました。中には、小柄を生かして盗賊の道を歩む者もいるようです。</dd>
        <dt>ライカンス</dt>
        <dd>平時はヒュームとほとんど見分けがつきません。しかし、独特のタトゥーをしていたり、夜間や満月の夜などに獣の姿へと変身することができます。何に変身するのか、また、どの程度変身するのか（猫の耳ができるだけ、というのもあります）は個人差がかなり大きく出ます。</dd>
        <dt>バルタン</dt>
        <dd>背中に翼が生えている種族です。長時間飛ぶことはあまりできません（不可能ではありませんが、好んで飛ぼうとはしません）。</dd>
        <dt>ドラクォ</dt>
        <dd>ドラゴンのような鱗をところどころに持ち、ドラゴンの尾を持つ種族です。顔や手足に鱗がかいま見えることもあります。ドラゴンを祖先に持っているとも言われており、とても信心深い種族です。</dd>
    </dl>
    <p class="ui-state-highlight ui-corner-all ui-inline-icon">
        <span class="ui-icon ui-icon-notice"></span>
        <strong>Tips! キャラクターの種族とクラスで迷ったら？</strong><br />
        種族は能力には影響しません。イメージや勘で自由に選んでみてください。<br />
        クラスは、どんな冒険をしたいか考えてみましょう。<br />
        先頭に立って戦いたいならば、「戦士」や「サムライ」になるといいでしょう。<br />
        銃や弓などの射撃武器で活躍するならば、「狩人」がベストです。<br />
        誰かを守りたい場合には、「パラディン」がオススメでしょう。耐久力も高く、サブクラスにプリーストなどを設定すれば、もしもの時の回復も頼りになります。その他、「モンク」で回避しつつ味方を守る、という戦い方もあります。<br />
        誰かを癒したい場合は、「プリースト」で回復魔法を使ったり、「機工士」でアイテムによる回復を行うのもいいでしょう。<br />
        魔法による攻撃に特化する場合は、「マージ」や「学者」になるのがもっとも最適となるでしょう。<br />
        しかし、これらもほんの一例です。<br />
        冒険の中で、自分にあうと思うクラスをいろいろと試してみてください！
    </p>
</section>

<section>
    <h2>守護者</h2>
    <p>キャラクターには８つの守護者がついています。ついている守護者によってボーナスとして与えられるアクセサリが変化します。<br />
守護者ごとの特徴は以下の通りです。</p>
    <dl class="subtext">
        <dt>修羅の炎帝イグニート</dt>
        <dd>火を守護しているガーディアン。筋肉がよくついた、赤茶けた日焼けをした逞しい男性としてよく描かれる。<br />
        	初期装備アクセサリ:
        	<table class="itlist">
        		<tr style="background-color: #202020">
        			<td>イグニートリング</td>
        		</tr>
        		<tr style="background-color: #161616">
        			<td>防御:0 魔法防御:0 全種 Lv1〜 All Installs <span class="rare">Rare</span> <span class="bind">Bind</span><br /> 力+1 HP+20<br />「修羅の炎帝イグニート」の力が宿っているとされる不思議な宝玉を埋め込んだ指輪。イグニートの加護を得ることができる。</td>
        		</tr>
        	</table>
        </dd>
        <dt>氷花の乙女セルシウス</dt>
        <dd>氷を守護しているガーディアン。氷を纏い、青白い透き通った肌をした女性としてよく描かれる。<br />
        	初期装備アクセサリ:
        	<table class="itlist">
        		<tr style="background-color: #202020">
        			<td>セルシウスリング</td>
        		</tr>
        		<tr style="background-color: #161616">
        			<td>防御:0 魔法防御:0 全種 Lv1〜 All Installs <span class="rare">Rare</span> <span class="bind">Bind</span><br /> MP+20 ユニーク+1<br />「氷花の乙女セルシウス」の力が宿っているとされる不思議な宝玉を埋め込んだ指輪。セルシウスの加護を得ることができる。</td>
        		</tr>
        	</table>
        </dd>
        <dt>風来の鬼神チャフリカ</dt>
        <dd>風を守護しているガーディアン。陽気な風を纏った子供としてよく描かれる。<br />
            初期装備アクセサリ:
        	<table class="itlist">
        		<tr style="background-color: #202020">
        			<td>チャフリカリング</td>
        		</tr>
        		<tr style="background-color: #161616">
        			<td>防御:0 魔法防御:0 全種 Lv1〜 All Installs <span class="rare">Rare</span> <span class="bind">Bind</span><br /> 敏捷+1 HP+20<br />「風来の鬼神チャフリカ」の力が宿っているとされる不思議な宝玉を埋め込んだ指輪。チャフリカの加護を得ることができる。</td>
        		</tr>
        	</table>
        </dd>
        <dt>地獄の咆哮クツェルカン</dt>
        <dd>地を守護しているガーディアン。背中に多くの突起物をつけた大型の恐竜としてよく描かれる。<br />
            初期装備アクセサリ:
        	<table class="itlist">
        		<tr style="background-color: #202020">
        			<td>クツェルカンリング</td>
        		</tr>
        		<tr style="background-color: #161616">
        			<td>防御:0 魔法防御:0 全種 Lv1〜 All Installs <span class="rare">Rare</span> <span class="bind">Bind</span><br /> HP+20 ユニーク+1<br />「地獄の咆哮クツェルカン」の力が宿っているとされる不思議な宝玉を埋め込んだ指輪。クツェルカンの加護を得ることができる。</td>
        		</tr>
        	</table>
        </dd>
        <dt>湧泉の真人カアシャック</dt>
        <dd>水を守護しているガーディアン。ガーディアンの中では最も知識を持った仙人のような姿でよく描かれる。<br />
            初期装備アクセサリ:
        	<table class="itlist">
        		<tr style="background-color: #202020">
        			<td>カアシャックリング</td>
        		</tr>
        		<tr style="background-color: #161616">
        			<td>防御:0 魔法防御:0 全種 Lv1〜 All Installs <span class="rare">Rare</span> <span class="bind">Bind</span><br /> MP+20 魔力+1<br />「湧泉の真人カアシャック」の力が宿っているとされる不思議な宝玉を埋め込んだ指輪。カアシャックの加護を得ることができる。</td>
        		</tr>
        	</table>
        </dd>
        <dt>轟縛の雷帝イーヴァン</dt>
        <dd>雷を守護しているガーディアン。ユニコーンによく似た角を持った四足歩行の獣としてよく描かれる。<br />
            初期装備アクセサリ:
        	<table class="itlist">
        		<tr style="background-color: #202020">
        			<td>イーヴァンリング</td>
        		</tr>
        		<tr style="background-color: #161616">
        			<td>防御:0 魔法防御:0 全種 Lv1〜 All Installs <span class="rare">Rare</span> <span class="bind">Bind</span><br /> MP+20 敏捷+1<br />「轟縛の雷帝イーヴァン」の力が宿っているとされる不思議な宝玉を埋め込んだ指輪。イーヴァンの加護を得ることができる。</td>
        		</tr>
        	</table>
        </dd>
        <dt>閃光の翼士イシュタス</dt>
        <dd>聖を守護しているガーディアン。剣をくわえた四枚翼を持つ巨大な鳥としてよく描かれる。軍神とも称される。<br />
            初期装備アクセサリ:
        	<table class="itlist">
        		<tr style="background-color: #202020">
        			<td>イシュタスリング</td>
        		</tr>
        		<tr style="background-color: #161616">
        			<td>防御:0 魔法防御:0 全種 Lv1〜 All Installs <span class="rare">Rare</span> <span class="bind">Bind</span><br /> 力+1 MP+20<br />「閃光の翼士イシュタス」の力が宿っているとされる不思議な宝玉を埋め込んだ指輪。イシュタスの加護を得ることができる。</td>
        		</tr>
        	</table>
        </dd>
        <dt>漆黒の魔手アン・プトゥ</dt>
        <dd>闇を守護しているガーディアン。漆黒の闇の中を泳ぐ蛇型の龍としてよく描かれる。<br />
            初期装備アクセサリ:
        	<table class="itlist">
        		<tr style="background-color: #202020">
        			<td>アン・プトゥリング</td>
        		</tr>
        		<tr style="background-color: #161616">
        			<td>防御:0 魔法防御:0 全種 Lv1〜 All Installs <span class="rare">Rare</span> <span class="bind">Bind</span><br /> HP+20 魔力+1<br />「漆黒の魔手アン・プトゥ」の力が宿っているとされる不思議な宝玉を埋め込んだ指輪。アン・プトゥの加護を得ることができる。</td>
        		</tr>
        	</table>
        </dd>
    </dl>
</section>

<section>
    <h2>初期装備武器</h2>
    <p>初期装備として装備している武器を選択します。<br />
    能力には影響しません。<br />
    純粋に、どんな武器で戦っていきたいかで選択してください。</p>
</section>

{% endblock %}
