{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}サイト内メッセージ | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "サイト内メッセージ" %}

{% endblock %}

{% block maincontents %}
<h1>サイト内メッセージ</h1>

<section>
    <h2>概要</h2>
    <p>Grand Blazeのサイト内には、特定の相手へダイレクトにメッセージを送る機能があります。<br />
    この機能を活用することで、特定の相手と直に話すことが出来ます（以下、サイト内メッセージと呼称します）。</p>
</section>

<section>
    <h2>メッセージを送る</h2>
    <p>誰かにサイト内メッセージを送りたい場合、ログインしてから、「メッセージの確認」→「メッセージ作成」から新規にメッセージを作成し、送ることが出来ます。<br />
    相手もログインしていれば、すぐさま相手にメッセージが届きます。</p>
</section>

<section>
    <h2>メッセージを確認する</h2>
    <p>他のプレイヤーからメッセージが届くと、ログイン中画面右上に「X 件のメッセージがあります！」と表示されます（X件は実際の未読件数です）。<br />
	このリンクをクリックすると、受信済メッセージ一覧が表示されますので、確認したいメッセージを表示して内容を確認できます。</p>
</section>

<section>
    <h2>メッセージを返信する</h2>
    <p>メッセージでは送られた内容から、そのメッセージに対する返信も作成できます。<br />
    確認したメッセージの上部にある「返信」から、相手に返信メッセージを書けます。</p>
</section>

{% endblock %}
