{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}新規登録の流れ | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "新規登録の流れ" %}

{% endblock %}

{% block maincontents %}
<h1>新規登録の流れ</h1>

{% comment %}
<section>
    <h2>ゲームプレイに必要なもの</h2>
    <p>ゲームをプレイするために、次のものを用意しましょう！</p>
    <ol>
        <li>メールアドレス（個人、PCで利用できるメールアドレスを推奨）</li>
        <li>インターネット接続環境</li>
        <li>インターネットブラウザを搭載した機器（※注１）</li>
    </ol>
    <p class="caution">※注１：動作確認は「<a href="{% url root_about %}">このサイトについて</a>」に記載しています。</p>
    <p class="ui-state-highlight ui-corner-all ui-inline-icon">
        <span class="ui-icon ui-icon-help"></span>
        <strong>FAQ? 月額利用料金はかかるの？</strong><br />
        このゲームをプレイする料金は一切かかりません。
    </p>
</section>
{% endcomment %}

<section>
    <h2>登録手順</h2>
    <p>Grand Blazeへの新規キャラクターの登録は、以下の手順で行います。</p>
    <dl class="step">
		<dt>アカウント情報、キャラクター設定の入力</dt>
		<dd>Grand Blazeでプレイを行うあなたのキャラクター情報と、あなたの情報（メールアドレスやログインパスワードなど）を登録します。すでに登録されているメールアドレスは使用できません。<br />
		利用できるメールアドレスに制限はありませんが、PC画面上で確認できるように最適化されているため、PCで使用できるメールアドレスを推奨します。<br />
		※携帯電話のメールアドレスでは、送信されてくるメールの内容が途切れてしまうこともあります。<br />
		すべての情報を入力したら、Grand Blaze会員規約の内容を確認し、「同意して登録する」をクリックします。</dd>
		<dt>仮登録完了</dt>
		<dd>仮登録が完了します。この段階では<span class="caution">まだ登録が完了していません。</span><br />
		登録したメールアドレス宛に「仮登録のお知らせ」が送信されますので、メール本文中のアドレスを開き、本登録を完了すると、キャラクターが完成します。</dd>
		<dt>本登録完了</dt>
		<dd>キャラクターの登録申請が行われました。<br />
		無事に登録が行われていると、登録メールアドレス宛てに「新規登録完了のお知らせ」が送られてきます。<br />
		このお知らせが送られてきたら、まずは最初の「継続登録」を行いましょう。</dd>
		<dt>はじめての継続登録</dt>
		<dd>これからゲームを続けてプレイする上で基本フローとなる「継続登録」を行います。<br />
		継続登録では、主に次の冒険で向かう「移動先」を決定します。<br />
		はじめての継続登録では、移動先はクエスト「ようこそギルドへ！」のマーク「はじまりの場所」に固定されています。<br />
		まずは、この「はじまりの場所」へ向かい、Grand Blazeでの冒険をはじめることとしましょう！<br />
		※このタイプのゲームに慣れている場合、ここでパーティを編成することも可能です。詳細は<a href="{% url playguide_party %}">パーティの編成</a>をご覧ください。<br />
		※この継続登録を行わなくても、冒険は「はじまりの場所」からはじまります。</dd>
		<dt>ログインをしよう！</dt>
		<dd>継続登録を行うために、まずログインを行いましょう。<br />
		ログインするには、画面右上にある「ログイン」をクリックし、登録したメールアドレスとパスワードでログインします。<br />
		ログインすることでサイト内の様々な機能にアクセスできるようになります！
		</dd>
		<dt>継続登録完了</dt>
		<dd>継続登録を登録したら、あとは次の更新日まで待つだけです。 <br />
		冒険結果の結果発表後に、そのエントリー番号で登録されていることが確認できれば、Grand Blazeの世界へ自由に羽ばたくことが可能です。<br />
		おつかれさまでした！</dd>
	</dl>
</section>

{% endblock %}
