{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}ステータス変化 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "ステータス変化" %}

{% endblock %}

{% block maincontents %}
<h1>ステータス変化</h1>

<section>
    <h2>概要</h2>
    <p>バトル中、敵・味方のキャラクターの能力やステータスは、有利にも不利にも変化していきます。プリーストや吟遊詩人の強化・防御系スキルで味方をサポートしたり、学者などの妨害・弱体系スキルで敵を不利な状態へと追い込むことで戦いを有利に進めることができます。<br />
    ただし、冒険の中で戦うこととなる敵も様々なステータス変化攻撃を仕掛けてきます。各種のステータス変化の特徴や効果を把握し、素早い対策ができるような作戦を設定しましょう。<br />
    それぞれのステータス変化は、フェイズステータスに短縮表記で表示され、状態変化の詳細はフェイズステータス中の短縮表記にカーソルをあてるとツールチップで表示されます。</p>
</section>

<section>
    <h2>強化・防御系スキルでのステータス変化</h2>
    <p>キャラクターの能力が向上したり、その他有利な状況になるステータス変化です。スキルの効果の他、アクセサリに付いた特殊効果によって変化します。<br />
    これらの他にも、特定のスキル専用や敵専用のステータス変化が発生する場合があります。<br />
    ※[XX]はフェイズステータスに表示される短縮表記です。<br />
    ※表示されている内容は一部です。</p>
    <dl class="subtext">
        <dt>
            リジェネ [HP再]
        </dt>
        <dd>
            聖なる加護により、ＨＰが徐々に回復する状態。
        </dd>
        <dt>
            マナライズ [MP再]
        </dt>
        <dd>
            マナの加護により、ＭＰが徐々に回復する状態。
        </dd>
        <dt>
            リフレッシュ [TP再]
        </dt>
        <dd>
            自然の加護により、ＴＰが徐々に回復する状態。
        </dd>
        <dt>
            ヘイスト [最速]
        </dt>
        <dd>
            行動速度が加速し、ターンのはじめに行動できる状態。
        </dd>
        <dt>
            シャープネス [物攻UP]
        </dt>
        <dd>
            物理ダメージがアップした状態。スキルによりその効果量は異なります。
        </dd>
        <dt>
            プロテクト [物防UP]
        </dt>
        <dd>
            被物理ダメージがダウンした状態。スキルによりその効果量は異なります。
        </dd>
        <dt>
            アスティオン [魔攻UP]
        </dt>
        <dd>
            魔法ダメージがアップした状態。スキルによりその効果量は異なります。
        </dd>
        <dt>
            バリアー [魔防UP]
        </dt>
        <dd>
            被魔法ダメージがダウンした状態。スキルによりその効果量は異なります。
        </dd>
        <dt>
            ウォール [防壁]
        </dt>
        <dd>
            魔力の壁を作りダメージを一定量防御する。一定のターン、または一定のダメージを受けたタイミングで解除される。
        </dd>
        <dt>
            アンチエレメンタル [耐〇]
        </dt>
        <dd>
            特定の属性（短縮表記では耐火のように○部分に属性名が入ります）に対する耐性がアップした状態。
        </dd>
        <dt>
            アンチバステ [耐BS]
        </dt>
        <dd>
            特定の妨害・弱体系スキルでのステータス変化に対する耐性がアップした状態。
        </dd>
        <dt>
            防壁のプロローグ [歌(壁)]
        </dt>
        <dd>
            呪歌の効果により、物理防御力がアップしている状態。
        </dd>
        <dt>
            シャドウサーバント [SP(SS)]
        </dt>
        <dd>
            スペシャルスキルの効果。効果時間内、近接攻撃を絶対回避する。
        </dd>
        <dt>
            マナプール [SP(MP)]
        </dt>
        <dd>
            スペシャルスキルの効果。効果時間内、MPを消費せず魔法を使うことができる。
        </dd>
        <dt>
            聖障壁 [SP(HW)]
        </dt>
        <dd>
            スペシャルスキルの効果。効果時間内、物理攻撃を絶対防御。
        </dd>
        <dt>
            フォースソウル [SP(FS)]
        </dt>
        <dd>
            スペシャルスキルの効果。効果時間内、呪歌・舞踏の効果がアップする。
        </dd>
    </dl>
</section>

<section>
    <h2>妨害・弱体系スキルでのステータス変化</h2>
    <p>キャラクターの能力が低下したり、その他不利な状況になるステータス変化です。スキルの効果の他、特殊攻撃などによって受けてしまうので、サポートスキルや対抗スキルで防ぐようにしましょう。<br />
    ※[XX]内はフェイズステータスに表示される短縮表記です。<br />
    ※表示されている内容は一部です。</p>
    <dl class="subtext">
        <dt>
            戦闘不能 [戦闘不能]
        </dt>
        <dd>
            一切の行動ができない状態。パーティ全員がこの状態となると全滅となります。また、バトル終了時にこの状態のメンバーがいると、獲得経験値が低下します。
        </dd>
        <dt>
            睡眠 [睡眠]
        </dt>
        <dd>
            眠ってしまい、行動ができない状態。
        </dd>
        <dt>
            猛毒 [猛毒]
        </dt>
        <dd>
            猛毒に侵され、ＨＰが徐々に減少する状態。
        </dd>
        <dt>
            麻痺 [麻痺]
        </dt>
        <dd>
            身体が痺れ、ときどき行動に失敗してしまう状態。
        </dd>
        <dt>
            暗闇 [暗闇]
        </dt>
        <dd>
            暗闇に覆われ、様々な行動の命中率が半減してしまう状態。
        </dd>
        <dt>
            沈黙 [沈黙]
        </dt>
        <dd>
            声を奪われ、魔法の詠唱を行えない状態。魔法系のスキルを使用できません。
            <br />
            ※魔法系スキルはプリーストやマージなどの使える「神聖魔法」、「精霊魔法」の他、「呪歌」が該当します。
        </dd>
        <dt>
            骨折 [骨折]
        </dt>
        <dd>
            骨が折れ、技を繰り出せない状態。必殺技系のスキルを使用できません。
            <br />
            ※必殺技系スキルは多く武器専用スキルの他、機工士や狩人の「道具系」、「舞踏」が該当します。
        </dd>
        <dt>
            影縛 [影縛]
        </dt>
        <dd>
            影を縛られ、身動きできなくなった状態。射程Sの攻撃ができなくなる。
        </dd>
        <dt>
            暴走 [暴走]
        </dt>
        <dd>
            攻撃力が上昇するが、通常攻撃しか行わなくなる。
        </dd>
        <dt>
            病気 [病気]
        </dt>
        <dd>
            最大HPが現在HPと同じになる。※そのため、回復魔法でHPを回復してもHPが戻らなくなります。
        </dd>
        <dt>
            石化中 [石化中]
        </dt>
        <dd>
            行動時、ランダムで「石化」になる。
        </dd>
        <dt>
            石化 [石化]
        </dt>
        <dd>
            石になってしまい、一切の行動ができない状態。すべてのダメージを受けず、状態異常も完全に防御します。
        </dd>
        <dt>
            魅了 [魅了]
        </dt>
        <dd>
            行動の対象が反対になる。味方への行動ならば敵に、敵への行動ならば味方に対して行動する。
        </dd>
        <dt>
            スロウ [最遅]
        </dt>
        <dd>
            行動速度が減少した状態。ターンの最後に行動するようになる。
        </dd>
        <dt>
            ブラッドロス [出血]
        </dt>
        <dd>
            闇の罪を受けた状態。ＨＰが徐々に減少し、物理攻撃力もダウンする。
        </dd>
        <dt>
            インスペクト [検査]
        </dt>
        <dd>
            弱点を看破された状態。弱点をつかれたダメージがさらにアップする。
        </dd>
        <dt>
            エンゲージ [封鎖]
        </dt>
        <dd>
            挑発され、特定の相手しか攻撃対象にできない状態。
        </dd>
    </dl>
</section>

{% endblock %}
