{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}Grand Blaze会員規約 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "Grand Blaze会員規約" %}

{% endblock %}

{% block maincontents %}
<h1>Grand Blaze会員規約</h1>

<section>
    <h3>第１条　定義</h3>
    <ol>
      <li>「Grand Blaze」とは、当サイトが提供する、本規約の対象となる定期更新型オンラインゲームを言うものとします。</li>
      <li>「会員」とは、Grand Blazeのテストプレイを行うテストプレイヤーを言うものとします。</li>
      <li>「当方」とは、管理者、及びＧＭ（ゲームマスター）を言うものとします。</li>
      <li>「本サイト」とは、Grand Blaze公式サイトを言うものとします。</li>
      <li>「本規約」とは、会員の厳守すべき規定である、Grand Blaze会員規約を言うものとします。</li>
      <li>「他者」とは、国内外を問わず、当該会員及び当方以外の第三者（他の会員を含む）を言うものとします。</li>
      <li>「プレイヤーデータ」とは、会員がGrand Blazeのテストプレイを行うことで蓄積されるデータを言うものとします。</li>
    </ol>
    <h3>第２条　本規約の範囲</h3>
    <p>当方が、本規約の他に、本サイト内にて規定する、Grand Blazeに関する決まり等も、その名目の如何に関わらず、本規約の一部を構成するものとします。</p>
    <h3>第３条　本規約の適用</h3>
    <p>会員が、Grand Blazeを利用する一切については、本規約が適用されます。</p>
    <h3>第４条　本規約の遵守</h3>
    <p>会員は、Grand Blazeの利用にあたっては、本規約を遵守するものとします。</p>
    <h3>第５条　プレイヤーデータの消失</h3>
    <p>会員の行為、他者の行為又は天災地変、火災、停電その他の不可抗力により、プレイヤーデータの全部又は一部が消失した場合について、当方は何ら責任を負うものではありません。<br />
      また、当方の判断により、プレイヤーデータの全部又は一部を消失させた場合でも、当方は何ら責任を負うものではありません。</p>
    <h3>第６条　会員の報告行為</h3>
    <p>会員は、発生したバグについて何かしら報告を行うことができます。<br />
      また、不正を行っているプレイヤーの情報をGM宛てにメールにて知らせることができます。</p>
    <h3>第７条　禁止行為</h3>
    <ol>
      <li>会員は、Grand Blazeで取得したゲーム上の通貨ギムル（Giml）をもとにして、現実世界で流通する通貨をやり取りしたり、インターネットオークション等でキャラクターやアイテム等を売買しないものとします。</li>
      <li>会員は、賭博等の犯罪行為又はその準備のためにGrand Blazeを利用しないものとします。</li>
      </ol>
    <h3>第８条　免責事項</h3>
    <p>会員は、他の会員との間に争い、紛争等が生じた場合には、自己の責任と費用をもって処理解決するものとし、当方は一切の責任義務を負わないものとします。</p>
    <p>附則</p>
    <p>本規約は2007年5月1日に実施するものとします。<br />
    本規約は2011年1月23日に改訂しました。<br />
      本規約は随時更新されるものとします。<br />
      最新情報は、随時本サイトのトップページ上に掲載し、会員が参照できるものとします。</p>
</section>

{% endblock %}
