{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}冒険に役立つヒント | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "冒険に役立つヒント" %}

{% endblock %}

{% block maincontents %}
<h1>冒険に役立つヒント</h1>
<section>
    <h2>冒険に役立つヒント</h2>
    <p>このページでは、冒険に役立つかもしれないヒントをご紹介します。</p>
</section>

<section>
    <h2>モンスターの種族カテゴリ</h2>
    <p>冒険中、戦うことになるモンスターには、プレイヤーキャラクターと同じく種族が設定されています。しかし、モンスターの種族は多岐にわたるため、それぞれの種族をさらに「種族カテゴリ」として大分類して、区別します。<br />
    私たちの世界での生物の区分である「ほ乳類」や「爬虫類」などが、ゲーム内では種族カテゴリと呼ばれます。<br />
    以下に、代表的な種族と種族カテゴリ、その特徴をご紹介しましょう。</p>
    <dl class="subtext">
        <dt>
            ヒューマノイド
        </dt>
        <dd>
            プレイヤーキャラクターと同じ人型のモンスターです。野盗やイベントなどで戦うことになる特別な相手がこのカテゴリに属します。主な弱点はありません。中には、プレイヤーキャラクターが使える種族専用のスキルを使ってくる強敵もいます。
        </dd>
        <dt>
            アクアン
        </dt>
        <dd>
            水棲系のモンスターです。水辺や水が関係している場所に多く生息しています。氷や雷に弱点を持った敵が多く存在します。
        </dd>
        <dt>
            アモルフ
        </dt>
        <dd>
            軟体系のモンスターです。じめじめとした洞窟などに多く生息します。身体が柔らかいため、打属性に高い耐性を持っています。主な弱点はありません。
        </dd>
        <dt>
            アルカナ
        </dt>
        <dd>
            魔法生物系のモンスターです。古い要塞などに存在します。魔法に対して強い耐性を持っていますが、物理に対しては脆いことがあります。
        </dd>
        <dt>
            アンデッド
        </dt>
        <dd>
            不死系のモンスターです。洞窟や墓場などに多く生息します。火や聖属性に弱点を持っていますが、個体によっては「浄化」しないと自動的にHPが回復してしまう相手がいます。
        </dd>
        <dt>
            ヴァーミン
        </dt>
        <dd>
            昆虫系のモンスターです。平原や森などに生息しています。氷に弱点を持った敵が多く存在します。
        </dd>
        <dt>
            エレメント
        </dt>
        <dd>
            精霊系のモンスターです。様々な場所に存在しますが、特定の天候になりやすい場所では、特定のエレメントが多く存在します。弱点は個体により大きく異なります。
        </dd>
        <dt>
            ナッシングネス
        </dt>
        <dd>
            正体不明系のモンスターです。その存在の存在理由、存在場所、弱点、すべてが謎となります。
        </dd>
        <dt>
            デーモン
        </dt>
        <dd>
            悪魔系のモンスターです。異界である「魔界」からこの世界へとやってきた存在です。聖属性に弱点を持っていることがあります。
        </dd>
        <dt>
            ドラゴン
        </dt>
        <dd>
            竜系のモンスターです。世界の生物の頂点である竜（ドラゴン）やその眷属などが属します。弱点は個体により大きく異なります。
        </dd>
        <dt>
            バード
        </dt>
        <dd>
            鳥類系のモンスターです。翼を持った生物で、様々な場所や高地に生息します。風や土に弱点を持っています。
        </dd>
        <dt>
            バイオ
        </dt>
        <dd>
            人工生命系のモンスターです。姿形は様々ですが、廃棄された実験場などに多く生息します。主な弱点はありません。
        </dd>
        <dt>
            ビースト
        </dt>
        <dd>
            魔獣系のモンスターです。平原の他、様々な場所に多く生息しています。火や雷、水などに弱点を持っています。
        </dd>
        <dt>
            プラントイド
        </dt>
        <dd>
            植物系のモンスターです。森林や一部の平原などに生息しています。火に弱点を持っています。
        </dd>
        <dt>
            マシン
        </dt>
        <dd>
            機械系のモンスターです。人工的に作られたものや超古代文明の遺産などが属します。そのため、様々な場所に存在します。雷に弱点を持っています。
        </dd>
        <dt>
            リザード
        </dt>
        <dd>
            爬虫類系のモンスターです。渓谷など寒暖差の多いところに生息します。風や氷に弱点を持っています。
        </dd>
        <dt>
            デミヒューマン
        </dt>
        <dd>
            亜人類系のモンスターです。人類と同じく、様々な場所に生息し、主な弱点はありません。
        </dd>
        <dt>
            マター
        </dt>
        <dd>
            物質系のモンスターです。物質だけで構成された怪物です。主な弱点はなく、多くの相手は物理系の属性に強い耐性を持っています。
        </dd>
    </dl>
</section>

{% endblock %} 