{% extends 'base/playguide_base.html' %}
{% load breadcrumbs %}

{% block title %}改訂履歴 | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb "改訂履歴" %}

{% endblock %}

{% block maincontents %}
<h1>改訂履歴</h1>
<section>
    <h2>改訂履歴</h2>
    <p>※Grand Blaze Ver.XXXXXXXX は、バージョンアップが行われた時の本ゲームのバージョンを表記しています。</p>
    <table class="guide-list" summary="プレイガイドの改訂履歴一覧です。" style="width: 95%">
        <tr>
            <th scope="row"><abbr title="プレイガイドのバージョン">バージョン</abbr></th>
            <th scope="row">更新内容</th>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.25</th>
            <td>2013/01/12: 「クエストについて」に新たなイベント種類「バウンティ」について説明を追記しました。
            </td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.24</th>
            <td>2012/11/24: 「バザー」に出品手数料について追記しました。<br />
            	「パーティ編成」にランダムパーティから参加者を募るについて追記しました。
            </td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.23</th>
            <td>2012/11/20: 「冒険の流れ」にプライベートスキルの習得タイミングを追記しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.22</th>
            <td>2012/11/18: 「バトルについて」に戦利品について、レアアイテムの場合の注意を追記しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.21</th>
            <td>2012/11/18: 「パーティの編成」に第6回再更新で追加された仕様変更に伴い、ランダムパーティの編成について追記しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.20</th>
            <td>2012/11/08: 「テキストコマンド」に新たな代名詞を追加しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.19</th>
            <td>2012/11/05: 「テキストコマンド」の{br}、{nl}の説明を改訂しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.18</th>
            <td>2012/11/03: 「販売アイテム一覧」を追加しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.17</th>
            <td>2012/10/30: 「テキストコマンド」にGrand Blaze Ver.20121103への対応のため、新規代名詞を追加しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.16</th>
            <td>2012/10/26: 「冒険(処理)の流れ」にてマネートレードをアイテム売却後に移動しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.15</th>
            <td>2012/10/22: 「バトルについて」にHPやMPの回復に関して追記しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.14</th>
            <td>2012/10/21: 「トレード」「冒険(処理)の流れ」から「速達」に関する記述を排除しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.13</th>
            <td>2012/10/18: 「パーティの編成」のランダムパーティ時の新規登録者とそれ以外の登録者について、注意を追記しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.12</th>
            <td>2012/10/14: 「新規登録の流れ」にログインを行う説明を追記しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.11</th>
            <td>2012/10/13: 「パーティの編成」に新規登録者を誘う時の注意を追記しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.10</th>
            <td>2012/10/01: 「バトルについて」、「アイテムの売買」、「ステータス変化」の誤植を修正しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.9</th>
            <td>2012/09/29: 新規登録についてに所属国、種族の詳細説明（世界設定）へのリンクを追加。<br />
            	パーティ編成から「隣接エリア」などの注意書きを削除（ベータ4では隣接エリアという概念がなくなったため）。<br />
            	バトルセリフに不適切な例があったため削除（チェインアーツが廃止されたため）。<br />
            	クラスの説明で余分な文章があったため削除。<br />
            	一部スキルの説明文が不適切であったため修正。<br />
            	隊列に「ヘイトとは」の説明文を追加。<br />
            	吟遊詩人のスキルに存在しないステータス変化「パルスコート」を発生させるスキルがあったため、名称・効果を変更。<br />
            	片手鞭のスキルに存在しないステータス変化「インセンス」、「リリース」を発生させるスキルがあったため、効果を変更。<br />
            	弓のスキルに存在しないステータス変化「パインズ」を発生させるスキルがあったため、効果を変更。<br />
            	ステータス変化に一部ステータス変化の説明を追加。<br />
            	バトルについて、「ブレイズチップ」の説明を追記。<br />
            	能力値（アビリティ）のユニークの説明に追記。<br />
            	装備の「片手剣」、「短剣」の一部武器のCTが間違っていたのを修正。<br />
            	プライベートスキルの「コンビネーション」の効果を変更。<br />
            	その他、一部表現を修正しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.8</th>
            <td>2012/09/29: プライベートスキルの誤植を修正しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.7</th>
            <td>2012/09/27: クラス、能力値（アビリティ）について、サブクラスの能力値への影響を追記しました（サブクラスは能力値に影響しない）。あわせて、クラスのアビリティ（能力値）の詳細画面についてわかりやすいよう注意書きを追加しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.6</th>
            <td>2012/09/26: 隊列の射程に関する説明が開発途中の内容であったため、修正しました(×攻撃できない ○ダメージ半減)。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.5</th>
            <td>2012/09/26: 装備に各武器、防具の販売品一部のリストを確認できるページを追加しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.4</th>
            <td>2012/09/24: 新規登録についてのページに守護者毎の初期装備アクセサリを追記しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.3</th>
            <td>2012/09/23: プライベートスキルに習得できるスキルのリストを確認できるページを追加しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.2</th>
            <td>2012/09/23: 装備に各武器の特徴、武器の詳細（使用可能スキル）を確認できるページを追加しました。併せて冒険に役立つヒントから武器の特徴を削除しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.1</th>
            <td>2012/09/23: クラスに各クラスの詳細（特徴、アビリティ、習得スキル）を確認できるページを追加しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.03.0</th>
            <td>2012/09/20: ベータ４再開に向けて、最終決定となる部分への加筆訂正を行い、プレイガイドのブラッシュアップを行いました（主に項目の整理が行われています）。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.02.2</th>
            <td>2012/05/12: テクニック、クエストなどの全体的な加筆訂正。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.02.1</th>
            <td>2011/07/24: 二刀流に関する追記、及びクリティカルと連撃について追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.02.0</th>
            <td>2011/07/21: 全体的な加筆・修正を行いました。主な変更点：ステータス変化の追記、バトルに関する追記など</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.01.0</th>
            <td>2011/05/24: 武器種の削減に伴う、全面的な改訂を行いました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.00.9</th>
            <td>2011/04/21: 能力値について、加筆・修正を行いました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.00.8</th>
            <td>2011/04/17: 能力値について、「TP」の説明を修正しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.00.7</th>
            <td>2011/02/25: アイテムの持てる個数（スタック数）の表記が間違っていたのを修正しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.00.6</th>
            <td>2011/01/31: 合成のテクニックに関して、追記を行いました。また、冒険に役立つヒントの項目を追加しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.00.5</th>
            <td>2011/01/26: 新規登録時のTipsを追加しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.00.4</th>
            <td>2011/01/23: Grand Blaze会員規約を改訂しました。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.00.3</th>
            <td>2011/01/19: プライベートスキルの習得時期について、誤植を修正。レベルが2つ上がるごとに1つです。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.00.2</th>
            <td>2011/01/11: 能力値の誤字を修正。TPについて、最大値を追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.00.1</th>
            <td>2011/01/09: アイテム合成について、条件を追記。より上位の合成についても追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.3.00.0</th>
            <td>2011/01/09: ベータ４対応版として加筆・訂正。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.03.6</th>
            <td>2009/07/17: Grand Blaze Ver.20090718への対応のため、スキル合成のロックについて変更。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.03.5</th>
            <td>2009/07/06: キャラクターの設定に、デフォルトイラストについて追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.03.4</th>
            <td>2009/07/02: 製法合成について、追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.03.3</th>
            <td>2009/05/25: コンパニオンの装備について追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.03.2</th>
            <td>2009/04/11: 現地ショップ、隊列について、修正・追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.03.1</th>
            <td>2009/03/22: コンパニオンの装備について、追加。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.03.0</th>
            <td>2009/02/28: コンパニオンについてを追加。おこぼれについて削除。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.9</th>
            <td>2008/11/04: ステータス異常に、レジストについて追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.8</th>
            <td>2008/11/02: 重量による制限、変化について、「アイテムの装備」に追記（現在のところ、重量は機能していません。実際に機能する際には、バージョンアップ情報でお知らせします）。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.7</th>
            <td>2008/10/30: Grand Blaze Ver.20081101への対応のため、キャラクター設定にオリジナル組織について追記、「組織」を追加。組織の追加に伴い、ミッションの説明を修正。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.6</th>
            <td>2008/10/30: 食物の種類について、ドリンクやスィーツを細分化（主に合成の変更への準備のため、となります）。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.5</th>
            <td>2008/10/30: 重量について、追記（現在のところ、重量は機能していません。実際に機能する際には、バージョンアップ情報でお知らせします）。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.4</th>
            <td>2008/10/30: ブレイズチップについて、能力値（アビリティ）に追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.3</th>
            <td>2008/10/08: Grand Blaze Ver.20081011への対応のため、隊列について、ヘイトに関する記述を再度修正。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.2</th>
            <td>2008/10/08: Grand Blaze Ver.20081011への対応のため、テキストコマンドに追記。隊列について、ヘイトに関する記述を修正。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.15</th>
            <td>2009/01/30: アイテム合成のテクニック上限について追記。詳細は秘密です。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.14</th>
            <td>2009/01/26: 製法合成について、製法原料について注意を追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.13</th>
            <td>2009/01/20: 素材合成、製法合成に関して追記・変更。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.12</th>
            <td>2009/01/11: クリエイトクラスに関する記述を削除。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.11</th>
            <td>2008/12/24: Grand Blaze Ver.20081227への対応のため、アイテムボックスを「テンポラリボックス」に名称変更。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.10</th>
            <td>2008/12/03: Grand Blaze Ver.20081206への対応のため、借金に関する記述を削除。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.1</th>
            <td>2008/09/08: Grand Blaze Ver.20080913への対応のため、処理の流れを変更。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.02.0</th>
            <td>2008/09/02: 「プレイガイド内の検索」を削除。アイテムについて、一部情報を訂正、修正。その他、わかりにくい表現の文章を一部修正。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.9</th>
            <td>2008/03/04: アイテムの合成について、追加材に関する記述を削除。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.8</th>
            <td>2008/03/03: アイテムについて、に、防具種別についてと、矢弾種について追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.7</th>
            <td>2008/03/02: 銀行の利用に金庫登録について追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.6</th>
            <td>2008/02/28: Grand Blaze Ver.20080301への対応のため、依頼のオファーと達成にパーティを組んでいる場合の達成について訂正。テキストコマンドと代名詞にて、削除されている代名詞「&lt;tf&gt;」、「&lt;mef&gt;」に関する記述を削除。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.5</th>
            <td>2008/02/27: 冒険の流れの「アイテムの使用」タイミングを「アイテム装備」の後へ移動。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.4</th>
            <td>2008/02/26: バザーの出品について追記、及び、手数料について訂正。アイテムの使用についてスコップの記述を削除。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.3</th>
            <td>2008/02/25: 冒険の流れに出品、及びアイテムボックスによる枠移動について追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.2</th>
            <td>2008/01/22: バザーの処理について、いくつか加筆。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.13</th>
            <td>2008/07/03: Grand Blaze Ver.20080712への対応のため、キャラクターの設定に「得意技能」を追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.12</th>
            <td>2008/05/07: Grand Blaze Ver.20080510への対応のため、「チェイン」の例題を変更。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.11</th>
            <td>2008/03/24: Grand Blaze Ver.20080329への対応のため、「バトルの流れ」デスペナルティに関する項目を変更。銀行の廃止に伴い、関連する記述を削除。各項目を「銀行の利用」→「金庫の利用」、「借金」→「お金と借金」にそれぞれ変更。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.10</th>
            <td>2008/03/05: 金庫のタイミングについて冒険の流れに追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.1</th>
            <td>2008/01/19: Grand Blaze Ver.20080126への対応のため、バザーの処理について、処理内容を追加（購入されたアイテムのお金の送金タイミングが変更されます。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.01.0</th>
            <td>2008/01/12: バザーについて、加筆修正。処理の流れにバザーについて追記。アイテム合成について複数登録について追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.9</th>
            <td>2007/11/11: スキルについて、BTにウェポンアーツ制限について追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.8</th>
            <td>2007/11/04: 新たな代名詞「&lt;nl&gt;」追加に伴い追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.7</th>
            <td>2007/11/03: テキストコマンドの実例を追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.6</th>
            <td>2007/10/30: Grand Blaze Ver.20071103への対応のため、処理の流れを変更。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.5</th>
            <td>2007/10/28: 移動先の決定に「メンバーに任せる」について追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.4</th>
            <td>2007/10/28: 依頼のオファーと達成に、コンプリートしたクエストについて追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.3</th>
            <td>2007/10/27: アイテムの装備に、片手武器と両手武器の武器種別を記載。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.2</th>
            <td>2007/10/24: パーティ編成について、オプション：逆指定について追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.15</th>
            <td>2008/01/05: バザーについて追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.14</th>
            <td>2007/12/16: Grand Blaze Ver.20071215への対応のため、バトルセリフ、戦術を更新。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.13</th>
            <td>2007/12/15: パーソナル特性のエレメンタライズ、サイボーグの説明文の誤りを訂正。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.12</th>
            <td>2007/12/10: 戦術にターゲットリストへのリンクを追加。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.11</th>
            <td>2007/11/24: Grand Blaze Ver.20071201への対応のため、パーティ編成にランダムパーティについて追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.10</th>
            <td>2007/11/18: Grand Blaze Ver.20071124への対応のため、処理の流れを変更。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.1</th>
            <td>2007/10/22: 移動先の決定について、パーティ編成時のFAQを追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.2.00.0</th>
            <td>2007/10/20: プレイガイドの内容を全面的に改訂。</td>
        </tr>
        <tr>
            <th scope="row">Ver.1.01.5</th>
            <td>2007/10/06: 処理の流れについて、アイコンに関する内容を追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.1.01.4</th>
            <td>2007/10/04: 隊列、パーティ編成、クエスト、戦闘設定について、質問掲示板にて質問された内容を元に追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver.1.01.3</th>
            <td>2007/10/02: Grand Blaze Ver.20071006への対応のため、クラスの成長について改訂。</td>
        </tr>
        <tr>
            <th scope="row">Ver.1.01.2</th>
            <td>2007/09/29: アイコン追加に伴い、セリフ、及び登録処理とはにアイコンについて追記。
            <br />
            アイテムの装備について追記。</td>
        </tr>
        <tr>
            <th scope="row">Ver. 1.01.1 </th>
            <td>2007/09/27: Grand Blaze Ver.20070929への対応のため、スキルの解説文について追記。
            <br />
            アイテムの解説文について、tips 追加効果の発揮を追加。</td>
        </tr>
        <tr>
            <th scope="row">Ver. 1.01.0 </th>
            <td>2007/09/26: アイテム合成の仕様変更に伴い、アイテム合成について加筆訂正。</td>
        </tr>
        <tr>
            <th scope="row">Ver. 1.00.0 </th>
            <td>初版。(2007/09/24 21:20現在の最新版を初版とします)</td>
        </tr>
        </table>
</section>
{% endblock %} 