{% extends 'base/regist_base.html' %}
{% load breadcrumbs register_extras %}

{% block title %}メッセージ登録 確認 | Grand Blaze{% endblock %}

{%block head%}
<link href="{{ MEDIA_URL }}/css/regist.css?{{publish_date}}" rel="stylesheet" type="text/css">
<link href="{{ MEDIA_URL }}/css/form.css?{{publish_date}}" rel="stylesheet" type="text/css">
<link href="{{ MEDIA_URL }}/css/result.css?{{publish_date}}" rel="stylesheet" type="text/css">
{%endblock%}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "各種登録" regist_index %}
{% breadcrumb "メッセージ登録 確認" %}

{% endblock %}


{% block maincontents %}
<h1>メッセージ登録 確認</h1>

<section>
    <form action="{% url continue_message_execute %}" method="POST" id="action_index">
        {% csrf_token %}
        <h2>メッセージ登録</h2>
        {% for data in datas %}
        <div class="form-widget">
        	<h3>
        		No.{{ forloop.counter }}
        	</h3>
            <div>
            	<div class="key">
	                <label for="id_form-{{ forloop.counter0 }}-message_target">
	                    メッセージ対象<span class="required-guide">*</span>
	                </label>
            	</div>
            	<div class="value">
            		{{ data.get_message_target_display }}
            	</div>
            </div>
            <div>
                <div class="key">
                    <label for="id_form-{{ forloop.counter0 }}-message_entry">
                        送信相手
                    </label>
                </div>
                <div class="value integer">
                    No. {{data.message_entry|default:''}} {{data.message_entry_ch.nick_name}}
                </div>
            </div>
            <div>
            	<div class="key">
	                <label for="id_form-{{ forloop.counter0 }}-message_body">
	                    メッセージ内容<span class="required-guide">*</span>
	                </label>
            	</div>
            	<div class="value">
            		{{ data.message_body|linebreaksbr }}
            	</div>
            </div>
            <div>
            	<div class="key">
	                <label for="id_form-{{ forloop.counter0 }}-message_body">
	                    メッセージプレビュー
	                </label>
            	</div>
            	<div class="value" style="width: 560px; position: relative;overflow: hidden;">
            		{% if data.message_target == 2 %}
            		{{ data.message_body|previewlist:user|safe }}
            		{% else %}
            		{{ data.message_body|preview:user|safe }}
            		{% endif %}
            	</div>
            </div>
        </div>
        {% endfor %}
        
        <div class="form-widget">
	        <div>
	            <div class="value value-only">
	            	<a data-role="button" href="{% url continue_message_index %}">修正する</a>
	                <input type="submit" value="登録する" />
	            </div>
	        </div>
	    </div>
    </form>
</section>

{% endblock %}

