{% extends 'base/forum_base.html' %}
{% load breadcrumbs bbcodes %}

{% block title %}ご利用の前に | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "フォーラム" forum_index %}
{% breadcrumb "ご利用の前に" %}

{% endblock %}


{% block maincontents %}
<h1>ご利用の前に</h1>

<section>
     <h2>はじめに</h2>
     <p> フォーラムをご利用になる前に、必ず以下の利用ガイドをよくご覧下さい。<br />
下記のガイドラインが守られていない場合には、フォーラムの利用停止やゲームそのものの停止などを行う場合があります。</p>
     <h3>改訂履歴</h3>
     <ul class="update-log">
         <li>2002/11/01より適用開始</li>
         <li>2004/04/05 開発情報に関する追加</li>
         <li>2005/10/23 開発情報の利用目的を若干変更/利用上の注意に関して若干修正</li>
         <li>2006/07/31 新フォーラムに対応する記述を追記（ガイドラインに変更はありません）</li>
         <li>2007/02/01 新フォーラム運用開始に伴い開発情報に関する項目の削除</li>
         <li>2007/10/15 管理人室の状態表記を削除</li>
         <li>2008/10/09 開発室について追記・ログインに関して追記</li>
         <li>2010/09/30 フォーラム改修に伴い、開発室について削除、フィードバック、ディスカッションについて追加修正</li>
         <li>2012/10/09 BBCodeに対応。</li>
     </ul>
</section>

<section>
     <h2>利用目的</h2>
     <p>Grand Blazeの「フォーラム」（以下当サイト）では、テストプレイヤーの皆様方の交流を主な目的とした「プレイヤーズ」関連のフォーラム群と、管理者（またはＧＭ（ゲームマスター）と呼称します）への報告などに用いる「サポート」関連のフォーラム群とにわかれています。<br />
それぞれのフォーラムでの利用法に即したご利用を行ってください。<br />
また、管理者からの指示があった場合にはそれに従うようにしてください。<br />
ネチケットも重要な部分です。マナーを守って楽しくご利用下さい。</p>
</section>

<section>
     <h2>利用上の注意</h2>
     <ul>
       <li>当サイトのフォーラムは、テストプレイヤーの皆様、管理者が利用できるフォーラムです。<br />
         当サイトとは関連のない書き込みはご遠慮ください。<br />
       しかし、<span class="caution">法律に反する書き込み</span>や<span class="caution">アラシ</span>等の行為に関しては、記事削除の対象となります。あまりにも酷い場合には、フォーラム利用の停止やゲーム停止もありえます。</li>
       <li>管理者側より見た「削除対象にはならないものの、注意が必要な記事」に関しては、こちらより「<span class="caution">警告</span>」をさせていただきます。<br />
         それでも何ら改善が見られない場合には、「記事の削除」や「処分」を下すこととなります。</li>
       <li>言葉遣いは基本的に自由としますが、管理者側から見てフォーラム利用上相応しくない発言については、その発言の禁止をさせていただきます。なお、自由ではありますが、節度ある行動を心がけるようにしてください。</li>
       <li>利用者の目から見て、あまりにも酷い書き込みやガイドライン、利用規約に反した書き込みがあった場合には、管理者側にメールにてご連絡下さい。<br />
         投稿内容を確認の後、判断させて頂きます。<br />
         また、自身の投稿に対して、別名による追加投稿など（いわゆる、自作自演行為）は禁止させて頂きます。 </li>
       <li>利用者同士のトラブルには、管理者側は一切の責任を負いかねます。</li>
       <li>書き込みの内容によっては無警告で削除しますのでご注意下さい。</li>
       <li>ログインを行うことで投稿することができます。</li>
       <li>スレッドのステータスを変更できるのは原則、スレッドの作成者のみが行うことができます（フィードバックのみ、ゲームマスター以外は変更できません）。</li>
       <li>ログインせずに投稿可能な「仲間募集」の掲示板では、ログインしないで投稿した場合「記事の編集」、「記事の削除」ができません。</li>
     </ul>
</section>

<section>
     <h2>各フォーラム別の注意</h2>
     <h3>取引</h3>
     <p>テストプレイヤー同士で取引を行う場合に利用できるフォーラムです。<br />
詐欺行為は利用規約に反する行為ですので絶対に行わないで下さい。<br />
お互いが気持ちよく利用できるようにお願いいたします。 </p>
     <h3>仲間募集</h3>
     <p>このフォーラムは今後の冒険を進めていく上で共に冒険する仲間を募集するフォーラムです。<br />
傭兵募集に関しても許可していますが、題名にきちんとその旨を書くようにして下さい。<br />
お互いが気持ちよく利用できるようにお願いいたします。<br />
募集終了次第、件名を変えるとわかりやすいでしょう。</p>
     <h3>質問</h3>
     <p>ゲームなどに関しての質問を利用目的としたフォーラムです。<br />
質問する前に、必ず<span class="caution">過去ログやプレイガイドなどを良く読んで</span>から投稿して下さい。<br />
似たような質問がある場合があります。「検索」機能を巧く使ってください。<br />
ゲームに関してネタバレになる質問に関しては、答えることが出来ない場合があります。<br />
管理者だけでなく、テストプレイヤーの皆様も、質問に答えてあげて下さい。<br />
今後のバージョンアップによって、過去の解答が無効になる場合もあります。 </p>
     <h3>ディスカッション</h3>
     <p>ゲームに関しての雑談や討論、ディスカッション、交流などを目的としたフォーラムです。<br />
ゲームに無関係の雑談も大いに結構です。<br />
何らかのトラブルが発生した場合には、ディスカッションの利用を停止する場合があります。<br />
お互いが気持ちよく利用できるようにお願いいたします。 <br />
GMが何かしら書き込んでいる場合もあります。 </p>
     <h3>フィードバック</h3>
     <p>ゲームや当サイトに関して、バグなどの不具合を報告したり、新しい提案や要望を行ったりするフォーラムです。<br />
過去に同じフィードバックが報告されている場合があります。そのバグの投稿期日を確認し、投稿期日が最近の場合には、同様の内容が乱立しないようにして下さい。<br />
一つのバグ、提案、要望については原則一記事としてください。一つの記事の中に複数の話題があると後々の対応に支障をきたしてしまいます。<br />
１人でいくつもバグを報告しても問題にはなりませんが、同様の報告が他にあり、そのバグが解決していない場合は追記の形でご報告下さい。<br />
     なお、寄せられた提案や要望がすべて実現するとは限りませんのでご注意ください。</p>
</section>

{% include 'forum/parts/bbcodes.html' %}

<section>
     <h2>利用上の注意</h2>
     <ul>
       <li>当サイトのフォーラムは、テストプレイヤーの皆様、管理者が利用できるフォーラムです。<br />
         当サイトとは関連のない書き込みはご遠慮ください。<br />
       しかし、<span class="caution">法律に反する書き込み</span>や<span class="caution">アラシ</span>等の行為に関しては、記事削除の対象となります。あまりにも酷い場合には、フォーラム利用の停止やゲーム停止もありえます。</li>
       <li>管理者側より見た「削除対象にはならないものの、注意が必要な記事」に関しては、こちらより「<span class="caution">警告</span>」をさせていただきます。<br />
         それでも何ら改善が見られない場合には、「記事の削除」や「処分」を下すこととなります。</li>
       <li>言葉遣いは基本的に自由としますが、管理者側から見てフォーラム利用上相応しくない発言については、その発言の禁止をさせていただきます。なお、自由ではありますが、節度ある行動を心がけるようにしてください。</li>
       <li>利用者の目から見て、あまりにも酷い書き込みやガイドライン、利用規約に反した書き込みがあった場合には、管理者側にメールにてご連絡下さい。<br />
         投稿内容を確認の後、判断させて頂きます。<br />
         また、自身の投稿に対して、別名による追加投稿など（いわゆる、自作自演行為）は禁止させて頂きます。 </li>
       <li>利用者同士のトラブルには、管理者側は一切の責任を負いかねます。</li>
       <li>書き込みの内容によっては無警告で削除しますのでご注意下さい。</li>
       <li>ログインを行うことで投稿することができます。</li>
       <li>スレッドのステータスを変更できるのは原則、スレッドの作成者のみが行うことができます（フィードバックのみ、ゲームマスター以外は変更できません）。</li>
       <li>ログインせずに投稿可能な「仲間募集」の掲示板では、ログインしないで投稿した場合「記事の編集」、「記事の削除」ができません。</li>
     </ul>
</section>

<section>
    <h2>アイコン説明</h2>
     <p> タイトルの左側に表示されているアイコンは、それぞれ以下のような意味で表示されています。</p>
     <dl class="icon-manual ui-inline-icon">
       <dt><span class="ui-icon ui-icon-star"></span></dt>
       <dd>新着のスレッド、または新着のレスが存在します。</dd>
       <dt><span class="ui-icon ui-icon-folder-collapsed"></span></dt>
       <dd>二日以内に投稿されたレスはありません。</dd>
       <dt><span class="ui-icon ui-icon-locked"></span></dt>
       <dd>現在このスレッドはロックされており、新たに投稿できません（回覧のみが許可されています）。</dd>
       <dt><span class="ui-icon ui-icon-info"></span></dt>
       <dd>管理者からのメッセージです。</dd>
     </dl>
</section>

<section>
     <h2>状態一覧</h2>
     <p>それぞれのフォーラムではスレッドの「状態」を表す表記があります。</p>
     <h3>仲間募集</h3>
     <table class="forum-list" summary="仲間募集掲示板の状態一覧です。" style="width:95%;">
       <tr>
         <th class="status">状態名</th>
         <th>解説</th>
       </tr>
       <tr>
         <td class="status">募集</td>
         <td>パーティメンバーを募集しています。</td>
       </tr>
       <tr>
         <td class="status">希望</td>
         <td>パーティメンバーにしてください。</td>
       </tr>
       <tr>
         <td class="status">締切</td>
         <td>パーティメンバーの募集、または参加希望を締め切りました。</td>
       </tr>
     </table>
     <h3>取引</h3>
     <table class="forum-list" summary="取引掲示板の状態一覧です。" style="width:95%;">
       <tr>
         <th class="status">状態名</th>
         <th>解説</th>
       </tr>
       <tr>
         <td class="status">販売</td>
         <td>アイテムの販売を行っています。</td>
       </tr>
       <tr>
         <td class="status">買取</td>
         <td>アイテムの買い取りを行っています。</td>
       </tr>
       <tr>
         <td class="status">貸出</td>
         <td>アイテムの貸し出しを行っています。</td>
       </tr>
       <tr>
         <td class="status">借入</td>
         <td>アイテムを貸してください。</td>
       </tr>
       <tr>
         <td class="status">合成請負</td>
         <td>アイテムの合成を請け負います。</td>
       </tr>
       <tr>
         <td class="status">合成依頼</td>
         <td>アイテムの合成をお願いします。</td>
       </tr>
       <tr>
         <td class="status">画像請負</td>
         <td>キャラクターの画像を描きます。</td>
       </tr>
       <tr>
         <td class="status">画像依頼</td>
         <td>キャラクターの画像を描いてください。</td>
       </tr>
       <tr>
         <td class="status">締切</td>
         <td>取引を終了しました。</td>
       </tr>
     </table>
     <h3>質問</h3>
     <table class="forum-list" summary="質問掲示板の状態一覧です。" style="width:95%;">
       <tr>
         <th class="status">状態名</th>
         <th>解説</th>
       </tr>
       <tr>
         <td class="status">質問</td>
         <td>疑問などを質問しています。</td>
       </tr>
       <tr>
         <td class="status">締切</td>
         <td>質問に回答があったため、締め切りました。</td>
       </tr>
     </table>
     <h3>ディスカッション</h3>
     <table class="forum-list" summary="質問掲示板の状態一覧です。" style="width:95%;">
       <tr>
         <th class="status">状態名</th>
         <th>解説</th>
       </tr>
       <tr>
         <td class="status">雑談</td>
         <td>雑談目的のスレッドです。</td>
       </tr>
       <tr>
         <td class="status">討論</td>
         <td>討論目的のスレッドです。</td>
       </tr>
       <tr>
         <td class="status">交流</td>
         <td>交流目的のスレッドです。</td>
       </tr>
       <tr>
         <td class="status">その他</td>
         <td>その他各種目的のスレッドです。</td>
       </tr>
       <tr>
         <td class="status">終了</td>
         <td>ロックされたスレッドです。</td>
       </tr>
     </table>
<h3>フィードバック</h3>
     <table class="forum-list" summary="バグレポートの状態一覧です。" style="width:95%;">
       <tr>
         <th class="status">状態名</th>
         <th>解説</th>
       </tr>
       <tr>
         <td class="status">バグ</td>
         <td>新たに登録されたバグです。</td>
       </tr>
       <tr>
         <td class="status">提案</td>
         <td>新たに登録された提案事項です。</td>
       </tr>
       <tr>
         <td class="status">受付済</td>
         <td>このフィードバックを受け付けました。または、報告者からのレスポンスを待っています。</td>
       </tr>
       <tr>
         <td class="status">対応待</td>
         <td>報告者からのレスポンスを待ってから対処を予定している項目です。</td>
       </tr>
       <tr>
         <td class="status">修正済</td>
         <td>次回以降、または再更新後に反映が予定されている内容です。反映されていなかった場合、さらなる報告が必要となる場合があります。</td>
       </tr>
       <tr>
         <td class="status">終了</td>
         <td>仕様、または修正される見込みがない、重複した内容、またはフィードバックにふさわしくないなど、何らかの理由で受付を終了した内容です。</td>
       </tr>
     </table>
</section>

{% endblock %}
