{% extends 'base/forum_base.html' %}
{% load breadcrumbs bbcodes %}

{% block title %}スレッド返信 | Grand Blaze{% endblock %}

{%block head%}
<link href="{{ MEDIA_URL }}/css/forum.css?{{publish_date}}" rel="stylesheet" type="text/css">
<link href="{{ MEDIA_URL }}/css/form.css?{{publish_date}}" rel="stylesheet" type="text/css">
{%endblock%}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "フォーラム" forum_index %}
{% breadcrumb_url forum.name forum_list forum.id %}
{% breadcrumb_url thread.title forum_thread_detail forum.id thread.id %}
{% breadcrumb "スレッド返信" %}

{% endblock %}


{% block maincontents %}
<h1>スレッド返信</h1>

{% if is_preview %}
<section>
    <ol class="post-list">
            <li>
                <div class="post-header ui-inline-icon">
                    <span class="ui-icon ui-icon-document"></span>
                    プレビュー
                </div>
                <div class="post-detail">
                    <div class="post-user">
                        <span class="user-name">{{ preview_data.user }}</span>
                    </div>
                    <div class="post-article">
                        {{ preview_data.body|bbcode|linebreaksbr }}
                    </div>
                </div>
            </li>
    </ol>
</section>
{% endif %}

<section>
    <form action="{% url forum_thread_reply forum.id thread.id %}" method="POST">
        {% csrf_token %}
    <div class="form-widget">
        <div>
    		<div class="value full-text">
    			<label for="id_body">
    				本文
    			</label>
    			{{ form.body }}
    			{{ form.body.errors }}
    		</div>
        </div>
        {% if request.user.id == thread.create_user_id or request.user.is_staff %}
        <div>
            <div class="key">
                <label for="id_forum_status">
                    状態
                </label>
            </div>
            <div class="value">
                {{ form.forum_status }}
                {{ form.forum_status.errors }}
            </div>
        </div>
        {% endif %}
        <div>
    		<div class="value value-only">
    			{{ form.preview }}
    			<label for="id_preview">
    				この返信をプレビューで表示
    			</label>
    		</div>
        </div>
        <div>
            <div class="value value-only">
                <input type="submit" value="スレッド返信" />
            </div>
        </div>
    </div>
    </form>
</section>

<section>
    <h2>
        返信先スレッド：{{ thread.title }}
    </h2>
    <p>
        最新の10件を表示しています。
    </p>
    <ol class="post-list">
        {% for article in article_list %}
            <li>
                {% include 'forum/parts/article_detail.html' %}
            </li>
        {% endfor %}
    </ol>
</section>

{% include 'forum/parts/bbcodes.html' %}

{% endblock %}
