{% extends 'base/playguide_base.html' %}
{% load breadcrumbs register_extras %}

{% block title %}{{ item_d.name }} | Grand Blaze{% endblock %}

{% block breadcrumbs %}

{% breadcrumb_url "トップ" root_index %}
{% breadcrumb_url "プレイガイド" playguide_index %}
{% breadcrumb_url "装備" playguide_item_equipment %}
{% breadcrumb item_d.name %}

{% endblock %}

{% block maincontents %}
<h1>{{ item_d.name }}</h1>

<section>
    <h2>{{ item_d.name }}(一部の販売品)</h2>
    <table class="guide-list" summary="クラスの習得スキルリストです。" style="width:95%;">
        <tr>
            <th>No.</th>
            <th>アイテム名</th>
            <th>価格</th>
        </tr>
        {% for item_data in item_datas %}
        <tr>
            <td rowspan="2" class="center">{{ item_data.id }}</td>
            <td>
                {{ item_data.name }}
            </td>
            <td>{{ item_data.it_price|sub_money }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ item_data.it_comment|safe }}</td>
        </tr>
        {% endfor %}
    </table>
</section>

{% endblock %}
